<ion-header class="group-header">
  <ion-navbar hideBackButton>
	  <div class="ic">
		  <ion-buttons left>
			  <button ion-button navPop icon-only>
				  <ion-icon name="ios-arrow-back" style="color: white;"></ion-icon>
			  </button>
		  </ion-buttons>
	  </div>
	<div class="text">
		<h2 style="text-align: center;"><span style="color: white;">{{ comp.title }}</span></h2>
	</div>
	<ion-searchbar (ionCancel)="cancelSearch($event)" showCancelButton="false" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<h2 class="page-title">Join Conversation On</h2>
	<ion-list>
		<ion-item *ngFor="let grp of getFilteredItems()" (click)="open_grp(grp.id)">
			<span text-wrap>{{ grp.title }}</span>
		</ion-item>
	</ion-list>

</ion-content>
<ion-footer *ngIf="role == 'admin'">
	<ion-grid>
		<ion-row>
		<ion-col col-12>
			<button class="create-channel-btn" (click)="createChannel()">Create Channel</button>
		</ion-col>
		</ion-row>
	</ion-grid>
	</ion-footer>
