page-groups {
	.toolbar-background {
		background: #7d0d3f;
	}
	.text {
		display: block;
		margin-bottom: 20px;
		h2 {
		  margin: 0;
		  font-size: 24px;
		}
	}
	.page-title {
		font-size: 24px;
		font-weight: 600;
		color: #7D0D3F;
		padding: 0 17px;
		margin-bottom: 30px;
	}
	.scroll-content {
		padding: 40px 10px 10px !important;
		background: #F2F2F2;
	}
	.group-header {
		background: #7d0d3f;
		.toolbar {
			padding-top: 10px;
		}
		.searchbar {
			padding: 0 15px;
			margin-bottom: 25px;
		  }
		.searchbar-input {
			box-shadow: none;
			font-size: 18px;
			background: rgba(142, 142, 147, 0.12);
			border-radius: 10px;
			color: #ffffff;
		}
	}

	.list {
		.item {
			box-shadow: 0px 9.8499px 14.7748px rgba(0, 0, 0, 0.05);
			border-radius: 3px;
			padding: 25px 17px;
			margin-bottom: 13px;
			min-height: auto;
			.item-inner {
				border: none;
			}
			.label {
				margin: 0;
			}
			span {
				display: block;
				font-size: 18px;
				color: #262626;
			}
		}
	}
}
.create-channel-btn {
	display: block;
	background-color: transparent;
	width: 100%;
	text-align: center;
	padding: 20px;
	font-size: 18px;
	
}
.footer {
	.grid {
		padding: 0;
		.col {
			padding: 0;
		}
	}
}

.searchbar-clear-icon {
	display: none !important;
}