.main-view {
    background-color: rgba($color: #7d0d3f, $alpha: .7);
    .scroll-content {
        display: flex;
        align-items: center;
        justify-content: center;
        .modal_content {
            width: 100%;
            padding: 30px 15px;
            h3 {
                margin-bottom: 20px;
            }
            .item-input {
                background-color: rgba(#7d0d3f, 1);
                border-bottom: 1px solid #7d0d3f;
                color: #fff;
                input {
                    &::placeholder {
                        color: #ffffff;
                    }
                }
            }
            .row {
                justify-content: space-around;
                button {
                    width: 100%;
                    display: block;
                    margin: 0;
                    background-color: #7d0d3f;
                    .button-inner {
                        display: flex;
                        align-items: center;
                        align-content: center;
                        line-height: 1;
                        ion-icon {
                            font-size: 1.4em;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}