page-filter {

#rounded {
  border-radius: 2px !important;
  border: 0.5px solid black; 
  margin-bottom: 5%;
}

.button_c {
  color: white;
  background: #7d0d3f;
  border-color: #7d0d3f;
  margin-bottom: 3%;
  width: 100%;
}

.radio-ios .radio-checked .radio-inner {
  border-color: #a8caea;
  height: 9px;
}

.radio-ios .radio-checked {
  border-radius: 50%;
  width: 21px;
  height: 21px;
  border-width: 1px;
  border-style: solid;
  border-color: #488aff;
  background-color: #488aff;
}

ion-select
{
  max-width: 100% !important;
  overflow: visible !important;
  padding-left:0px !important;
  width: 100%;
}

}
