<ion-header>

  <ion-navbar>
    <ion-title>Filter</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<br/>

	<div *ngIf="career" ion-fixed style="padding: 3%; background: white;">
		<h4 ><b>I would like to connect with someone who:</b></h4>
	</div>
	<div *ngIf="career">
		<br/><br/>

		<h5><b>Is in the below industry:</b></h5>
		<ion-item id="rounded">
		 	<ion-select [(ngModel)]="sel_industry" placeholder="Industry" (ionChange)="ind_selected()">
		  		<ion-option *ngFor="let i of industries" [value]="i">{{ i }}</ion-option>
		  	</ion-select>
		</ion-item>

		<ion-list radio-group [(ngModel)]="ind1" *ngIf="show_ind1">
			<ion-item *ngFor="let i of invest">
				<ion-label>{{ i }}</ion-label>
				<ion-radio item-left value="{{i}}"></ion-radio>
			</ion-item>
		</ion-list>

		<ion-list radio-group [(ngModel)]="ind2" *ngIf="show_ind2">
			<ion-item *ngFor="let i of tech">
				<ion-label>{{ i }}</ion-label>
				<ion-radio item-left value="{{i}}"></ion-radio>
			</ion-item>
		</ion-list>

		<ion-list radio-group [(ngModel)]="ind3" *ngIf="show_ind3" style="margin-top: 2%;">
			<ion-item text-wrap>
				<ion-label>Frontoffice</ion-label>
				<ion-radio item-left value="Frontoffice" (ionSelect)="radioChecked2()"></ion-radio>
			</ion-item>
			<ion-item text-wrap>
				<ion-label>Middleoffice</ion-label>
				<ion-radio item-left value="Middleoffice" (ionSelect)="radioChecked2()"></ion-radio>
			</ion-item>
			<ion-item text-wrap>
				<ion-label>Backoffice</ion-label>
				<ion-radio item-left value="Backoffice" (ionSelect)="radioChecked2()"></ion-radio>
			</ion-item>
		</ion-list>

		<ion-list radio-group [(ngModel)]="finance_level" *ngIf="show_finance">
			<ion-item *ngFor="let i of finance;let in=index;">
				<ion-label text-wrap>{{ i }}</ion-label>
				<ion-radio item-left value="{{i}}"></ion-radio>
			</ion-item>
		</ion-list>

		<h5><b>Is part of the below community:</b></h5>
		<ion-item id="rounded">
		 	<ion-select [(ngModel)]="community" placeholder="Community" (ionChange)="ind_selected()">
		  		<ion-option [value]="0">ElevatHer Fintech</ion-option>
		  		<ion-option [value]="1">ElevatHer Tech</ion-option>
		  		<ion-option [value]="2">ElevatHer Insurance</ion-option>
		  		<ion-option [value]="3">ElevatHer Finance</ion-option>
		  		<ion-option [value]="4">ElevatHer Founders</ion-option>
		  	</ion-select>
		</ion-item>

		<h5><b>Is working in a company that is a/an:</b></h5>
		<ion-list>
			<ion-item *ngFor="let company of company_size; let i=index" name="c_size" text-wrap> 
				<ion-label>{{ company }}</ion-label>
				<ion-checkbox value="i" [checked]="check.includes(i)" (ionChange)="update1(i, $event)"></ion-checkbox>
			</ion-item>
		</ion-list>

		<h5><b>Level:</b></h5>
		<ion-list radio-group [(ngModel)]="level">
			<ion-item>
				<ion-radio item-left value="senior"></ion-radio>
				<ion-label>Is senior to me</ion-label>
			</ion-item>
			<ion-item>
				<ion-radio item-left value="same"></ion-radio>
				<ion-label>Is the same level as me</ion-label>
			</ion-item>
			<ion-item>
				<ion-radio item-left value="junior"></ion-radio>
				<ion-label>Is junior to me</ion-label>
			</ion-item>
		</ion-list>

		<h5><b>Mentor:</b></h5>
		<ion-item>
			<ion-label>Is a mentor</ion-label>
			<ion-checkbox [checked]="check_mentor" (ionChange)="change_ment($event)"></ion-checkbox>
		</ion-item>

		<h5><b>Skill:</b></h5>
		<ion-list>
			<ion-item *ngFor="let bl of bl_array; let i=index" text-wrap> 
				<ion-label>{{ bl }} <span *ngIf="i==2">{{ teach_on }}</span></ion-label>
				<ion-checkbox value="i" [checked]="check1.includes(i)" (ionChange)="update3(i, $event)"></ion-checkbox>
			</ion-item>
		</ion-list>
		<ion-item id="rounded">
		 	<ion-select [(ngModel)]="skill" placeholder="Skill">
		  		<ion-option *ngFor="let i of all_skills" [value]="i">{{ i }}</ion-option>
		  	</ion-select>
		</ion-item>

		<h5><b>Location:</b></h5>
		<ion-list radio-group [(ngModel)]="location">
			<ion-item text-wrap>
				<ion-radio item-left value="city"></ion-radio>
				<ion-label>Is based in the same city as me</ion-label>
			</ion-item>
			<ion-item>
				<ion-radio item-left value="globally"></ion-radio>
				<ion-label>Is based outside of my city</ion-label>
			</ion-item>
		</ion-list>

		<h5><b>Must Have:</b></h5>
		<ion-list>
			<ion-item *ngFor="let crt of criteria; let i=index" name="s_criteria" text-wrap>
				<ion-label>{{ crt }}</ion-label>
				<ion-checkbox value="i" [checked]="checked.includes(i)" (ionChange)="update2(i, $event)"></ion-checkbox>
			</ion-item>
		</ion-list>
	</div>

	<div *ngIf="hobby">
		<h5><b>Connect on your hobbies/Interests:</b></h5>
		<ion-list>
			<ion-label>Extracurriculars:</ion-label>
			<ion-item *ngFor="let hob of hobbies2; let i=index" name="s_hobby" text-wrap>
				<ion-label [innerHTML]="hob"></ion-label>
				<ion-checkbox value="hob" [checked]="hob_check.includes(hob)" (ionChange)="update_h(hob, $event)"></ion-checkbox>
			</ion-item>
			<ion-label>Hobbies:</ion-label>
			<ion-item *ngFor="let hob of hobbies; let i=index" name="s_hobby" text-wrap>
				<ion-label>{{ hob }}</ion-label>
				<ion-checkbox value="hob" [checked]="hob_check.includes(hob)" (ionChange)="update_h(hob, $event)"></ion-checkbox>
			</ion-item>
		</ion-list><br/>
		<ion-range min="1" max="100" [(ngModel)]="distance" pin="true" color="secondary">
			<ion-label range-left>1</ion-label>
		    <ion-label range-right>100</ion-label>
		</ion-range>
		<h5 style="text-align: center;">Distance: {{ distance }} mile</h5><br/><br/>
		<div class="form-group">
        	<input style="padding: 5%; width: 100%;" placeholder="Search for location" [(ngModel)]="address" autocorrect="off" autocapitalize="on" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      	</div>
	</div><br/>

	<div *ngIf="proximity">
		<h4><b>Who is currently around me?</b></h4>
		<ion-range min="5" max="100" [(ngModel)]="distance" pin="true" color="secondary">
			<ion-label range-left>5</ion-label>
		    <ion-label range-right>100</ion-label>
		</ion-range>
		<h5 style="text-align: center;">Distance: {{ distance }} km</h5><br/><br/>
		<div class="form-group">
        	<input style="padding: 5%; width: 100%; border-color: black; border-width: 1px;" [(ngModel)]="address" placeholder="Search for location" autocorrect="off" autocapitalize="on" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      	</div>
	</div><br/>

</ion-content>

<ion-footer *ngIf="career">
	<ion-row>
		<ion-col col-6><button outline ion-button class="button_c" (click)="closeModal()">Cancel</button></ion-col>
		<ion-col col-6><button outline ion-button class="button_c" (click)="ap_career()">Apply</button></ion-col>
	</ion-row>
</ion-footer>

<ion-footer *ngIf="hobby">
	<ion-row>
		<ion-col col-6><button outline ion-button class="button_c" (click)="closeModal()">Cancel</button></ion-col>
		<ion-col col-6><button outline ion-button class="button_c" (click)="ap_hobby()">Apply</button></ion-col>
	</ion-row>
</ion-footer>

<ion-footer *ngIf="proximity">
	<ion-row>
		<ion-col col-6><button outline ion-button class="button_c" (click)="closeModal()">Cancel</button></ion-col>
		<ion-col col-6><button outline ion-button class="button_c" (click)="ap_proxim()">Apply</button></ion-col>
	</ion-row>
</ion-footer>
