page-chat_list {

.toolbar-background {
    background: #7d0d3f;
}

.toolbar-title {
    color: #eee;
}

.label h2 {
	margin-top: 0px !important;
}

.old {
    background: white;
}

.new {
    background: #f7e4e4;
    font-weight: bold;
}

.text {
  display: -webkit-box;
}

.ic {
  width: 13%;
  float: left;
}

.title_cl {
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
	width: 176px;
	color: white;
}

.scroll_b {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  opacity: 0.9;
  background: white;
  color: #7d0d3f;
  border: solid 1px #7d0d3f;
  bottom: 5%;
  right: 5%;
  display: block;
  position: absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.abc_ios {
  width: 84%;
  left: 15%;
  position: relative;
  z-index: 9999;
  margin-top: 13% !important;
  overflow-y: scroll;
  max-height: 60%;
  border: solid 1px;
}

.abc_md {
  width: 81%;
  left: 18%;
  position: relative;
  z-index: 9999;
  margin-top: 51px !important;
  overflow-y: scroll;
  max-height: 60%;
  border: solid 1px;
}

}
