<ion-header>
  <ion-navbar>

    <ion-title *ngIf="!search" style="text-align: center;"><ion-icon name="chatboxes"></ion-icon>&nbsp;Messages<a (click)="srch()"><ion-icon name="search" style="color: white; zoom: 1.0; float: right;"></ion-icon></a></ion-title>
    <ion-buttons left>
      <button ion-button menuToggle icon-only *ngIf="!search">
        <ion-icon name="menu" style="color: white;"></ion-icon>
      </button>
      <button *ngIf="search" ion-button clear (click)="getMessages()" style="margin-left: 10%;">
        <ion-icon name="close" style="color: white; zoom: 2.0;"></ion-icon>
      </button>
    </ion-buttons>

    <!--<ion-row *ngIf="search" style="float: right; width: 95%; margin-right: 4%;">
      <ion-col col-10 style="padding: 0;">-->
        <ion-searchbar *ngIf="search" [(ngModel)]="myInput" (ionInput)="setFilteredItems()" (ionCancel)="noItems()" style="float: right; width: 92%;background: white;"></ion-searchbar>
      <!--</ion-col>
    </ion-row>-->

  </ion-navbar>
</ion-header>

<div [ngClass]="is_ios ? 'abc_ios' : 'abc_md'" *ngIf="showdiv">
  <ion-item *ngFor="let item of items">
    <a style="color: #7d0d3f;" (click)="joinRoom(uid, item.friend_id, item.firstname, item.lastname, item.thread_id)" text-wrap><b>{{item.firstname}} {{item.lastname}}</b></a>
  </ion-item>
</div>

<ion-content padding>
  <button ion-fixed ion-button (click)="scroll_page_up()" class="scroll_b"><ion-icon name="arrow-up"></ion-icon></button>
  <h3 *ngIf="noshow" style="color: #7d0d3f; text-align: center; margin-top: 10%;">No Messages</h3>
  <ion-list *ngIf="!noshow">
    <ng-container *ngIf="fetchedData">
      <div *ngFor="let room of fetchedData | sort: 'date': true; let i=index">
        <ng-container *ngIf="room !== 'no'">
          <ion-item *ngIf="room.friends !== 'no'" (click)="joinRoom(room.sender_id, room.receiver_id, room.firstname, room.lastname, room.thread_id)" [ngClass]="room.read_stat==0&&room.receiver_id==uid ? 'new' : 'old'">        
            <ion-avatar item-start>
              <img src={{room.img}}/>
            </ion-avatar>
            <h2 style="float: left;">{{room.firstname}} {{room.lastname}}</h2>
            <p style="float: right;">{{ room.date }}</p>
          </ion-item>
        </ng-container>
      </div>
    </ng-container>
  </ion-list>
</ion-content>