page-list {

.toolbar-background {
  background: #7d0d3f;
}

ion-card {
  padding: 2% 2% 2% 2%;
}

.card-content {
  padding: 2% 2% !important;
}

.card p {
  font-size: 12px;
}

.scroll_b {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  opacity: 0.9;
  background: white;
  color: #7d0d3f;
  border: solid 1px #7d0d3f;
  bottom: 5%;
  right: 5%;
  display: block;
  position: absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.abc_ios {
  width: 68%;
  left: 19%;
  position: relative;
  z-index: 9999;
  margin-top: 90px !important;
  overflow-y: scroll;
  max-height: 60%;
  border: solid 1px;
}

.abc_md {
  width: 64%;
  left: 21%;
  position: relative;
  z-index: 9999;
  margin-top: 51px !important;
  overflow-y: scroll;
  max-height: 60%;
  border: solid 1px;
}

.ios_col {
  padding: 0;
  display: block;
  margin-top: 0px;
  text-align: center;
}

.md_col {
  padding: 0;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

ion-title {
  padding: 0 !important;
}

a {
  color: #7d0d3f;
}

.text {
  display: -webkit-box;
}

.ic {
  width: 13%;
  float: left;
}

}
