<ion-header>
  <ion-navbar hideBackButton *ngIf="articles">
    <button *ngIf="!search" clear ion-button navPop icon-only style="float: left;">
      <ion-icon name="ios-arrow-back" style="color: white;"></ion-icon>
    </button>
    <button *ngIf="search" ion-button clear (click)="open_articles()" style="width: 0%; float: left;">
      <ion-icon name="close" style="color: white; zoom: 2.0;"></ion-icon>
    </button>
    <ion-row *ngIf="!search">
      <ion-col col-10 [ngClass]="is_ios ? 'ios_col' : 'md_col'">
        <ion-title *ngIf="!search" ><span style="color: white;">{{ field }}</span></ion-title>
      </ion-col>
      <ion-col col-2>
        <button ion-button *ngIf="!search" (click)="srch()" style="color: #7d0d3f; background: white;" ><ion-icon name="search"></ion-icon></button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="search" style="float: right; width: 85%;">
      <ion-col col-10 style="padding: 0;">
        <ion-searchbar *ngIf="search" [(ngModel)]="myInput" (ionInput)="setFilteredItems()" (ionCancel)="noItems()" style="float: right; width: 92%;background: white;"></ion-searchbar>
      </ion-col>
      <ion-col col-2>
        <button ion-button *ngIf="search" (click)="search_key()" style="color: #7d0d3f; background: white; margin: 0; height: 100%;"><ion-icon name="search"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-navbar>
  <ion-navbar hideBackButton *ngIf="inspi_women||news||podcast">
    <ion-title style="text-align: center;"><span style="color: white;">{{ field }}</span></ion-title>
    <ion-buttons left>
      <button clear ion-button navPop icon-only style="float: left;">
        <ion-icon name="ios-arrow-back" style="color: white;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

  <div [ngClass]="is_ios ? 'abc_ios' : 'abc_md'" *ngIf="showdiv">
    <ion-list>
      <ion-item *ngFor="let item of items">
        <a (click)="openBlog(item.feature_of_month_id)" text-wrap><b>{{item.title}}</b></a>
      </ion-item>
    </ion-list>
  </div>

<ion-content>

  <button ion-fixed ion-button *ngIf="!empty" (click)="scroll_page_up()" class="scroll_b"><ion-icon name="arrow-up"></ion-icon></button>

  <div *ngIf="inspi_women">
    <h4 *ngIf="empty" style="margin-left: 3%; color: #7d0d3f; text-align: center;">None found</h4>
    <div *ngFor="let a of arr">
      <ion-card padding style="padding: 2% !important;">
        <a (click)="openMag(a.id)"><img [src]="a.img" style="margin-bottom: 3%;"></a>
        <a (click)="openMag(a.id)"><h2 text-wrap style="color: #7d0d3f;"><b>{{ a.name }}</b></h2></a>
      </ion-card>
    </div>
    <div *ngFor="let blog of blogs">
      <ion-card padding style="padding: 2% !important;">
        <a (click)="openBlog(blog.feature_of_month_id)"><img [src]="blog.media" style="margin-bottom: 3%;"></a>
        <a (click)="openBlog(blog.feature_of_month_id)"><h2 text-wrap style="color: #7d0d3f;"><b>{{ blog.title }}...</b></h2></a>
        <ion-card-content>
          <p text-justify style="font-size: 9px !important;" [innerHTML] = "blog.short_description"></p>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngIf="news">
    <br/><br/>
    <h4 *ngIf="empty" style="margin-left: 3%; color: #7d0d3f; text-align: center;">None found</h4>
    <div *ngFor="let a of arr">
      <ion-card padding style="padding: 5% !important; margin-bottom: 7%;">
        <a (click)="openLetter(a.content)"><h2 text-wrap style="color: #7d0d3f;"><b>{{ a.title }}</b></h2></a>
      </ion-card>
    </div>
  </div>

  <div *ngIf="podcast">
    <br/><br/>
    <h4 *ngIf="empty" style="margin-left: 3%; color: #7d0d3f; text-align: center;">None found</h4>
    <div *ngFor="let a of arr">
      <ion-card padding style="padding: 5% !important; margin-bottom: 7%;">
        <a (click)="openPod(a.link)"><h2 text-wrap style="color: #7d0d3f;"><b>{{ a.title }}</b></h2></a>
      </ion-card>
    </div>
  </div>

  <div *ngIf="articles">
    <h4 *ngIf="empty" style="margin-left: 3%; color: #7d0d3f; text-align: center;">None found</h4>
    <div *ngFor="let blog of blogs">
      <ion-card padding style="padding: 2% !important;">
        <a (click)="openBlog(blog.feature_of_month_id)"><img [src]="blog.media" style="margin-bottom: 3%;"></a>
        <a (click)="openBlog(blog.feature_of_month_id)"><h2 text-wrap style="color: #7d0d3f;"><b>{{ blog.title }}...</b></h2></a>

        <ion-card-content>
          <p text-justify style="font-size: 9px !important;" [innerHTML] = "blog.short_description"></p>
        </ion-card-content>

      </ion-card>
    </div>
  </div>

</ion-content>
