<ion-header>

  <ion-navbar hideBackButton>
    <ion-title style="text-align: center;"><span style="color: white;">Edit</span></ion-title>
    <ion-buttons left>
	    <button ion-button (click)="closeModal()" icon-only>
	        <ion-icon name="ios-arrow-back" style="color: white;"></ion-icon>
	    </button>
	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<div class="degree">
		<h5 style="text-align: center; color: white;">Education Details</h5>
	</div>

	<ion-card padding>

		<ion-item id="rounded">
			<ion-input [(ngModel)]="degree" placeholder="Institution/Board"></ion-input>
		</ion-item>
		<ion-item id="rounded">
			<ion-input [(ngModel)]="uni" placeholder="Course/Qualification"></ion-input>
		</ion-item>
		<ion-item id="rounded">
			<ion-label style="padding-left: 3%;">Year</ion-label>
			<ion-select [(ngModel)]="ed_year">
				<ion-option *ngFor="let y of years" [value]="y">{{ y }}</ion-option>
			</ion-select>
		</ion-item>
		<!--<ion-item id="rounded">
			<ion-input [(ngModel)]="loc" placeholder="Location"></ion-input>
		</ion-item>-->
		<div class="form-group">
        	<input style="padding: 5%; width: 100%; border-color: lightgray; border-width: 1px; margin-bottom: 4%;" placeholder="Search for location"  [(ngModel)]="address" autocorrect="off" autocapitalize="on" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      	</div>
		<!--<ion-item id="rounded">
			<ion-input [(ngModel)]="result" placeholder="Results"></ion-input>
		</ion-item>-->

		<button ion-button round outline (click)="edit()" class="add_b">Update</button>

	</ion-card>

</ion-content>
