<ion-header>
  <ion-navbar hideBackButton>
    <ion-title style="padding-right: 2% !important; padding-left: 0%; text-align: center;">
      <a (click)="openPage(receiverId)">{{nickname}}</a>
    </ion-title>
    <ion-buttons left>
      <button ion-button navPop icon-only>
                <ion-icon name="ios-arrow-back" style="color: #7d0d3f;"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button icon-only clear style="color: black;" (click)="presentPopover($event, receiverId, fn, blocked)">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="chats">
    <ion-item *ngFor="let chat of chats; let i=index" no-lines>
      <div class="date_div" *ngIf="dts[i]=='1'">
        <p style="text-align: center; color: black;">{{ dates[i] }}</p>
      </div>
      <div class="chat-status" text-center *ngIf="chat.type==='join'||chat.type==='exit';else message">
        <span class="chat-date">{{chat.date}}</span>
        <span class="chat-content-center">{{chat.message}}</span>
      </div>
      <ng-template #message>
        <div class="chat-message" text-right *ngIf="chat.sender_id === user_id">
          <div class="right-bubble">
            <span class="msg-name">Me</span>
            <span class="msg-date">{{chat.date.slice(11,19)}}</span>
            <p text-wrap style="color: white;">{{chat.message}}</p>
          </div>
        </div>
        <div class="chat-message" text-left *ngIf="chat.sender_id !== user_id">
          <div class="left-bubble">
            <span class="msg-name" style="color: #7d0d3f;">{{nickname}}</span>
            <span class="msg-date">{{chat.date.slice(11,19)}}</span>
            <p text-wrap>{{chat.message}}</p>
          </div>
        </div>
      </ng-template>
    </ion-item>
    <ion-row *ngIf="show">
        <ion-col col-6>
          <button ion-button class="button_cl" (click)="accept()">Accept</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button class="button_cl" (click)="reject()">Reject</button>
        </ion-col>
    </ion-row>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-9>
        <button ion-button clear style="float: left;" icon-only (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'top'"
  (emojiPickerSelect)="handleSelection($event)" [disabled]="show_button">
          <ion-icon name="md-happy" style="color: #7d0d3f;"></ion-icon>
        </button>
        <ion-textarea rows="3" item-right style="float: right; width: 76%; border: solid 1px lightgray;" autocomplete="on" autocorrect="on" spellcheck="true" [placeholder]="showMsg" #input [(ngModel)]="data.message" name="message"></ion-textarea>
      </ion-col>
      <ion-col col-3>
        <button ion-button class="button_c" (click)="sendMessage()" [disabled]="show_button">
          Send
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>