page-chat_room {
    platform-mobile textarea.text-input {
        resize: vertical !important;
    }
    ion-content {
        background: url(../assets/imgs/splash.jpg) no-repeat center center fixed;
        background-size: cover;
        background-blend-mode: multiply;
        height: 100%;
        overflow: hidden;
        .item-md,
        .item-ios {
            background: none;
        }
    }
    h6 {
        margin: 0px;
    }
    a {
        color: #7d0d3f;
    }
    ion-footer {
        background: white;
        ion-icon {
            padding: 10px;
            font-size: 20px;
            color: green;
        }
    }
    .button_c {
        color: white;
        background: #7d0d3f;
        width: 70%;
        float: right;
    }
    .button_cl {
        width: 100%;
        color: white;
        background: #7d0d3f;
    }
    .date_div {
        background: #d4d4d4;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4%;
        border-radius: 14px;
        padding: 5px;
    }
    .chat-status {
        min-height: 49px;
        .chat-date {
            display: block;
            font-size: 10px;
            font-style: italic;
            color: #000;
            // text-shadow: 0px -1px 0px #222, 0px 1px 0px #aaa;
            height: 15px;
            left: 10%;
            right: 10%;
        }
        .chat-content-center {
            padding: 5px 10px;
            background-color: #e1e1f7;
            border-radius: 6px;
            font-size: 12px;
            color: #555;
            height: 34px;
            left: 10%;
            right: 10%;
        }
    }
    .chat-message {
        width: 80%;
        min-height: 40px;
        .right-bubble {
            position: relative;
            background: #7d0d3f;
            color: lightblue;
            border-top-left-radius: .4em;
            border-bottom-left-radius: .4em;
            border-bottom-right-radius: .4em;
            padding: 5px 10px 10px;
            left: 15%;
            span.msg-name {
                font-size: 12px;
                font-weight: bold;
                color: lightblue;
            }
            span.msg-date {
                font-size: 10px;
            }
        }
        .right-bubble:after {
            content: '';
            position: absolute;
            right: 0;
            top: 27%;
            width: 0;
            height: 0;
            border: 27px solid transparent;
            border-left-color: #7d0d3f;
            border-right: 0;
            border-top: 0;
            margin-top: -13.5px;
            margin-right: -27px;
        }
        .left-bubble {
            position: relative;
            background: #ffffff;
            border-top-right-radius: .4em;
            border-bottom-left-radius: .4em;
            border-bottom-right-radius: .4em;
            padding: 5px 10px 10px;
            left: 5%;
            span.msg-name {
                font-size: 12px;
                font-weight: bold;
                color: blue;
            }
            span.msg-date {
                font-size: 10px;
            }
        }
        .left-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 27%;
            width: 0;
            height: 0;
            border: 27px solid transparent;
            border-right-color: #ffffff;
            border-left: 0;
            border-top: 0;
            margin-top: -13.5px;
            margin-left: -27px;
        }
    }
    ion-footer{
        .text-input{
            color: #000;
            &::placeholder {
                color: #000;
            }
        }
    }
}