<ion-header>

  <ion-navbar style="background-color: #7d0d3f;">
	<div>
      <div class="ic">
        <button ion-button menuToggle>
          <ion-icon name="menu" style="color: white;"></ion-icon>
        </button>
      </div>
      <div class="text">
        <ion-title><span class="title_cl"><ion-icon name="person"></ion-icon>&nbsp;Profile</span></ion-title>
      </div>
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<div class="basic">
		<img [src]="img" class="prof_img" onError="this.src='../../../assets/imgs/profile_pic.png';" alt="profile Img">
	</div>
	<p style="text-align:center;"><button ion-button (click)="edit_image()" style="color:white;background:#7d0d3f;"><ion-icon name="create"></ion-icon>&nbsp;Change Picture</button></p>

	<h4 style="text-align: center; margin-bottom: 0; font-size: 1.7rem; font-weight: 700;">{{ name }} {{ lname }} &nbsp;<a (click)="edit_name()"><ion-icon name="create" style="color: #7d0d3f;"></ion-icon></a></h4>
	<h5 style="text-align: center; margin-top: 3px; margin-bottom: 3px; color: #7d0d3f;">{{ location }} &nbsp;<a (click)="edit_loc()"><ion-icon name="create" style="color: #7d0d3f;"></ion-icon></a></h5>
    <h5 style="color: #bdbdbd; text-align: center; margin-bottom: 0; margin-top: 0;color: #8d8a8a; font-size: 1.5rem; font-weight: 600;">{{ company }}</h5>
	<h5 style="color: #bdbdbd; text-align: center; margin-top: 0;">{{ job }}</h5>
	<h5 style="color: black; text-align: center; margin-top: 0; margin-bottom: 0; font-size: 1.5rem; font-weight: 600;">{{ question }}&nbsp;<a (click)="edit_qst()"><ion-icon name="create" style="color: #7d0d3f;"></ion-icon></a></h5>
	<h5 style="color: #bdbdbd; text-align: center; margin-top: 0;">{{ answer }}</h5>
	<br/><br/>

	<ion-card no-padding>
		<ion-list no-padding>
			<ion-item text-wrap (click)="toggleGroup(1)" class="box">
				<ion-row [ngClass]="isGroupShown(1) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b style="padding-left: 5%;">Career Profile</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(1) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(1)">
					<div *ngIf="!show_c">
						<ion-item *ngFor="let car of career; let i=index" class="item_c">
							<div class="info" *ngIf="!show_c">
								<p class="space" *ngIf="car.industry!=0"><b>{{ car.industry }}</b></p>
								<p class="space">{{ car.company_name }}, {{ car.locations }}</p>
								<p class="space" *ngIf="car.comp_descrip!=''">{{ car.comp_descrip }}</p>
								<p class="space"><b>{{ car.job_title }}</b></p>
								<p class="space">{{ car.level }}</p>
								<p class="space"><b>{{ car.start_month }}-{{ car.start_year }} - {{ endtime[i] }}</b></p><br/>
								<p class="space" *ngIf="skill!=null">Skill - {{ skill }}</p>
							</div>
							<div class="edit" *ngIf="!show_c">
								<ion-row>
									<ion-col col-6>
										<button ion-button clear (click)="edit_career(i)" class="button_c"><ion-icon name="create" style="color: #7d0d3f;"></ion-icon></button>
									</ion-col>
									<ion-col col-6>
										<button ion-button clear (click)="del_career(car.career_id)" class="button_c"><ion-icon name="trash" style="color: #7d0d3f;"></ion-icon></button>
									</ion-col>
								</ion-row>
							</div>
						</ion-item>
					</div>
					<div class="item_c" *ngIf="show_c">
						<p style="padding-top: 2%; padding-bottom: 2%;" class="space">No information available</p>
					</div>
					<button ion-button *ngIf="show_c_button" class="add_button" (click)="add_car()">Add More</button>
					<button ion-button *ngIf="!show_c_button" class="add_button" (click)="add_car1()">Add</button>
				</div>
			</ion-item>

			<ion-item text-wrap (click)="toggleGroup(2)" class="box">
				<ion-row [ngClass]="isGroupShown(2) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b style="padding-left: 5%;">Further Qualifications</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(2) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(2)">
					<div *ngIf="!show_e">
					<ion-item *ngFor="let edu of education; let i=index" class="item_c">
						<div class="info" *ngIf="!show_e">
							<p class="space"><b>{{ edu.degree }}</b></p>
							<p class="space">{{ edu.university }}</p>
							<p class="space">{{ edu.year }}</p>
							<p class="space">{{ edu.country }}</p>
						</div>
						<div class="edit" *ngIf="!show_e">
							<ion-row>
								<ion-col col-6>
									<button ion-button clear (click)="edit_edu(i)" class="button_c"><ion-icon name="create" style="color: #7d0d3f;"></ion-icon></button>
								</ion-col>
								<ion-col col-6>
									<button ion-button clear (click)="del_edu(edu.education_id)" class="button_c"><ion-icon name="trash" style="color: #7d0d3f;"></ion-icon></button>
								</ion-col>
							</ion-row>
						</div>
					</ion-item>
					</div>
					<div class="item_c" *ngIf="show_e">
						<p style="padding-top: 2%; padding-bottom: 2%;" class="space">No information available</p>
					</div>
					<button ion-button class="add_button" (click)="add_edu()">Add More</button>
				</div>
			</ion-item>

			<ion-item text-wrap (click)="toggleGroup(3)" class="box">
				<ion-row [ngClass]="isGroupShown(3) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b style="padding-left: 5%;">Interest/Hobbies</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(3) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(3)">
					<ion-item class="item_c">
						<div class="info">
							<p class="space" *ngFor="let hob of hobbies" [innerHTML]="hob"></p>
						</div>
						<div class="edit1">
							<button ion-button clear (click)="edit_hob()" class="button_c"><ion-icon name="create" style="color: #7d0d3f;"></ion-icon></button>
						</div>
					</ion-item>
				</div>
			</ion-item>

			<ion-item text-wrap (click)="toggleGroup(4)" class="box">
				<ion-row [ngClass]="isGroupShown(4) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b style="padding-left: 5%;">Profile Questions</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(4) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(4)">
					<ion-item class="item_c">
						<div class="info">
							<div class="space">
								<h5><b>Are you a working mother?</b></h5>
								<p>{{ d1 }}</p><br/>
								<h5><b>Are you currently on maternity leave?</b></h5>
								<p>{{ d2 }}</p><br/>
								<h5><b>Do you consent with ElevatHer sending you emails?</b></h5>
								<p>{{ d3 }}</p><br/>
								<h5><b>Have you changed industries in your career path?</b></h5>
								<p>{{ d4 }}</p><br/>
								<h5><b>Have you relocated with work?</b></h5>
								<p>{{ d5 }}</p><br/>
								<h5><b>Do you want to be a mentor?</b></h5>
								<p>{{ d6 }}</p><br/>
								<h5><b>Have you studied further/ additional qualifications?</b></h5>
								<p>{{ d7 }}</p>
							</div>
						</div>
						<div class="edit">
							<button ion-button clear (click)="edit_qst()" class="button_c"><ion-icon name="create" style="color: #7d0d3f;"></ion-icon></button>
						</div>
					</ion-item>
				</div>
			</ion-item>

			<ion-item text-wrap (click)="toggleGroup(5)" class="box">
				<ion-row [ngClass]="isGroupShown(5) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b style="padding-left: 5%;">Change Password</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(5) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(5)">
					<ion-item class="item_c">
                        <p style="margin-left: 6%;"><b>To change password <a (click)="ch_pw()">click here</a></b></p>
					</ion-item>
				</div>
			</ion-item>

			<ion-item text-wrap (click)="toggleGroup(6)" class="box">
				<ion-row [ngClass]="isGroupShown(6) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b style="padding-left: 5%;">Community</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(6) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(6)">
					<p *ngIf="arr12==''" style="margin-left: 5%; margin-top: 4%;"><b>None</b></p>
					<ion-item class="item_c">
						<div class="info">
							<div class="space" *ngFor="let q of arr12">
								<p style="float: left;">{{ q.company }} - {{ q.sector }}</p>
								<!--<p *ngIf="arr12==''">None</p>-->
							</div>
						</div>
						<div style="padding-top: 0; float: right; width: 12%;" >
							<button ion-button clear (click)="joinMore()" class="button_c"><ion-icon style="zoom: 1.8; font-weight: bold;" name="add"></ion-icon></button>
						</div>
					</ion-item>
				</div>
			</ion-item>
			<ion-item text-wrap (click)="toggleGroup(7)" class="box">
				<ion-row [ngClass]="isGroupShown(7) ? 'color' : 'no_color'">
					<ion-col col-10 style="padding-left: 5%;">
						<b>Deactivate account/ Withdraw consent</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right name="trash"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(7)">
					<ion-item class="item_c">
						<div class="info">
							<div class="space">
								<h5><b>This is an irreversible action. We will delete your entire data from the server.</b></h5>
							</div>
						</div>
					</ion-item>
					<button ion-button class="add_button" (click)="delete_all()">Continue</button>
				</div>
			</ion-item>
		</ion-list>

	</ion-card><br/>
	<a (click)="logout()"><h6 style="text-align: center; color: #7d0d3f; margin-bottom: 4%;">Logout</h6></a>

</ion-content>
