page-view-profile {

b {
	display: block;
	width: 100%;
}

.add_button {
	background-color: #7d0d3f;
	color: white;
	left: 38%;
}

.text {
  display: -webkit-box;
}

.ic {
  width: 13%;
  float: left;
}

.title_cl {
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
	width: 176px;
	color: white;
}

.prof_img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-radius: 50%;
}

.basic {
	height: 15%;
	margin-top: 10%;
}

.basic1 {
	height: 8%;
}

.card-md {
  	margin: 0;
  	width: 100%;
}

.color {
	background-color: #7d0d3f;
	color: white;
	padding-top: 4%;
}

.no_color {
	background-color: white;
	color: #7d0d3f;
	padding-top: 4%;
}

.button_c {
  color: #7d0d3f;
  padding: 0;
}

.edit {
	width: 15%;
    float: right;
    padding-top: 6%;
}

.edit1 {
	width: 15%;
    float: right;
}

.info {
	width: 80%;
	float: left;
	margin-top: 3%;
}

.space {
	margin-left: 6%;
}

.item_c {
	margin: 2% 0% 2% 2%;
	width: 96%;
	background: #e0e0e0;
}

.box {
	border: 1px solid lightgrey;
}

.toolbar-background, toolbar-background {
	background: #7d0d3f;
}

ion-app [padding] {
    padding: 0px !important;
}

.item {
	padding-left: 0 !important;
}

.item.item-block .item-inner {
    padding-right: 0 !important;
}

.label {
	margin-right: 0 !important;
	margin-top: 0 !important;
}

.item- p {
	line-height: 20px;
}

#round {
  border-radius: 0px !important;
  border: 1px solid lightgrey; 
  margin-bottom: 5%;
  width: 94%;
  margin-left: 3%;
  margin-top: 2%;
}

.bar-button-default, .bar-button-clear-default, .bar-button-default {
  color: white;
}

}
