page-modify-community {

.toolbar-background {
  background: #7d0d3f;
}

.button_c {
  margin-left: 37%;
  margin-top: 7%;
  background: #7d0d3f; 
  color: white;
}

.scroll-content {
	padding: 0 !important;
}
	
}
