<ion-header>
  <ion-navbar style="background-color: #7d0d3f;" hideBackButton>
    <ion-title style="text-align: center;"><span style="color: white;">{{ opt }}</span></ion-title>
    <ion-buttons left>
    	<button ion-button navPop icon-only (click)="closeModal()">
	    	<ion-icon name="close" style="color: white;"></ion-icon>
	    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<br/>
	<div *ngIf="edit_c">
		<ion-item>
			<ion-input [(ngModel)]="name" placeholder="Channel Name"></ion-input>
		</ion-item>
		<!--<ion-item>
			<ion-input [(ngModel)]="image" placeholder="Image Link"></ion-input>
		</ion-item>-->
		<button ion-button round outline (click)="edit_channel()" class="button_c">Update</button>
	</div>

	<div *ngIf="add_c">
		<ion-item>
			<ion-input [(ngModel)]="name" placeholder="Channel Name"></ion-input>
		</ion-item>
		<!--<ion-item>
			<ion-input [(ngModel)]="image" placeholder="Image Link"></ion-input>
		</ion-item>-->
		<button ion-button round outline (click)="add_channel()" class="button_c">Add</button>
	</div>

	<div *ngIf="edit_post">
		<h4 *ngIf="empty" style="color: #7d0d3f; text-align: center; margin-top: 4%">No Posts</h4>
		<ion-list *ngFor="let q of obj">
			<ion-item *ngIf="q!=null" style="border-bottom: solid lightgray 1px;">
				<div>
					<ion-avatar item-left style="float: left; margin-top: 0;">
						<img [src]="q.uimg" />
					</ion-avatar>
					<p style="float: left;"><b>{{ q.uname }}</b> {{ q.date }}</p>
					<button style="padding: 0; margin: 0;" clear ion-button style="float: right;" (click)="presentPopover($event, q.id, q)"><ion-icon style="zoom: 2.0; color: black;" name="md-more"></ion-icon></button>
				</div>
				<div style="margin-left: 19%; margin-top: 9%;">
					<h2 text-wrap style="color: #7d0d3f;"><b>{{ q.qst }}</b></h2><br/>
				</div>
				<a (click)="view_comment(q.id, q.qst)"><p *ngIf="q.answers!=0" style="text-align: center;">View comments</p></a>
			</ion-item>
		</ion-list>
	</div>

</ion-content>
