<ion-header>
  <ion-navbar hideBackButton>
    <ion-title style="padding-right: 2% !important; padding-left: 0%; text-align: center;"><span style="color: white;">{{ feat }}</span></ion-title>
    <ion-buttons left>
      	<button ion-button navPop icon-only>
	    	<ion-icon name="ios-arrow-back" style="color: white;"></ion-icon>
	    </button>
    </ion-buttons>
    <ion-buttons right>
      	<button class="add-btn" *ngIf="channel" (click)="createChannel()" ion-button>Add</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<div *ngIf="approve" class="approve-users">
		<ion-item class="user-item" *ngFor="let user of userList; let i=index">
			<ion-label>
				<a (click)="openProfile(user.userid)" style="color: #7d0d3f;">
					<div class="img-holder">
						<img src="{{user.img}}" onError="this.src='../../../assets/imgs/profile_pic.png';" alt="user image">
					</div>
					<span>
						{{ user.firstname }} {{ user.lastname }}
					</span>
				</a>
			</ion-label>
			<span item-right>
				<button (click)="approveUser(user)" clear ion-button><ion-icon name="checkmark"></ion-icon></button>
				<button (click)="declineUser(user)" clear ion-button><ion-icon name="ios-trash-outline"></ion-icon></button>
			</span>
		</ion-item>
	</div>

	<div *ngIf="channel" class="manage-channel">
		<div class="channel-holder" *ngFor="let community of communityList; let j=index">
				<ng-container *ngIf="community">
					<div class="manage-channel-title">
						<h4>
							<ng-container *ngFor="let section of community.section; let isLast=last">
								[ {{ section }}{{isLast ? '' : ', '}} ]
							</ng-container>
						</h4>
						<h3><b>{{community.title}}</b></h3>
						<p>{{community.description}}</p>
					</div>
					<ion-item *ngFor="let commChannel of community.channels; let i=index">
						<ion-label><a style="color: #7d0d3f;">{{ commChannel.title }}</a></ion-label>
						<span item-right>
							<button (click)="editChannel(commChannel.id)" clear ion-button>
							<ion-icon name="create" style="color: #7d0d3f; zoom: 2.0;"></ion-icon>
							</button>
							<button (click)="removeChannel(commChannel.id)" clear ion-button>
								<ion-icon name="trash" style="color: #7d0d3f; zoom: 2.0;"></ion-icon>
							</button>
						</span>
					</ion-item>
				</ng-container>
		</div>
	</div>

	<div *ngIf="show_users" class="community-users">
		<ion-item *ngFor="let user of allUsersList">
				<ion-label>
					<a (click)="openProfile(user.user_id)" style="color: #7d0d3f;">
						<div class="img-holder">
							<img src="{{user.img}}" onError="this.src='../../../assets/imgs/profile_pic.png';" alt="user image">
						</div>
						<span>
							{{ user.firstname }} {{ user.lastname }}
						</span>
					</a>
				</ion-label>
				<span item-right *ngIf="user.role !== 'admin'">
					<button item-right (click)="removeUserFromComm(user)" clear ion-button><ion-icon name="md-trash"></ion-icon></button>
				</span>
		</ion-item>
		<h2 *ngIf="!show_users" style="color: #7d0d3f; text-align: center; margin-top: 5%;">No users</h2>
	</div>

	<div *ngIf="comp" class="community-details">
		<br/>
		<ion-item id="rounded">
			<ion-input placeholder="Name of company / organization" [(ngModel)]="communityTitle"></ion-input>
		</ion-item>
		<ion-item id="rounded">
			<ion-textarea [(ngModel)]="communityDescription" placeholder="Describe your company / organization" rows="7" maxlength="140"></ion-textarea>
		</ion-item>
		<ion-grid>
			<ion-row>
				<ion-col col-6>
					<button class="upload-btn" (click)="getImage()" ion-button>Upload logo</button>
				</ion-col>
				<ion-col col-6>
					<button class="save-btn" (click)="editCommunity()" ion-button>Save</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

	<div *ngIf="resource">
		<ion-item>
			<ion-label>Type</ion-label>
			<ion-select #select [(ngModel)]="resourceType" multiple="false" (ionChange)="toggleSelect(select.value)">
				<ion-option value="art">Articles</ion-option>
				<ion-option value="new">Newsletters</ion-option>
				<ion-option value="pod">Podcast</ion-option>
			</ion-select>
		</ion-item>
		<div *ngIf="resourceType === 'pod'">
			<ion-item id="rounded">
				<ion-input [(ngModel)]="title" placeholder="Title"></ion-input>
			</ion-item>
			<ion-item id="rounded">
				<ion-input [(ngModel)]="link" placeholder="Link to the podcast"></ion-input>
			</ion-item>
			<button (click)="add_podcast()" style="color: white; background: #7d0d3f; display: block; margin-left: auto; margin-right: auto;" ion-button>Add</button>
		</div>
		<div *ngIf="resourceType === 'new'">
			<ion-item id="rounded">
				<ion-input [(ngModel)]="title" placeholder="Title"></ion-input>
			</ion-item>
			<ion-item id="rounded">
				<ion-textarea [(ngModel)]="summary" placeholder="Content" rows="15"></ion-textarea>
			</ion-item>
			<button (click)="add_newsletter()" style="color: white; background: #7d0d3f; display: block; margin-left: auto; margin-right: auto;" ion-button>Add</button>
		</div>
		<div *ngIf="resourceType === 'art'">
			<ion-item id="rounded">
				<ion-input [(ngModel)]="title" placeholder="Title"></ion-input>
			</ion-item>
			<h6 style="color: #7d0d3f;">Upload image</h6>
			<button (click)="getImage()" style="color: #7d0d3f; border: solid 1px #7d0d3f; background: white; width: 100%; margin-bottom: 4%;" ion-button>{{ img_text }}</button>
			<ion-item id="rounded">
				<ion-input [(ngModel)]="summary" placeholder="Short description"></ion-input>
			</ion-item>
			<h6 style="color: #7d0d3f;">Content</h6>
			<ion-item id="rounded">
				<ion-textarea [(ngModel)]="description" rows="10"></ion-textarea>
			</ion-item>
			<ion-item id="rounded">
				<ion-input [(ngModel)]="link" placeholder="Link"></ion-input>
			</ion-item>
			<ion-item id="rounded" style="padding-left:9%;">
				<ion-select [(ngModel)]="type" placeholder="Show under" class="select_c">
					<ion-option value="1">Articles</ion-option>
					<ion-option value="2">Inspirational Women</ion-option>
				</ion-select>
			</ion-item>
			<button (click)="add_blog()" style="color: white; background: #7d0d3f; display: block; margin-left: auto; margin-right: auto;" ion-button>Add</button>
		</div>
	</div>

	<div *ngIf="events">
		<ion-item id="rounded">
			<ion-input [(ngModel)]="title" placeholder="Event title"></ion-input>
		</ion-item>
		<h6 style="color: #7d0d3f;">Upload image</h6>
		<button (click)="getImage()" style="color: #7d0d3f; border: solid 1px #7d0d3f; background: white; width: 100%; margin-bottom: 4%;" ion-button>{{ img_text }}</button>
		<h6 style="color: #7d0d3f;">Summary</h6>
		<ion-item id="rounded">
			<ion-textarea [(ngModel)]="summary" rows="8"></ion-textarea>
		</ion-item>
		<div class="form-group" style="margin-bottom: 2%;">
        	<input style="padding: 5%; width: 100%; border-color: lightgray; border-width: 1px;" [(ngModel)]="address" placeholder="Search for location" autocorrect="off" autocapitalize="on" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      	</div>
      	<h6 style="color: #7d0d3f;">Start date</h6>
		<ion-item id="rounded">
			<ion-input type="date" [(ngModel)]="s_date" placeholder="Start date"></ion-input>
		</ion-item>
		<ion-item id="rounded">
			<ion-input [(ngModel)]="s_time" placeholder="Start time"></ion-input>
		</ion-item>
		<h6 style="color: #7d0d3f;">End date</h6>
		<ion-item id="rounded">
			<ion-input type="date" [(ngModel)]="e_date" placeholder="End date"></ion-input>
		</ion-item>
		<ion-item id="rounded">
			<ion-input [(ngModel)]="e_time" placeholder="End time"></ion-input>
		</ion-item>
		<ion-item id="rounded">
			<ion-input [(ngModel)]="link" placeholder="Link to register/buy tickets"></ion-input>
		</ion-item>
		<button (click)="add_event()" style="color: white; background: #7d0d3f; display: block; margin-left: auto; margin-right: auto;" ion-button>Add</button>
	</div>

	<div *ngIf="blogs">
		<br/>
		<ion-item id="rounded">
			<ion-input [(ngModel)]="title" placeholder="Title"></ion-input>
		</ion-item>
		<h6 style="color: #7d0d3f;">Upload image</h6>
		<button (click)="getImage()" style="color: #7d0d3f; border: solid 1px #7d0d3f; background: white; width: 100%; margin-bottom: 4%;" ion-button>{{ img_text }}</button>
		<ion-item id="rounded">
			<ion-input [(ngModel)]="summary" placeholder="Short description"></ion-input>
		</ion-item>
		<h6 style="color: #7d0d3f;">Content</h6>
		<ion-item id="rounded">
			<ion-textarea [(ngModel)]="description" rows="10"></ion-textarea>
		</ion-item>
		<ion-item id="rounded">
			<ion-input [(ngModel)]="link" placeholder="Link"></ion-input>
		</ion-item>
		<ion-item id="rounded" style="padding-left:9%;">
			<ion-select [(ngModel)]="type" placeholder="Show under" class="select_c">
				<ion-option value="1">Articles</ion-option>
				<ion-option value="2">Inspirational Women</ion-option>
			</ion-select>
		</ion-item>
		<button (click)="add_blog()" style="color: white; background: #7d0d3f; display: block; margin-left: auto; margin-right: auto;" ion-button>Add</button>
	</div>

</ion-content>
