page-community {
  .toolbar-background {
    background: #7d0d3f;
  }
  .select_c {
    max-width: 100% !important;
    padding-left: 0 !important;
    width: 100%;
    overflow: visible !important;
  }
  .item-button {
    height: auto !important;
  }
  .item-block {
    box-shadow: 0px 9.8499px 14.7748px rgba(0, 0, 0, 0.05);
  }
}

.toolbar-ios {
  padding: 4px 10px;
}

.add-btn {
  font-style: 18px;
  color: #FFFFFF;
}

.community-details {
  .grid {
    padding-left: 0; 
    padding-right: 0;
    .row {
      margin: 0 -10px;
      .col {
        padding: 0 10px;
      }
    }
  }
  button {
    width: 100%;
    font-size: 18px;
    padding: 20px;
    line-height: 1;
    height: auto;
    text-transform: capitalize;
    &.save-btn {
      background: #7D0D3F;
      box-shadow: 0px 25px 60px rgba(125, 13, 63, 0.5);
      border-radius: 3px;
      color: #FFFFFF;
    }
    &.upload-btn {
      background: rgba(125, 13, 63, 0.12);
      border-radius: 3px;
      color: #7D0D3F;
      box-shadow: none;
    }
  }
  input, textarea{
    font-size: 18px;
    &::placeholder {
      color: #BBBBBB;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: -.05em;
    }
  }
  .item-input {
    box-shadow: none;
    border: none;
    background: #F7F7F7;
    border-radius: 3px;
    margin-bottom: 18px;
    .text-input {
      padding: 20px 5px;
      margin: 0;
    }

  }
}
.user-item, .community-users {
  a {
    display: flex;
    align-items: center;  
    justify-content: flex-start;
    color: #7D0D3F;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    .img-holder {
      border-radius: 100%;
      height: 36px;
      width: 36px;
      overflow: hidden;
      min-width: 36px;
      margin-right: 20px;
      img {
        width: 100%;
        height: auto;
        border-radius: 100%;
      }
    }
  }
  button {
    margin: 0;
    padding: 0 !important;
    font-size: 0 !important;
    color: #7D0D3F;
    ion-icon{
      font-size: 24px;
      &.ion-ios-checkmark {
        font-size: 40px;
      }
    }
    &:first-of-type {
      margin-right: 20px;
    }
  }
}

.manage-channel {
  .manage-channel-title {
    background: #730B39;
    margin: -16px -16px 20px -16px;
    padding: 20px;
    h4 {
      opacity: .5;
      font-size: 12px;
      color: #FFFFFF;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    h3 {
      color: #fafafa;
      font-size: 20px;
      margin: 0 0 5px 0;
    }
    p {
      margin: 0;
      color: #FFFFFF;
    }
  }
}
.channel-holder {
  margin-bottom: 40px;
}