<ion-header>
  <ion-navbar style="background-color: #7d0d3f;" hideBackButton>
    <ion-title style="text-align: center;"><span style="color: white;">{{ name }}</span></ion-title>
    <ion-buttons left>
    	<button ion-button navPop icon-only>
	    	<ion-icon name="ios-arrow-back" style="color: white;"></ion-icon>
	    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<div *ngIf="comments">
		<h3 style="color: #7d0d3f;">{{ qst }}</h3>
		<div *ngFor="let a of answers">
			<ion-item *ngIf="a!=null">
				<p text-wrap text-justify style="color: grey; margin-bottom: 0; float: left; margin-right: 3%;">{{ a.ans }}</p>
				<button clear ion-button (click)="presentPopover($event, a.aid)" style="padding: 0; position: absolute; right: 0%; top: 2%;"><ion-icon style="color: black; zoom: 2.0;" name="md-more"></ion-icon></button>
				<br/>
				<h6 style="color: #7d0d3f; margin-top: 1%; float: left;"><b>{{ a.uname }}</b></h6>
			</ion-item>
		</div>
	</div>

	<div *ngIf="topic">
		<ion-list *ngFor="let o of obj;let i=index" radio-group [(ngModel)]="channel">
			<ion-item *ngIf="o!=null && o.gid!=gid">
				<ion-radio style="margin-right: 4%;" item-left value="{{o.gid}}"></ion-radio>
				<ion-label>{{ o.title }}</ion-label>
			</ion-item>
		</ion-list>
		<button ion-button (click)="move_c()" class="move_b">Move</button>
	</div>

</ion-content>
