page-local {

.range-knob-handle > .range-knob {
    background-color: #7d0d3f !important;
}

.card-md {
  margin: 0;
  width: 100%;
}

.scroll-content {
  padding: 3% !important;
}

.item-block {
  padding: 15px 5px;
  h2 {
    margin-bottom: 10px;
  }
  ion-avatar {
    max-width: 70px;
    width: 100%;
    margin: 0 30px 0 0 !important;
    img {
      height: auto !important;
      width: 100% !important;
      border-radius: 0;
    }
  }
}

.scroll_b {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  opacity: 0.9;
  background: white;
  color: #7d0d3f;
  border: solid 1px #7d0d3f;
  bottom: 5%;
  right: 5%;
  display: block;
  position: absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

}
