<ion-header *ngIf="!empty">
	<!--<ion-row style="padding-top: 1%;">
		<ion-col col-8>
			<ion-range min="5" max="100" [(ngModel)]="distance" pin="true" color="dark" style="padding-top: 0px; padding-bottom: 0px; width: 105%;">
				<ion-label range-left>5</ion-label>
			    <ion-label range-right>100</ion-label>
			</ion-range>
		</ion-col>
		<ion-col col-4>
			<button ion-button outline style="color: #7d0d3f; background-color: white; border-color: #7d0d3f;" (click)="searchEvent()">Search</button>
		</ion-col>
	</ion-row>-->
</ion-header>

<ion-content>

	<button ion-fixed ion-button *ngIf="!empty" (click)="scroll_page_up()" class="scroll_b"><ion-icon name="arrow-up"></ion-icon></button>
	<h6 *ngIf="!empty" style="color: #7d0d3f;">Showing search results by {{ ctry }}</h6>
	<h3 *ngIf="empty" style="color: #7d0d3f; text-align: center; margin-top: 2%;">No events found</h3>

	<!--<ion-card style="margin-bottom: 5%;" *ngFor="let event of events">
		<a (click)="openEvent(event.event_id)"><img src="https://elevather.com/public/event/{{event.event_img}}" style="padding: 2% 2% 0% 2%;"/></a>
		<ion-card-content>
			<a (click)="openEvent(event.event_id)"><h2 style="color: #7d0d3f;"><b>{{ event.event_title }}</b></h2></a>
		</ion-card-content>
		<p style="margin-left: 5%;"><ion-icon name="pin"></ion-icon>&nbsp; {{ event.search_address }}</p>
		<p style="margin-left: 5%;"><ion-icon name="calendar"></ion-icon>&nbsp; {{ event.start_date }} <ion-icon name="time"></ion-icon>&nbsp; {{ event.start_time }}</p>
	</ion-card>-->

	<ion-item *ngFor="let event of events | sort: 'start_date'">
		<ion-avatar item-left>
			<a (click)="openEvent(event.event_id)"><img src="https://elevather.com/public/event/{{event.event_img}}" /></a>
		</ion-avatar>
		<h4 text-wrap>
			<a (click)="openEvent(event.event_id)"><h2 style="color: #7d0d3f;"><b>{{ event.event_title }}</b></h2></a>
		</h4>
		<p><ion-icon name="pin"></ion-icon>&nbsp; {{ event.search_address }}</p>
		<p><ion-icon name="calendar"></ion-icon>&nbsp; {{ event.start_date }} <ion-icon name="time"></ion-icon>&nbsp; {{ event.start_time }}</p>
	</ion-item>

</ion-content>
