
<ion-content>

<ion-list *ngIf="conn">
    <button ion-item *ngIf="show_block&&fid!='809'" (click)="block()">Block</button>
    <button ion-item *ngIf="!show_block" (click)="unblock()">Unblock</button>
    <button ion-item (click)="remove()">Remove</button>
</ion-list>

<ion-list *ngIf="msg">
    <button ion-item (click)="view()">View Profile</button>
    <button ion-item *ngIf="show_block&&fid!='809'" (click)="block()">Block</button>
    <button ion-item *ngIf="!show_block" (click)="unblock()">Unblock</button>
</ion-list>

<ion-list *ngIf="pro">
    <button ion-item (click)="accept()">Accept</button>
    <button ion-item (click)="reject()">Reject</button>
</ion-list>

<ion-list *ngIf="person">
    <button ion-item (click)="cancel_request()">Cancel Request</button>
</ion-list>

<h6 style="margin-top: 1%;" *ngIf="question">Post as:</h6>
<ion-list *ngIf="question">
    <button ion-item (click)="choose_name('a')">Anonymous</button>
    <button ion-item (click)="choose_name('n')">{{ name }}</button>
</ion-list>

<ion-list *ngIf="m_user">
    <button text-wrap ion-item (click)="remove_user()">Remove from community</button>
    <button text-wrap ion-item (click)="message()">Send a message</button>
</ion-list>

<ion-list *ngIf="edit_post">
    <button ion-item (click)="delete_post()">Delete</button>
    <button ion-item (click)="move_topic()">Move Topic</button>
</ion-list>

<ion-list *ngIf="comments">
    <button ion-item (click)="delete_comment()">Delete</button>
</ion-list>

<ion-list *ngIf="pending_c">
    <button ion-item (click)="view()">View Profile</button>
</ion-list>

<ion-list *ngIf="user_posts">
    <button ion-item (click)="del_cquest()">Delete</button>
    <button ion-item (click)="edit_cquest()">Edit</button>
</ion-list>

</ion-content>
