<ion-header>
</ion-header>


<ion-content padding class="start">

	<div id="container">

		<p style="text-align: center; font-size: x-large; color: white;">Sign Up</p>

		<img src="../assets/imgs/logo.png" class="image" />
    <button ion-button style="width:100%; background-color:#287bbc;" (click)="linkedinLogin()">
      <ion-icon name="logo-linkedin"></ion-icon>&nbsp;Sign Up via LinkedIn
    </button>
		<p style="text-align: center; color: white;">OR</p>
		<br />

		<ion-list>
			<ion-item id="rounded">
				<ion-label class="basic">
					<ion-icon name="person" style="color: #7d0d3f;"></ion-icon>
				</ion-label>
				<ion-input type="text" placeholder="First Name" required [(ngModel)]="name"></ion-input>
			</ion-item>
			<ion-item id="rounded">
				<ion-label class="basic">
					<ion-icon name="person" style="color: #7d0d3f;"></ion-icon>
				</ion-label>
				<ion-input type="text" placeholder="Last Name" required [(ngModel)]="last_name"></ion-input>
			</ion-item>
			<ion-item id="rounded" *ngIf="!showData">
				<ion-label class="basic">
					<ion-icon name="mail" style="color: #7d0d3f;"></ion-icon>
				</ion-label>
				<ion-input type="email" placeholder="Email" required [(ngModel)]="email"></ion-input>
			</ion-item>
			<ion-item id="rounded">
				<ion-label class="basic">
					<ion-icon name="lock" style="color: #7d0d3f;"></ion-icon>
				</ion-label>
				<ion-input type="{{type}}" placeholder="Password" required [(ngModel)]="password"></ion-input>
				<button *ngIf="!showPass" ion-button clear item-right (click)="showPassword()">
					<ion-icon name="ios-eye-off-outline" style="color: #7d0d3f;"></ion-icon>
				</button>
				<button *ngIf="showPass" ion-button clear item-right (click)="showPassword()">
					<ion-icon name="ios-eye-outline" style="color: #7d0d3f;"></ion-icon>
				</button>
			</ion-item>
		</ion-list>

        <div *ngIf="select">
        <h6 style="color: white;" *ngIf="!showData">Please upload a profile picture</h6>
		<div *ngIf="!showmsg && !showData">
			<button ion-button style="background-color: white; color: #7d0d3f; width: 100%;" (click)="getImage()">
				<ion-icon name="cloud-upload"> &nbsp;Choose Picture</ion-icon>
			</button>
		</div>
		<div *ngIf="showmsg && !showData">
			<button ion-button style="background-color: white; color: #7d0d3f; width: 100%;">
				<ion-icon name="checkmark-circle"> &nbsp;Selected</ion-icon>
			</button>
		</div>

		<br />
        </div>

		<h6 style="color: white;">Choose your icebreaker question</h6>
		<ion-item id="rounded" style="padding-left:6%;">
			<ion-select [(ngModel)]="question" placeholder="Select" required>
				<ion-option *ngFor="let q of questions" value="{{q}}">{{ q }}</ion-option>
			</ion-select>
		</ion-item>

		<ion-item id="rounded">
			<ion-textarea placeholder="Your answer" required [(ngModel)]="answer"></ion-textarea>
		</ion-item>

		<br/>

		<ion-checkbox [(ngModel)]="female" style="float: left; margin-right: 4%;"></ion-checkbox>
		<p style="margin: 0%; color: white;">Please confirm you are a female</p><br/>

		<ion-checkbox [(ngModel)]="agree" (ionChange)="check_terms($event)" style="float: left; margin-right: 4%;"></ion-checkbox>
		<p style="margin: 0%; color: white;">You agree that ElevatHer may collect, use and disclose your personal data which you have provided in accordance with our <a (click)="policy()" style="color: white;"><u>data protection policy</u></a> and <a (click)="terms()" style="color: white;"><u>terms and conditions</u></a></p>

	</div>
	<br /><br />

	<!-- <div id="recaptcha-container" style="display: flex; justify-content: center; margin-bottom: 15px;"></div>
	<ion-item id="rounded" *ngIf="verify_l" >
		<ion-label class="basic">
			<ion-icon name="call" style="color: #7d0d3f;"></ion-icon>
		</ion-label>
		<ion-input type="number" placeholder="Phone Number" required (ngModelChange)="changeNumber($event)" [(ngModel)]="phoneNumber"></ion-input>
	</ion-item>
	<button *ngIf="verify_l" [disabled]="verify_b" ion-button id="sign-in-button" style="background: white; color: #7d0d3f; width: 100%;" (click)="signInPhone(phoneNumber)">Verify Phone</button> -->

	<button ion-button [disabled]="disabled" (click)="openNext()" class="button_c">Signup</button>
	<a (click)="openPage()"><p style="text-align: center; color: white;"><u>I have an account</u></p></a>
	<br/><br/>

</ion-content>
