page-signup1 {

.image {
  margin-top: 5%; 
  margin-left: 3%; 
  width: 95%; 
  margin-bottom: 5%;
}

.start { 
  background-image: url('../../assets/imgs/bg-big.svg');
  background-repeat: no-repeat;
  background-size:cover;
}

.item.item .checkbox {
  margin-right: 5% !important;
}

#rounded {
  border-radius: 2px !important;
  border: 0.5px solid black; 
  margin-bottom: 5%;
}

#container {
  width: 92%; 
  margin-left:auto; 
  margin-right: auto; 
}

ion-select
{
  max-width: 100% !important;
  overflow: visible !important;
  padding-left:0px !important;
  width: 100%;
}

ion-input {
  transform: translateZ(0px);
}

ion-textarea {
  transform: translateZ(0px);
}

.basic{
    background: white;
    padding: 5% 5% 5% 5%;
    margin: 0px;
    width: 15%;
}

.button_c {
  background-color: white;
  color: #7d0d3f;
  width: 100%;
}

.item-md{
  padding-left: 0px;
}

.input-cover {
  z-index: 100%;
}

}
