page-home {

a {
  color: white;  
}

p {
  text-align: center;
}

.start { 
  background-image: url('../../assets/imgs/bg-big.svg');
  background-repeat: no-repeat;
  background-size:cover;
}

#container {
  margin-top: 32%;
  width: 92%; 
  margin-left:auto; 
  margin-right: auto; 
}

#rounded {
  border-radius: 2px !important;
  border: 0.5px solid black; 
  margin-bottom: 5%;
}

.image {
  margin-left: 3%; 
  width: 95%; 
  margin-bottom: 2%;
}

.button_c {
  color: #7d0d3f;
  background: white;
  margin-left: 24%;
}

.para {
  text-align: center;
  font-size: x-large;
  color: white;
  margin-top: 7%;
}

ion-input {
  transform: translateZ(0px);
}

}