<ion-header>
</ion-header>

<ion-content padding class="start">

	<div id="container">

		<img src = "assets/imgs/logo.png" class="image"/>
		<p style="color: white;">Connecting women in finance and technology</p><br/>
		<h5 style="text-align: center; color: white;">Login to start using ElevatHer</h5>

	  	<ion-list>
	  		<ion-item id="rounded">
				<ion-label><ion-icon name="mail" style="color: #7d0d3f;"></ion-icon></ion-label>
				<ion-input type="email" placeholder="Email" required [(ngModel)]="email" (ionChange)="i_input()"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label><ion-icon name="lock" style="color: #7d0d3f;"></ion-icon></ion-label>
				<ion-input type="password" placeholder="Password" required [(ngModel)]="password" (ionChange)="i_input()"></ion-input>
			</ion-item>
	  	</ion-list>

	  	<button ion-button block style="color: black; background: white !important; padding-bottom: 8%; padding-top: 6%;" (click)="login()">Enter</button>

	  	<!-- <p><a (click)="forgot_pwd()"><u>Forgot Password?</u></a></p> -->
		<ion-item id="rounded" *ngIf="forgot">
			<ion-label>Email Id</ion-label>
			<ion-input  type="email" required [(ngModel)]="email_f"></ion-input>
		</ion-item>
		<button *ngIf="forgot" ion-button (click)="send_mail()" class="button_c">Send Instructions</button>

	  	<!--<button ion-button block (click)="openPage()" style="margin-top: 5%; background: white; color: #7d0d3f;">Signup</button>-->
	  	<a (click)="openPage()"><p style="text-align: center; color: white;"><u>Signup</u></p></a>
	  	
  	</div>

</ion-content>
