<ion-content style="background: #7d0d3f;">

	<img src="assets/imgs/EHlogo.png" class="logoImg" />
	<h1 style="color: white; text-align: center;">Hi {{ name }}</h1>
	<h2 style="color: white; text-align: center;">Welcome to EH</h2><br/>
	<p style="color: white; text-align: center; font-size: 16px;">Before you explore the app, we have a few questions that'll help us personalise your experience</p>
	<button ion-button clear [disabled]="disable" (click)="openPage()" class="nextBtn"><ion-icon style="zoom: 3; color: white;" name="arrow-round-forward"></ion-icon></button>

</ion-content>
