 <ion-header>
  <ion-navbar hideBackButton>
  	<ion-buttons left *ngIf="!incomplete">
	    <button ion-button (click)="closeModal()" icon-only>
	        <ion-icon name="ios-arrow-back" style="color: white;"></ion-icon>
	    </button>
	</ion-buttons>
	<ion-title *ngIf="edit_hob||edit_pass||edit_qst||edit_loc||edit_cquest||edit_name||edit_ans" style="text-align: center;"><span style="color: white;">Edit</span></ion-title>
    <!--<ion-title *ngIf="!add_hobby&&!incomplete" style="text-align: center;"><span style="color: white;">Edit</span></ion-title>-->
    <ion-title *ngIf="add_hobby" style="text-align: center;"><span style="color: white;">Add Hobbies</span></ion-title>
    <ion-title *ngIf="!add_hobby&&incomplete" style="text-align: center;"><span style="color: white;">Details</span></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<div class="degree" *ngIf="edit_hob || add_hobby">
		<h5 style="text-align: center;">Hobbies</h5>
	</div>
	<div class="degree" *ngIf="edit_name">
		<h5 style="text-align: center;">Name</h5>
	</div>
	<div class="degree" *ngIf="edit_loc">
		<h5 style="text-align: center;">Location</h5>
	</div>
    <div class="degree" *ngIf="edit_pass">
        <h5 style="text-align: center;">Change Password</h5>
    </div>

	<ion-card padding>
		<ion-item id="rounded" *ngIf="edit_name">
			<ion-input [(ngModel)]="name" placeholder="First Name"></ion-input>
		</ion-item>
		<ion-item id="rounded" *ngIf="edit_name">
			<ion-input [(ngModel)]="lname" placeholder="Last Name"></ion-input>
		</ion-item>
		<button ion-button round outline (click)="edit_n()" *ngIf="edit_name" class="button_c">Update</button>
        
        <ion-item id="rounded" *ngIf="edit_pass">
            <ion-input type="password" [(ngModel)]="o_pwd" placeholder="Current Password"></ion-input>
        </ion-item>
        <ion-item id="rounded" *ngIf="edit_pass">
            <ion-input type="password" [(ngModel)]="n_pwd" placeholder="New Password"></ion-input>
        </ion-item>
        <button ion-button round outline (click)="update_pwd()" *ngIf="edit_pass" class="button_c">Update</button>

        <h2 *ngIf="edit_cquest" style="color: #7d0d3f; font-weight: 700; margin-left: 2%; margin-top: 2%;">Question:</h2>
        <ion-item id="rounded" *ngIf="edit_cquest">
            <ion-textarea type="text" [(ngModel)]="quest" placeholder="Question"></ion-textarea>
        </ion-item>
        <ion-row>
        	<ion-col col-6>
        		<button ion-button round outline (click)="edit_comm_quest()" *ngIf="edit_cquest" class="button_c2">Update</button>
        	</ion-col>
        	<ion-col col-6>
        		<button ion-button round outline (click)="closePage()" *ngIf="edit_cquest" class="button_c1">Cancel</button>
        	</ion-col>
        </ion-row>

        <ion-item id="rounded" *ngIf="edit_ans">
            <ion-textarea [(ngModel)]="description"></ion-textarea>
        </ion-item>
        <ion-row>
        	<ion-col col-6>
        		<button ion-button round outline (click)="edit_answer()" *ngIf="edit_ans" class="button_c2">Done</button>
        	</ion-col>
        	<ion-col col-6>
        		<button ion-button round outline (click)="closePage()" class="button_c1" *ngIf="edit_ans">Cancel</button>
        	</ion-col>
        </ion-row>

        <ion-item id="rounded" *ngIf="edit_loc">
			<div class="form-group">
        		<input style="padding: 5%; width: 100%; border-color: lightgray; border-width: 1px;" [(ngModel)]="address" placeholder="Search for location" autocorrect="off" autocapitalize="on" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      		</div>
		</ion-item>
		<button ion-button round outline (click)="update_address()" *ngIf="edit_loc" class="button_c">Update</button>

		<div *ngIf="incomplete" style="margin-top: 10%;">
		  	<ion-label text-wrap class="label_style">Have you studied further/ additional qualifications?</ion-label>
		  	<ion-list radio-group [(ngModel)]="further_edu" (ionChange)="radio_change($event)">
				<ion-item style="float: left; width: 25%; margin-left: 4%; text-align: center;">
					<ion-radio item-left value="yes"></ion-radio>
					<ion-label>Yes</ion-label>
				</ion-item>
				<ion-item style="float: left; width: 21%; text-align: center;">
					<ion-radio item-left value="no"></ion-radio>
					<ion-label>No</ion-label>
				</ion-item>
				<ion-item style="width: 46%; text-align: center;" text-wrap>
					<ion-radio item-left value="not_say"></ion-radio>
					<ion-label>Prefer not to say</ion-label>
				</ion-item>
			</ion-list>

			<ion-label text-wrap class="label_style">Have you had a career move into the industry?</ion-label>
		  	<ion-list radio-group [(ngModel)]="industry">
				<ion-item style="float: left; width: 25%; text-align: center; margin-left: 4%;">
					<ion-radio item-left value="yes"></ion-radio>
					<ion-label>Yes</ion-label>
				</ion-item>
				<ion-item style="float: left; width: 21%; text-align: center;">
					<ion-radio item-left value="no"></ion-radio>
					<ion-label>No</ion-label>
				</ion-item>
				<ion-item style="width: 46%; text-align: center;" text-wrap>
					<ion-radio item-left value="not_say"></ion-radio>
					<ion-label>Prefer not to say</ion-label>
				</ion-item>
			</ion-list>
		  	
		  	<ion-label text-wrap class="label_style">Are you a working mother?</ion-label>
		  	<ion-list radio-group [(ngModel)]="mother">
				<ion-item style="float: left; width: 25%; text-align: center; margin-left: 4%;">
					<ion-radio item-left value="1"></ion-radio>
					<ion-label>Yes</ion-label>
				</ion-item>
				<ion-item style="float: left; width: 21%; text-align: center;">
					<ion-radio item-left value="0"></ion-radio>
					<ion-label>No</ion-label>
				</ion-item>
				<ion-item style="width: 46%; text-align: center;" text-wrap>
					<ion-radio item-left value="2"></ion-radio>
					<ion-label>Prefer not to say</ion-label>
				</ion-item>
			</ion-list>

		  	<ion-label text-wrap class="label_style">Are you currently on maternity leave?</ion-label>
		  	<ion-list radio-group [(ngModel)]="leave">
				<ion-item style="float: left; width: 25%; text-align: center; margin-left: 4%;">
					<ion-radio item-left value="1"></ion-radio>
					<ion-label>Yes</ion-label>
				</ion-item>
				<ion-item style="float: left; width: 21%; text-align: center;">
					<ion-radio item-left value="0"></ion-radio>
					<ion-label>No</ion-label>
				</ion-item>
				<ion-item style="width: 46%; text-align: center;" text-wrap>
					<ion-radio item-left value="2"></ion-radio>
					<ion-label>Prefer not to say</ion-label>
				</ion-item>
			</ion-list>
		  		
		  	<ion-label text-wrap class="label_style">Have you relocated with work?</ion-label>
				<ion-list radio-group [(ngModel)]="relocated">
				<ion-item style="float: left; width: 25%; text-align: center; margin-left: 4%;">
					<ion-radio item-left value="yes"></ion-radio>
					<ion-label>Yes</ion-label>
				</ion-item>
				<ion-item style="float: left; width: 21%; text-align: center;">
					<ion-radio item-left value="no"></ion-radio>
					<ion-label>No</ion-label>
				</ion-item>
				<ion-item style="width: 46%; text-align: center;" text-wrap>
					<ion-radio item-left value="not_say"></ion-radio>
					<ion-label>Prefer not to say</ion-label>
				</ion-item>
			</ion-list><br/>

			<ion-item text-wrap>
				<ion-label class="label_style">Do you consent with ElevatHer sending you emails?</ion-label>
				<ion-toggle [(ngModel)]="email" (ionChange)="tog5($event)"></ion-toggle>
				<ion-label style="text-align: right; display: contents;">{{ toggle5 }}</ion-label>
			</ion-item>
			<ion-item text-wrap>
				<ion-label class="label_style">Do you want to be a mentor? </ion-label>
			 	<ion-toggle [(ngModel)]="mentor" (ionChange)="tog6($event)"></ion-toggle>
			    <ion-label style="text-align: right; display: contents;">{{ toggle6 }}</ion-label>
			</ion-item>
			<button ion-button round outline [disabled]="show_b1" (click)="done('next')" *ngIf="showdiv" class="button_c">Next</button>
			<button ion-button round outline [disabled]="show_b1" (click)="done('pro')" *ngIf="!showdiv" class="button_c">Next</button>
		</div>

		<div *ngIf="edit_hob">
			<ion-label style="margin-left: 5%; font-weight: bold;">Extracurriculars:</ion-label>
			<ion-item *ngFor="let hob of hobby2; let i=index" text-wrap style="margin-left: 4%;">
		  		<ion-label [innerHTML]="hob"></ion-label>
		  		<ion-checkbox value="hob" [checked]="hobbies.includes(hob)" (ionChange)="update2(hob, $event)"></ion-checkbox>
		  	</ion-item>
		  	<ion-label style="margin-left: 5%; font-weight: bold;">Hobbies:</ion-label>
			<ion-item *ngFor="let hob of hobby; let i=index" text-wrap style="margin-left: 4%;">
		  		<ion-label>{{ hob }}</ion-label>
		  		<ion-checkbox value="hob" [checked]="hobbies.includes(hob)" (ionChange)="update(hob, $event)"></ion-checkbox>
		  	</ion-item>
		  	<div class="form-group">
	        	<input style="padding: 5%; width: 100%;" placeholder="Search for location" [(ngModel)]="address" autocorrect="off" autocapitalize="on" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
	      	</div>
			<button ion-button round outline (click)="edit_h()" class="button_c">Update</button>
		</div>

		<div *ngIf="add_hobby">
			<ion-label>Extracurriculars:</ion-label>
			<ion-item *ngFor="let hob of hobby2; let i=index" text-wrap style="margin-left: 4%;">
		  		<ion-label [innerHTML]="hob"></ion-label>
		  		<ion-checkbox value="hob" [checked]="hobbies.includes(hob)" (ionChange)="update2(hob, $event)"></ion-checkbox>
		  	</ion-item>
		  	<ion-label>Hobbies:</ion-label>
			<ion-item *ngFor="let hob of hobby; let i=index" text-wrap style="margin-left: 4%;">
		  		<ion-label>{{ hob }}</ion-label>
		  		<ion-checkbox value="hob" [checked]="hobbies.includes(hob)" (ionChange)="update2(hob, $event)"></ion-checkbox>
		  	</ion-item>
			<div class="form-group">
	        	<input style="padding: 5%; width: 100%;" placeholder="Search for location" [(ngModel)]="address" autocorrect="off" autocapitalize="on" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
	      	</div>
	      	<button ion-button round outline (click)="add_h()" class="button_c">Add</button>
		</div>

		<div *ngIf="edit_qst" style="margin-top: 6%;">

		  	<ion-label text-wrap class="label_style">Have you studied further/ additional qualifications?</ion-label>
		  	<ion-list radio-group [(ngModel)]="further_edu" (ionChange)="radio_change1($event)">
				<ion-item style="float: left; width: 25%; margin-left: 4%; text-align: center;">
					<ion-radio item-left value="yes"></ion-radio>
					<ion-label>Yes</ion-label>
				</ion-item>
				<ion-item style="float: left; width: 21%; text-align: center;">
					<ion-radio item-left value="no"></ion-radio>
					<ion-label>No</ion-label>
				</ion-item>
				<ion-item style="width: 46%; text-align: center;" text-wrap>
					<ion-radio item-left value="not_say"></ion-radio>
					<ion-label>Prefer not to say</ion-label>
				</ion-item>
			</ion-list>

			<ion-label text-wrap class="label_style">Have you had a career move into the industry?</ion-label>
		  	<ion-list radio-group [(ngModel)]="industry">
				<ion-item style="float: left; width: 25%; text-align: center; margin-left: 4%;">
					<ion-radio item-left value="yes"></ion-radio>
					<ion-label>Yes</ion-label>
				</ion-item>
				<ion-item style="float: left; width: 21%; text-align: center;">
					<ion-radio item-left value="no"></ion-radio>
					<ion-label>No</ion-label>
				</ion-item>
				<ion-item style="width: 46%; text-align: center;" text-wrap>
					<ion-radio item-left value="not_say"></ion-radio>
					<ion-label>Prefer not to say</ion-label>
				</ion-item>
			</ion-list>
		  	
		  	<ion-label text-wrap class="label_style">Are you a working mother?</ion-label>
		  	<ion-list radio-group [(ngModel)]="mother">
				<ion-item style="float: left; width: 25%; text-align: center; margin-left: 4%;">
					<ion-radio item-left value="1"></ion-radio>
					<ion-label>Yes</ion-label>
				</ion-item>
				<ion-item style="float: left; width: 21%; text-align: center;">
					<ion-radio item-left value="0"></ion-radio>
					<ion-label>No</ion-label>
				</ion-item>
				<ion-item style="width: 46%; text-align: center;" text-wrap>
					<ion-radio item-left value="2"></ion-radio>
					<ion-label>Prefer not to say</ion-label>
				</ion-item>
			</ion-list>

		  	<ion-label text-wrap class="label_style">Are you currently on maternity leave?</ion-label>
		  	<ion-list radio-group [(ngModel)]="leave">
				<ion-item style="float: left; width: 25%; text-align: center; margin-left: 4%;">
					<ion-radio item-left value="1"></ion-radio>
					<ion-label>Yes</ion-label>
				</ion-item>
				<ion-item style="float: left; width: 21%; text-align: center;">
					<ion-radio item-left value="0"></ion-radio>
					<ion-label>No</ion-label>
				</ion-item>
				<ion-item style="width: 46%; text-align: center;" text-wrap>
					<ion-radio item-left value="2"></ion-radio>
					<ion-label>Prefer not to say</ion-label>
				</ion-item>
			</ion-list>
		  		
		  	<ion-label text-wrap class="label_style">Have you relocated with work? </ion-label>
				<ion-list radio-group [(ngModel)]="relocated">
				<ion-item style="float: left; width: 25%; text-align: center; margin-left: 4%;">
					<ion-radio item-left value="yes"></ion-radio>
					<ion-label>Yes</ion-label>
				</ion-item>
				<ion-item style="float: left; width: 21%; text-align: center;">
					<ion-radio item-left value="no"></ion-radio>
					<ion-label>No</ion-label>
				</ion-item>
				<ion-item style="width: 46%; text-align: center;" text-wrap>
					<ion-radio item-left value="not_say"></ion-radio>
					<ion-label>Prefer not to say</ion-label>
				</ion-item>
			</ion-list><br/>

			<ion-item text-wrap>
				<ion-label class="label_style">Do you consent to receiving emails from ElevatHer?</ion-label>
				<ion-toggle [(ngModel)]="email" (ionChange)="tog5($event)"></ion-toggle>
				<ion-label style="text-align: right; display: contents;">{{ toggle5 }}</ion-label>
			</ion-item>
			<ion-item text-wrap>
				<ion-label class="label_style">Do you want to be a mentor?</ion-label>
			 	<ion-toggle [(ngModel)]="mentor" (ionChange)="tog6($event)"></ion-toggle>
			    <ion-label style="text-align: right; display: contents;">{{ toggle6 }}</ion-label>
			</ion-item><br/>
		  	<h6 style="color: #7d0d3f; margin-left: 4%;">Icebreaker question</h6>
			<ion-item id="rounded">
				<ion-select [(ngModel)]="question" placeholder="Select" required>
					<ion-option *ngFor="let q of questions" value="{{q}}">{{ q }}</ion-option>
				</ion-select>
			</ion-item>
			<ion-item id="rounded">
				<ion-textarea style="padding-left: 4%;" placeholder="Your answer" required [(ngModel)]="answer"></ion-textarea>
			</ion-item>
			<button ion-button round outline (click)="edit_pro()" class="button_c">Update</button>

		</div>
	</ion-card>
</ion-content>
