page-edit-hobby {

.toolbar-background {
  background: #7d0d3f;
}

.select .select-icon {
  width: 15px !important;
}

.select {
  max-width: 90%;
  padding-left: 3% !important;
}

.degree {
  height: 7%;
  background: #7d0d3f;
  padding-top: 5%;
  padding-left: 5%;
  color: white;
}

.scroll-content {
  padding: 2% !important;
  padding-top: 2% !important;
}

.card {
  margin: 0 !important;
  width: 100% !important;
}

ion-card {
  padding: 0 !important;
}

.add_b {
  margin-left: 37%;
  margin-top: 7%;
  border-color: #7d0d3f; 
  color: #7d0d3f;
}

.button_c {
  margin-left: 37%;
  margin-top: 7%;
  background: #7d0d3f; 
  color: white;
}

.button_c2 {
  float: right;
  background: #7d0d3f; 
  color: white;
}

.button_c1 {
  background: #7d0d3f; 
  color: white;
}

.bar-button-default, .bar-button-clear-default, .bar-button-md-default {
  color: white;
}

.radio-ios .radio-checked .radio-inner {
  border-color: #a8caea;
  height: 9px;
}

.radio .radio-checked {
  display: none;
}

.radio .radio-icon {
  display: none;
}

.item-radio-checked.item ion-label {
  color: white;
}

ion-item.item.item-block.item.item-radio.item-radio-checked {
  background: #7d0d3f;
  border-radius: 25px;
}

#rounded {
  border-radius: 0px !important;
  border: 1px solid lightgrey;
  margin-bottom: 5%;
}

.item {
  padding: 0;
}

.label_style {
  margin-left: 5% !important;
  line-height: 21px;
  font-size: 17px;
  font-weight: bold;
}

.item-radio ion-label {
  margin-left: 0;
  font-size: 11px;
}

ion-app [padding] {
    padding: 0 !important;
    width: 100% !important;
}

.item-md .radio-md[item-left], .item-md .radio-md[item-start] {
  margin-right: 9px !important;
}

@media (max-width: 320px){
.item-ios .radio-ios[item-left], .item-ios .radio-ios[item-start] {
  margin-right: 4px !important;
}
}

.list > .item-block:first-child {
  border-top: none !important;
}

.list > .item-block:last-child, .list > .item-wrapper:last-child .item-block {
  border-bottom: none;
}

}
