page-manage-groups {

	.toolbar-background {
		background: #7d0d3f;
	}

	.admin-menu {
		.item {
			margin: 0 !important;
			color: #7D0D3F;
			font-size: 18px;
			line-height: 1;
			padding: 13px 40px;
			font-weight: 500;
			&.active {
				background: rgba(#7D0D3F, .1);
			}
			&.disable {
				opacity: .5;
				pointer-events: none;
			}
		}
	}

}
