<ion-header>
  <ion-navbar style="background-color: #7d0d3f;">
    <ion-title style="padding-right: 2% !important; padding-left: 0%; text-align: center;"><span style="color: white;">Manage Community</span></ion-title>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" style="color: white;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list class="admin-menu">
		<ion-item *ngFor="let featuresItem of features; let i = index" (click)="openCommunity(i, featuresItem);" [ngClass]="[i === selectedIndex ? 'active' : '' , featuresItem == 'Add event (Coming Soon)' ? 'disable' : '' ]">
			<label>{{ featuresItem }}</label>
		</ion-item>
	</ion-list>
</ion-content>
