page-edit-career {

.toolbar-background {
  background: #7d0d3f;
}

.degree {
  height: 7%;
  background: #7d0d3f;
  padding-top: 5%;
  padding-left: 5%;
  color: white;
}

.scroll-content {
  padding: 2% !important;
}

#rounded {
  border-radius: 0px !important;
  border: 1px solid lightgrey; 
  margin-bottom: 5%;
}

.card {
  margin: 0 !important;
  width: 100% !important;
}

.add_b {
  margin-left: 37%;
  margin-top: 7%; 
  background: #7d0d3f; 
  color: white;
}

.item.item-block .item-inner {
  padding-right: 0 !important;
}

.item {
  padding-left: 0 !important;
}

.select_c {
  max-width: 90% !important;
  padding-left: 4% !important;
  width: 100%;
}

.bar-button-default, .bar-button-clear-default, .bar-button-default {
  color: white;
}

}
