<ion-header>

	<ion-navbar hideBackButton>
		<ion-title style="text-align: center;"><span style="color: white;">Edit</span></ion-title>
		<ion-buttons left>
			<button ion-button (click)="closeModal()" icon-only>
				<ion-icon name="ios-arrow-back" style="color: white;"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<ion-content padding>

	<div class="degree">
		<h5 style="text-align: center; color: white;">Career History</h5>
	</div>

	<ion-card padding>

		<h5><b>Industry:</b></h5>
		<ion-list>
			<ion-item *ngFor="let i of industries; let in=index" text-wrap>
				<ion-label>{{ i }}</ion-label>
				<ion-checkbox [checked]="ch_ind.includes(i)" value="in" (ionChange)="radioChecked1(in, $event)"></ion-checkbox>
			</ion-item>
		</ion-list>

		<ion-list radio-group [(ngModel)]="ind1" *ngIf="show1">
			<h6 style="margin-top: 2%;"><b>Investor:</b></h6>
			<ion-item *ngFor="let i of invest">
				<ion-label>{{ i }}</ion-label>
				<ion-radio item-left value="{{i}}"></ion-radio>
			</ion-item>
		</ion-list>

		<ion-list radio-group [(ngModel)]="ind2" *ngIf="show2">
			<h6 style="margin-top: 2%;"><b>Tech:</b></h6>
			<ion-item *ngFor="let i of tech">
				<ion-label>{{ i }}</ion-label>
				<ion-radio item-left value="{{i}}"></ion-radio>
			</ion-item>
		</ion-list>

		<ion-list radio-group [(ngModel)]="ind3" *ngIf="show3" style="margin-top: 2%;">
			<ion-item text-wrap>
				<ion-label>Frontoffice</ion-label>
				<ion-radio item-left value="Frontoffice" (ionSelect)="radioChecked2()"></ion-radio>
			</ion-item>
			<ion-item text-wrap>
				<ion-label>Middleoffice</ion-label>
				<ion-radio item-left value="Middleoffice" (ionSelect)="radioChecked2()"></ion-radio>
			</ion-item>
			<ion-item text-wrap>
				<ion-label>Backoffice</ion-label>
				<ion-radio item-left value="Backoffice" (ionSelect)="radioChecked2()"></ion-radio>
			</ion-item>
		</ion-list>

		<ion-list radio-group [(ngModel)]="finance_level" *ngIf="showfinance">
			<h6 style="margin-top: 2%;"><b>Finance:</b></h6>
			<ion-item *ngFor="let i of finance;let in=index;">
				<ion-label text-wrap>{{ i }}</ion-label>
				<ion-radio item-left value="{{i}}"></ion-radio>
			</ion-item>
		</ion-list>

		<ion-item id="rounded" *ngIf="show4">
			<ion-input [(ngModel)]="other" placeholder="Enter Industry"></ion-input>
		</ion-item>
		<br/>

		<h5>I can teach others on &nbsp;
			<ion-input [(ngModel)]="teach" style="border-bottom: solid 1px;" placeholder="Blockchain"></ion-input>
		</h5>
		<ion-list>
			<ion-item *ngFor="let bl of blockchain; let i=index" name="blkchain" text-wrap>
				<ion-label>{{ bl }}</ion-label>
				<ion-checkbox value="i" [checked]="check.includes(bl)" (ionChange)="update1(i, $event)"></ion-checkbox>
			</ion-item>
		</ion-list>
		<br/>

		<ion-row style="margin-bottom: -8%;">
			<ion-col col-2>
				<ion-label><p>From</p></ion-label>
			</ion-col>
			<ion-col col-5>
				<ion-item id="rounded" style="padding-left:9%;">
					<ion-select [(ngModel)]="f_month" placeholder="Month" class="select_c">
						<ion-option *ngFor="let month of months" [value]="month">{{ month }}</ion-option>
					</ion-select>
				</ion-item>
			</ion-col>
			<ion-col col-5>
				<ion-item id="rounded" style="padding-left:9%">
					<ion-select [(ngModel)]="f_year" placeholder="Year" class="select_c">
						<ion-option *ngFor="let year of years" [value]="year">{{ year }}</ion-option>
					</ion-select>
				</ion-item>
			</ion-col>
		</ion-row>

		<ion-row>
			<ion-col col-2>
				<ion-label *ngIf="!wrk"><p>To</p></ion-label>
			</ion-col>
			<ion-col col-5>
				<ion-item *ngIf="!wrk" id="rounded" style="padding-left:9%;">
					<ion-select [(ngModel)]="t_month" placeholder="Month" class="select_c">
						<ion-option *ngFor="let month of months" [value]="month">{{ month }}</ion-option>
					</ion-select>
				</ion-item>
			</ion-col>
			<ion-col col-5>
				<ion-item *ngIf="!wrk" id="rounded" style="padding-left:15px;">
					<ion-select [(ngModel)]="t_year" placeholder="Year" class="select_c">
						<ion-option *ngFor="let year of years" [value]="year">{{ year }}</ion-option>
					</ion-select>
				</ion-item>
			</ion-col>
		</ion-row>

		<ion-item>
			<ion-label>I currently work here</ion-label>
			<ion-checkbox name="work" [checked]="curr" (ionChange)="changew($event)"></ion-checkbox>
		</ion-item>

		<ion-item id="rounded">
			<ion-input [(ngModel)]="company" placeholder="Company Name"></ion-input>
		</ion-item>
		<br/>

		<ion-item id="rounded" *ngIf="show5">
			<ion-input [(ngModel)]="company_desc" placeholder="Company Description" maxlength="60"></ion-input>
		</ion-item>
		<br/>

		<h4><b>Company Size</b></h4>
		<ion-list radio-group [(ngModel)]="c_size">
			<ion-item>
				<ion-label text-wrap>Startup (under 150 employees)</ion-label>
				<ion-radio item-left value="Startup" (ionSelect)="radioChecked(1)"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label text-wrap>Scaleup (150-2,000 employees)</ion-label>
				<ion-radio item-left value="Mid-level" (ionSelect)="radioChecked(2)"></ion-radio>
			</ion-item>
			<ion-item>
				<ion-label text-wrap>Institution (Over 2,000 employees)</ion-label>
				<ion-radio item-left value="Institution" (ionSelect)="radioChecked(3)"></ion-radio>
			</ion-item>
		</ion-list>
		<br/>

		<ion-list radio-group [(ngModel)]="s_level" *ngIf="show_level" style="margin-top: 8%;">
			<h6><b>Please also advise if you are one of the below:</b></h6>
			<ion-item *ngFor="let s of s_levels">
				<ion-label>{{ s }}</ion-label>
				<ion-radio item-left value="{{s}}"></ion-radio>
			</ion-item>
		</ion-list>
		<br/>

		<ion-item id="rounded">
			<ion-input [(ngModel)]="job" placeholder="Job Title"></ion-input>
		</ion-item>

		<ion-item id="rounded">
			<ion-label style="padding-left: 3%;">Level</ion-label>
			<ion-select [(ngModel)]="level" style="max-width: 80% !important;">
				<ion-option *ngFor="let l of levels" [value]="l">{{ l }}</ion-option>
			</ion-select>
		</ion-item>

		<div class="form-group">
			<input #search
			       style="padding: 5%; width: 100%;"
			       [(ngModel)]="address"
			       placeholder="Search for location"
			       autocorrect="off"
			       autocapitalize="on"
			       spellcheck="false"
			       type="text"
			       class="form-control"
			       [formControl]="searchControl">
		</div>

		<button ion-button round outline (click)="edit()" class="add_b">Update</button>

	</ion-card>

</ion-content>
