page-add-edu {

.toolbar-background {
  background: #7d0d3f;
}

.degree {
  height: 7%;
  background: #7d0d3f;
  padding-top: 5%;
  padding-left: 5%;
  color: white;
}

.scroll-content {
  padding: 2% !important;
}

#rounded {
  border-radius: 0px !important;
  border: 1px solid lightgrey; 
  margin-bottom: 5%;
}

.card {
  margin: 0 !important;
  width: 100% !important;
  height: 90%;
}

.add_b {
  margin-left: 37%;
  border-color: #7d0d3f; 
  color: #7d0d3f;
}

.button_c {
  margin-left: 37%;
  margin-top: 7%;
  background-color: #7d0d3f;
  color: white;
}

.button_c1 {
  background-color: #7d0d3f;
  color: white;
}

}
