<ion-header>

	<ion-navbar hideBackButton>
		<ion-title style="text-align: center;"><span style="color: white;">Add</span></ion-title>
		<ion-buttons left *ngIf="!show">
			<button ion-button (click)="closeModal()" icon-only>
				<ion-icon name="ios-arrow-back" style="color: white;"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>

<ion-content padding>

	<ion-card padding>

		<div class="degree">
			<h4 style="text-align: center; color: white;">Education Details</h4>
		</div>
		<br/>

		<ion-item id="rounded">
			<ion-input [(ngModel)]="uni" placeholder="Institution/Board"></ion-input>
		</ion-item>
		<ion-item id="rounded">
			<ion-input [(ngModel)]="degree" placeholder="Course/Qualification"></ion-input>
		</ion-item>
		<ion-item id="rounded">
			<ion-label style="padding-left: 3%;">Year</ion-label>
			<ion-select [(ngModel)]="ed_year">
				<ion-option *ngFor="let y of years" [value]="y">{{ y }}</ion-option>
			</ion-select>
		</ion-item>
		<div class="form-group">
			<input style="padding: 5%; width: 100%; border-color: lightgray; border-width: 1px; margin-bottom: 4%;"
			       placeholder="Search for location" [(ngModel)]="address" autocorrect="off" autocapitalize="on"
			       spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
		</div>

		<ion-row *ngIf="show">
			<ion-col col-6>
				<button ion-button round outline (click)="skip()" class="add_b">Skip</button>
			</ion-col>
			<ion-col col-6>
				<button ion-button round outline [disabled]="show_b" (click)="add()" class="button_c1">Add</button>
			</ion-col>
		</ion-row>
		<button ion-button round outline [disabled]="show_b" *ngIf="!show" (click)="add()" class="button_c">Add</button>

	</ion-card>

</ion-content>
