<ion-content>

	<button ion-fixed ion-button *ngIf="show" (click)="scroll_page_up()" class="scroll_b"><ion-icon name="arrow-up"></ion-icon></button>
	<ion-item>
		<ion-label>Select country</ion-label>
		<ion-select [(ngModel)]="place" (ionChange)="ch_country()">
			<ion-option *ngFor="let ct of countries; let i=index" (ionSelect)="sel_country(ct)" value="{{values[i]}}">{{ct}}</ion-option>
		</ion-select>
	</ion-item>
	
	<h6 *ngIf="show" style="color: #7d0d3f;">Showing search results by {{ ctry }}</h6>
	<h3 *ngIf="empty" style="color: #7d0d3f; text-align: center;">No events found</h3>

	<ion-item *ngFor="let event of events | sort: 'start_date'">
		<ion-avatar item-left>
			<a (click)="openEvent(event.event_id)"><img src="https://elevather.com/public/event/{{event.event_img}}" /></a>
		</ion-avatar>
		<h4>
			<a (click)="openEvent(event.event_id)"><h2 style="color: #7d0d3f;"><b>{{ event.event_title }}</b></h2></a>
		</h4>
		<p><ion-icon name="pin"></ion-icon>&nbsp; {{ event.search_address }}</p>
		<p><ion-icon name="calendar"></ion-icon>&nbsp; {{ event.start_date }} <ion-icon name="time"></ion-icon>&nbsp; {{ event.start_time }}</p>
	</ion-item>

	<!--<ion-card style="margin-bottom: 5%;" *ngFor="let event of events">
		<ion-avatar>
			<a (click)="openEvent(event.event_id)"><img src="https://elevather.com/public/event/{{event.event_img}}" style="padding: 2% 2% 0% 2%;"/></a>
		</ion-avatar>
		<ion-card-content>
			<a (click)="openEvent(event.event_id)"><h2 style="color: #7d0d3f;"><b>{{ event.event_title }}</b></h2></a>
		</ion-card-content>
		<p style="margin-left: 5%;"><ion-icon name="pin"></ion-icon>&nbsp; {{ event.search_address }}</p>
		<p style="margin-left: 5%; margin-bottom: 3%;"><ion-icon name="calendar"></ion-icon>&nbsp; {{ event.start_date }} <ion-icon name="time"></ion-icon>&nbsp; {{ event.start_time }}</p>
	</ion-card>-->

</ion-content>
