<ion-content class="main-view">
  <div class="overlay"></div>
  <div class="modal_content">
    <div *ngIf="show_c">
      <h3 style="color: white;">Send a message</h3>
      <ion-item>
    		<ion-textarea class="basic" placeholder="Your message" [(ngModel)]="answer"></ion-textarea>
    	</ion-item>
    	<ion-row>
    		<ion-col *ngIf="acc" col-6><button class="button_st" ion-button clear [disabled]="disable" (click)="send()"><ion-icon name="checkmark-circle" class="icon_s"></ion-icon></button></ion-col>
    		<ion-col *ngIf="!acc" col-6><button class="button_st" ion-button clear [disabled]="disable" (click)="reject()"><ion-icon name="checkmark-circle" class="icon_s"></ion-icon></button></ion-col>
    		<ion-col col-6><button class="button_st" ion-button clear (click)="closeModal()"><ion-icon name="close-circle" class="icon_s"></ion-icon></button></ion-col>
    	</ion-row>
    </div>

    <div *ngIf="show_a">
      <ion-item style="background: transparent;">
        <ion-avatar item-start>
          <img [src]="logo" />
        </ion-avatar>
        <h2 text-wrap style="color: white;">{{ desc }}</h2>
        <button *ngIf="!show_button" (click)="closeModal()" ion-button class="button_st1">Close</button>
        <ion-row *ngIf="show_button">
          <ion-col col-6>
            <button ion-button (click)="request_to_join()" class="button_st1">Join</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button (click)="closeModal()" class="button_st1">Close</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </div>
  </div>
</ion-content>
