<ion-header *ngIf="!event">

  <ion-navbar style="background-color: #7d0d3f;" hideBackButton>
    <ion-title style="text-align: center;"><ion-icon name="person"></ion-icon>&nbsp;Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<p style="position: absolute; right: 2%; top: 0%;" *ngIf="cancel"><button ion-button icon-only clear style="color: black;" (click)="presentPopover($event)">
          <ion-icon name="md-more"></ion-icon>
        </button></p>
	<div class="basic">
		<img [src]="img" class="prof_img">
	</div>

	<h4 style="text-align: center;">{{ name }} {{ lname }}</h4>
	<h5 style="color: lightgrey; text-align: center;">{{ job }}</h5>
	<div class="basic1" *ngIf="show">
	<p style="text-align:center;"><button ion-button outline round class="button_c" (click)="connect()"><ion-icon name="add-circle">&nbsp;CONNECT</ion-icon></button></p>
	</div>
	<div class="basic1" *ngIf="msg">
	<p style="text-align:center;"><button ion-button outline round class="button_c" (click)="message()"><ion-icon name="chatbubbles">&nbsp;MESSAGE</ion-icon></button></p>
	</div>
	<div class="basic1" *ngIf="acc_rej">
		<ion-row>
			<ion-col col-6>
				<button ion-button outline round style="border-color: #7d0d3f; background-color:white; color: #7d0d3f; width: 100%;" (click)="accept()"><ion-icon name="checkmark">&nbsp;ACCEPT</ion-icon></button>
			</ion-col>
			<ion-col col-6>
				<button ion-button outline round style="border-color: #7d0d3f; background-color:white; color: #7d0d3f; width: 100%;" (click)="reject()"><ion-icon name="close">&nbsp;REJECT</ion-icon></button>
			</ion-col>
		</ion-row>
	</div>
	<br/><br/>

	<ion-card no-padding>
		<ion-list no-padding>
			<ion-item text-wrap (click)="toggleGroup(1)" class="box">
				<ion-row [ngClass]="isGroupShown(1) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b style="padding-left: 5%;">Career Profile</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(1) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(1)">
					<ion-item *ngFor="let car of career; let i=index" class="item_c">
						<div class="info">
							<p class="space" *ngIf="car.industry!=0"><b>{{ car.industry }}</b></p>
							<p class="space">{{ car.company_name }}, {{ car.locations }}</p>
							<p class="space"><b>{{ car.job_title }}</b></p>
							<p class="space">{{ car.level }}</p>
							<p class="space"><b>{{ car.start_month }}-{{ car.start_year }} - {{ endtime[i] }}</b></p>
							<p style="margin-top: 2%;" class="space" *ngIf="skill!=''">Skill - {{ skill }}</p>
						</div>
					</ion-item>
					<div class="item_c" *ngIf="no_car">
						<p style="padding-bottom: 2%; padding-top: 2%;" class="space">No information available</p>
					</div>
				</div>
			</ion-item>

			<ion-item text-wrap (click)="toggleGroup(1)" class="box">
				<ion-row [ngClass]="isGroupShown(1) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b style="padding-left: 5%;">Further Qualifications</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(1) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(1)">
					<ion-item *ngFor="let edu of education; let i=index" class="item_c">
						<div class="info">
							<p class="space"><b>{{ edu.degree }}</b></p>
							<p class="space">{{ edu.univercity }}</p>
							<p class="space">{{ edu.year }}</p>
							<p class="space">{{ edu.country }}</p>
						</div>
					</ion-item>
					<div class="item_c" *ngIf="no_edu">
						<p style="padding-bottom: 2%; padding-top: 2%;" class="space">No information available</p>
					</div>
				</div>
			</ion-item>

			<ion-item text-wrap (click)="toggleGroup(1)" class="box">
				<ion-row [ngClass]="isGroupShown(1) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b style="padding-left: 5%;">Interest/Hobbies</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(1) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(1)" class="box">
					<ion-item class="item_c">
						<div class="info">
							<p class="space" *ngFor="let hob of hobbies">{{ hob }}</p>
						</div>
					</ion-item>
				</div>
			</ion-item>
		</ion-list>
	</ion-card>
    
    <p style="text-align: center;"><button ion-button style="height: 56%;" clear (click)="popPage()"><ion-icon name="close-circle" style="zoom: 3.0; color: #7d0d3f;"></ion-icon></button></p>

</ion-content>
