page-person {

	b {
		display: block;
		width: 100%;
	}

ion-modal {
	position: static !important;
	z-index: 99;
}

.button_c {
	border-color: #7d0d3f;
	background-color:white;
	color: #7d0d3f;
}

.info {
	width: 80%;
	float: left;
	padding-top: 2%;
}

.item_c {
	margin: 2% 0% 2% 2%;
	width: 96%;
	background: #e0e0e0;
}

.space {
	margin-left: 6%;
}

.basic {
	height: 15%;
}

.basic1 {
	height: 8%;
}

.card {
  margin: 0;
  width: 100%;
}

.color {
	background-color: #7d0d3f;
	color: white;
	padding-top: 4%;
}

.no_color {
	background-color: white;
	color: #7d0d3f;
	padding-top: 4%;
}

.box {
	border: 1px solid lightgrey;
}

.div {
	padding: 4% 20% 2% 5%;
}

.toolbar-background {
	background: #7d0d3f;
}

.text {
  display: -webkit-box;
}

.ic {
  width: 13%;
  float: left;
}

.title_cl {
  color: white;
  margin-left: 25%;
}

ion-app [padding] {
    padding: 0px !important;
}

.item {
	padding-left: 0 !important;
}

.item.item-block .item-inner {
    padding-right: 0 !important;
}

.label {
	margin-right: 0 !important;
	margin-top: 0 !important;
}

.item p {
	line-height: 20px;
}

.prof_img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-radius: 50%;
}

.bar-button-default, .bar-button-default.bar-button-default, .bar-button-clear-default {
  color: white !important;
}

.toolbar-title {
  color: white !important;
}

}
