page-career-advice {

.scroll-content {
  	display: flex;
  	flex-wrap: wrap;
	  justify-content: space-between;
	  .holder {
		  width: 50%;
		  margin: 0;
		  margin-bottom: 15px;
		  .card {
			  height: 100%;
			  display: flex;
			  align-items: center;
			  justify-content: center;
			  text-align: center;
		  }
	  }
}

.toolbar-background {
	background: #7d0d3f;
}

}
