<ion-header>
  <ion-navbar>
    <ion-title style="text-align: center;"><span style="color: white;">Resources</span></ion-title>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu" style="color: white;"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="holder" *ngFor="let r of res">
	<ion-card padding (click)="openPage(r)">
    	<h2 text-wrap style="color: #7d0d3f">{{ r }}</h2>
    </ion-card>
  </div>
    
</ion-content>
