<ion-header class="community-header">

  <ion-navbar>
    <div>
      <div class="ic">
        <button ion-button menuToggle>
          <ion-icon name="menu" style="color: white;"></ion-icon>
        </button>
      </div>
      <div class="text">
        <h2 style="text-align: center;"><span style="color: white;">Community</span></h2>
      </div>
      <ion-searchbar [(ngModel)]="searchStr" (ionCancel)="cancelSearch()" (ionInput)="getItems($event)"></ion-searchbar>
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding class="community-content">
  <ng-container *ngIf="showSearch === true">
    
    <button class="back-to-search" (click)="closeSearch()">Back to list</button>
    <ng-container >
        <div class="community-card">
          <div class="community-holder show">
            <ul>
                <li *ngFor="let comp of getFilteredItems(); let i = index">
                  <button [class.disabled]="isClickedOnce" (click)="company_in(comp)" style="color: black;">{{ comp.title }}</button>
                </li>
            </ul>
          </div>
        </div>
      </ng-container>
  </ng-container>
  <ng-container *ngIf="showSearch === false && community">
    <ng-container *ngFor="let c of community; let i = index">
      <div class="community-card" *ngIf="c && c.communities.length">
        <h2 (click)="activeIndex = i">{{ c.section_name }}</h2>
        <div class="community-holder" [ngClass]="{ show : activeIndex === i }">
          <ul>
            <ng-container *ngFor="let comp of c.communities">
              <li *ngIf="comp !== null">
                <button (click)="company_in(comp)" [class.disabled]="isClickedOnce" style="color: black;">{{ comp.title }}</button>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </ng-container>
  </ng-container>


</ion-content>
