page-qna {

  .scroll-content {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
  }


.text {
  display: block;
  margin-bottom: 20px;
  h2 {
    margin: 0;
    font-size: 24px;
  }
}

.tabs .tabbar {
  background: #7d0d3f;
}

.tabs .tab-button {
  color: #f8a8a8;
}

.tabs .tab-button[aria-selected=true] {
  color: #ffffff;
  border-left: ridge white 2px;
  border-right: ridge white 2px;
  font-weight: bold;
}

.community-header {
  .toolbar {
    padding-top: 10px;
  }
  .toolbar-background {
    background: #7d0d3f;
  }
  .searchbar {
    padding: 0 15px;
    margin-bottom: 25px;
  }
  .searchbar-input {
    box-shadow: none;
    font-size: 18px;
    background: rgba(142, 142, 147, 0.12);
    border-radius: 10px;
    color: #ffffff;
  }
}
.community-content {
  background: #F2F2F2;
  .scroll-content {
    padding: 40px 10px !important;
    flex-wrap: wrap;
    .community-card {
      width: 100%;
      margin-bottom: 50px;
      
      h2 {
        color: #CBCBCB;
        font-size: 26px;
        padding: 0 10px;
        font-weight: 600;
      }
      .community-holder {
        background: #FFFFFF;
        box-shadow: 0px 9.8499px 14.7748px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        display: none;
        &.show {
          display: block;
        }
      }
      ul {
        padding: 10px;
        margin: 0;
        li {
          list-style: none;
          button {
            text-align: left;
            width: 100%;
            background-color: transparent;
            font-size: 18px;
            padding: 15px 10px;
            display: block;
            &.disabled {
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}
.back-to-search {
  display: block; 
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  font-weight: 500;
  font-size: 16px;
}
}
.searchbar-clear-icon {
	display: none !important;
}