<ion-menu *ngIf='showMenu' [content]='content' side='left' menuId='first'>

  <ion-content>
    <div class='menu-header'>
      <a class='img-holder-main' (click)='openProfile()' *ngIf='img'>
        <img [src]='img' onError='this.src="../../../assets/imgs/profile_pic.png";' />
      </a>
      <a (click)='openProfile()'>
        <span>Hi Boss lady</span>
        <h4>{{name}}</h4>
      </a>
    </div>
      <ion-list class='main-menu' *ngIf='pages && pages.length'>
        <button menuClose ion-item *ngFor='let p of pages' (click)='openPage(p)' [ngClass]="p.title === 'Manage Community' ? 'button_style1' : 'button_style' ">
          {{p.title}}
          <ion-badge *ngIf='p.title === "Messaging" && count!==0'>{{ count }}</ion-badge>
        </button>
      </ion-list>
  </ion-content>

  <ion-footer>
    <p class='para'>&copy; ElevatHer</p>
    <p class='para'><a class='color1' (click)='openModal("about_us")'>About us</a> | <a class='color1' (click)='openModal("contact_us")'>Contact Us</a> | <a class='color1' (click)='openModal("privacy")'>Privacy
        Policy</a> | <a class='color1' (click)='openModal("guide")'>Guidelines</a> | <a class='color1' (click)='openModal("faq")'>FAQ</a> | <a class='color1' (click)='openModal("cookies")'>Cookies Policy</a></p>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]='rootPage' #content swipeBackEnabled='false'></ion-nav>
