<ion-content class="main-view">
        <div class="overlay"></div>
        <div class="modal_content">
          <div>
            <h3 style="color: white;">Do you want to change community information?</h3>
              <ion-row>
                  <ion-col col-5><button class="button_st" ion-button (click)="sendEditRequest()"><ion-icon name="checkmark-circle" class="icon_s"></ion-icon>Save</button></ion-col>
                  <ion-col col-5><button class="button_st" ion-button (click)="closeModal()"><ion-icon name="md-close-circle" class="icon_s"></ion-icon>Close</button></ion-col>
              </ion-row>
          </div>
        </div>
      </ion-content>
      