page-about-us {

.toolbar-background {
  background: #7d0d3f;
}

.button_active {
  color: white;
  background: #7d0d3f;
  width: 100%;
}

.text_center {
  color: #7d0d3f;
  text-align: center;	
}

.text_only1 {
  color: #7d0d3f;
}

.text_only {
  color: black;
}

.color {
	background-color: #7d0d3f;
	color: white;
	padding-top: 4%;
}

.no_color {
	background-color: white;
	color: #7d0d3f;
	padding-top: 4%;
}

.info {
	width: 80%;
	float: left;
	margin-top: 3%;
}

.item_c {
	margin: 2% 0% 2% 2%;
	width: 96%;
	background: #e0e0e0;
}

.box {
	border: 1px solid lightgrey;
}

.button_c {
  background-color: #7d0d3f;
  color: white;
  width: 100%;
}

.card1 {
  padding: 1% 5% 2% 5%;
}

}
