<ion-header>

  <ion-navbar hideBackButton>
  	<ion-buttons left>
  		<button ion-button clear (click)="closeModal()" style="margin-top: 4%;">
      		<ion-icon name="ios-arrow-back" style="color: white; zoom: 2.0;"></ion-icon>
    	</button>
    </ion-buttons>
    <img src = "assets/imgs/logo2.png" style="margin-right: 5%; float: right;" *ngIf="!picture&&!add" />
    <ion-title style="text-align: center;" *ngIf="add"><span style="color: white;">Education Details</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<br/>

	<div *ngIf="about">
		<h6 class="text_center">Connect with those worth connecting to</h6>
		<br/>
		<h6 class="text_only1">What We Stand For</h6>
		<p>We want to give women both the edge through the power of networking and the tools for staying ahead of the curve by keeping up to date with the latest industry events.</p>
		<br/>
		<h6 class="text_only1">The Idea Behind ElevatHer</h6>
		<p>In a heavily male dominated industry it’s a breath of fresh air to connect and have another woman's perspective. The inspiration behind ElevatHer was to create a community where it is easy to share knowledge, skills and experiences. Navigating up the career ladder has its own challenges but this app introduces an untapped support system waiting to be used.</p>
		<h6 class="text_only1"><i>Sheena Shah, founder of ElevatHer</i></h6>
	</div>

	<div *ngIf="add">
		<br/>
		<ion-card *ngFor="let i of arr" class="card1">
			<p style="color: #7d0d3f; float: left; margin-top: 5%;">{{ i.univercity }}, {{ i.degree}}</p>
			<button style="float: right;" ion-button clear (click)="del_edu(i.education_id)"><ion-icon style="color: #7d0d3f;" name="trash"></ion-icon></button>
		</ion-card>
		<p style="color: #7d0d3f;" *ngIf="empty">No information available</p>
		<br/>
		<ion-row>
			<ion-col col-6>
				<button ion-button round outline class="button_c" (click)="add_more()">Add more</button>
			</ion-col>
			<ion-col col-6>
				<button ion-button round outline class="button_c" (click)="skip()">Next</button>
			</ion-col>
		</ion-row>
	</div>

	<div *ngIf="picture">
		<h6 class="text_center">{{ msg }}</h6>
		<p style="text-align: center;"><ion-icon name="{{ icon_nm }}" style="color: green; zoom: 3.0;"></ion-icon></p>
	</div>

	<div *ngIf="contact">
		<h6 class="text_center">Connect with those worth connecting to</h6>
		<br/>
		<h6 class="text_only1">Contact Us</h6>
		<h6 class="text_only1">Support issues please email: <i>support@elevather.com</i></h6>
	</div>

	<div *ngIf="privacy">
		<h4 class="text_only1">Your Privacy Matters</h4>
		<p class="text_center">Effective 6th June 2019 </p>
		<p class="text_only">ElevatHer Ltd (“ElevatHer”, “We” or “Us”) is a social network platform to allow women to connect with one another.</p>
		<p class="text_only">This Privacy Statement applies when you use our platform. We offer our users choices about the data we collect, use and share as described in this Privacy Statement. Our registered users (“Members”) share their professional identities, engage with their network, exchange knowledge and professional insights directly to other members. Content and data on some of our Platform is viewable to non-members. You may use the Services only if you agree to form a binding contract with ElevatHer and are not a person barred from receiving services under the laws of the applicable jurisdiction. In any case, you must be at least 18 years old, to use the Services.</p>

		<h4 class="text_only1">Data Controllers and Contracting Parties</h4>
		<p class="text_only">Elevather LTD is the controller of your personal data provided to, or collected by or for, or processed in connection with, our platform and you will be entering into the User Agreement (at the bottom of the page) when signing up.</p> 
		<p class="text_only">As a Member or non- member of our Platform, the collection, use and sharing of your personal data is subject to this Privacy Statement (which includes our Cookie Policy and other documents referenced in this Privacy Statement) and updates.</p>

		<h4 class="text_only1">Changes to Privacy Statement</h4>
		<p class="text_only">Changes to the Privacy Statement apply to your use of our Platform after the “effective date.”</p>
		<p class="text_only">Elevather can modify this Privacy Statement, and if we make material changes to it, we will provide notice through our Platform, or by other means, to provide you the opportunity to review the changes before they become effective.</p>

		<h4 class="text_only1">Data We collect and how we use your data:</h4>
		<p class="text_only1">Data You Provide To Us</p>
		<p class="text_only">You provide data to create an account with us or give ElevatHer access to your LinkedIn page to auto populate data in order to create an account. We use your data to provide, support, personalize and develop our Platform.</p>
		<p class="text_only">How we use your personal data will depend on how you use the Platform and the choices you make in your settings. We use the data that we have about you to provide and personalize, including with the help of automated systems and inferences we make, our Platform so that they can be more relevant and useful to you and others.</p>

		<p class="text_only1">Personalizing Across Your Devices</p>
		<p class="text_only">When you log into ElevatHer on a browser or device, we will associate that browser or device with your account for purposes such as authentication, security, and personalization.</p>

		<p class="text_only1">Registration</p>
		<p class="text_only">To create an account you need to provide data including your name, email address and/or mobile number, and a password.</p>
		<p class="text_only">You create your profile (a complete profile helps you get the most from our Platform).</p>

		<p class="text_only1">Profile</p>
		<p class="text_only">You have choices about the information on your profile, such as your education, work experience, photo, city or area. You don’t have to provide additional information on your profile; however, profile information helps you to get more from our Platform, including finding more relevant connections. It’s your choice whether to include sensitive information on your profile and to make that sensitive information public. Please do not post or add personal data to your profile that you would not want to be publicly available. You are responsible for your use of the Services and for any content you provide, including compliance with applicable laws, rules, and regulations.</p>

		<p class="text_only1">Log Data</p>
		<p class="text_only">We receive information when you view content on or otherwise interact with our services, which we refer to as “Log Data,” even if you have not created an account. For example, when you visit our websites, sign into our services, interact with our email notifications, use your account to authenticate to a third-party service, or visit a third-party service that includes ElevatHer content, we may receive information about you. This Log Data includes information such as your IP address, browser type, operating system, the referring web page, pages visited, location, your mobile carrier, device information (including device and application IDs), search terms, and cookie information. We also receive Log Data when you click on, view, or interact with links on our services, including when you install another application through ElevatHer. We use Log Data to operate our services and ensure their secure, reliable, and robust performance. For example, we use Log Data to protect the security of accounts and to determine what content is popular on our services. We also use this data to improve the content we show you, including ads.</p>
		<p class="text_only">We use information you provide to us and data we receive, including Log Data and data from third parties, to make inferences like what topics you may be interested in, how old you are, and what languages you speak. This helps us better design our services for you and personalize the content we show you, including ads.</p>

		<p class="text_only1">Cookies, Web Beacons and Other Similar Technologies</p>
		<p class="text_only">We collect data through cookies and similar technologies.</p>
		<p class="text_only">As further described in our Cookie Policy, we use cookies and similar technologies (e.g., web beacons, pixel and device identifiers) to recognize you and/or your device(s) on, off and across our Platform and devices. We also allow some others to use cookies as described in our Cookie Policy. You can control cookies through your browser settings and other tools. You can also opt-out from our use of cookies and similar technologies that track your behaviour by emailing General@elevather.com</p>

		<p class="text_only1">Your Device and Location</p>
		<p class="text_only">We receive data from your devices and networks, including location data.</p>
		<p class="text_only">When you visit or leave our Platform (including our plugins or cookies or similar technology on the sites of others), we receive the URL of both the site you came from and the one you go to next. We also get information about your IP address, proxy server, operating system, web browser and add-ons, device identifier and features, and/or ISP or your mobile carrier. If you use our Platform from a mobile device, that device will send us data about your location based on your phone settings. We will ask you to opt-in before we use GPS or other tools to identify your precise location.</p>

		<p class="text_only1">Messages</p>
		<p class="text_only">If you communicate through our Platform, we learn about that.</p>
		<p class="text_only">We collect information about you when you send, receive, or engage with messages in connection with our Platform. For example, if you get a connection request, we track whether you have acted on it and will send you reminders. We also use automatic scanning technology on messages to identify spam messages and to read messages to confirm when a user has been flagged to us through the app.</p>

		<p class="text_only1">Direct Messages and Non-Public Communications</p>
		<p class="text_only">We provide certain features that let you communicate more privately. For example, you can use Messages to have non-public conversations on ElevatHer. When you communicate with others by sending or receiving Messages, we will store and process your communications and information related to them. This includes link scanning for malicious content, link shortening to http://t.co URLs, detection of spam and prohibited images, and review of reported issues. We also use information about whom you have communicated with and when (but not the content of those communications) to better understand the use of our services, to protect the safety and integrity of our platform, and to show more relevant content. We share the content of your Messages with the people you’ve sent them to; we do not use them to serve you ads. When you use features like Messages to communicate, remember that recipients have their own copy of your communications on ElevatHer - even if you delete your copy of those messages from your account - which they may duplicate, store, or re-share.</p>

		<h4 class="text_only1">Other Third Parties and Affiliates</h4>
		<p class="text_only">We may receive information about you from third parties who are not our ad partners, such as others on ElevatHer, partners who help us evaluate the safety and quality of content on our platform, our corporate affiliates, and other services you link to your ElevatHer account.</p>
		<p class="text_only">You may choose to connect your ElevatHer account to accounts on another service, and that other service may send us information about your account on that service. We use the information we receive to provide you features like cross-posting or cross-service authentication, and to operate our services. For integrations that ElevatHer formally supports, you may revoke this permission at any time from your application settings; for other integrations, please visit the other service you have connected to ElevatHer.</p>
		<p class="text_only">We engage service providers to perform functions and provide services to. For example, we use a variety of third-party services to help operate our services, such as hosting our various blogs, and to help us understand the use of our services, such as Google Analytics. We may share your private personal data with such service providers subject to obligations consistent with this Privacy Statement and any other appropriate confidentiality and security measures, and on the condition that the third parties use your private personal data only on our behalf and pursuant to our instructions.</p>

		<h4 class="text_only1">Our Platform and your connections</h4>
		<p class="text_only">Our Platform help you connect with other women in the same industry. We use your data to authorize access to our Platform.</p>
		<p class="text_only">Our Platform allow you to “connect” with professionals who you choose, and who also wish to “connect” with you. Subject to your settings, when you connect with other Members, you will be able to search each others’ connections in order to exchange professional opportunities.</p>
		<p class="text_only">We will use data about you (such as your profile, profiles you have viewed) to help others find your profile, suggest connections for you and others and enable you to invite others to become a Member and connect with you. You can also opt-in to allow us to use your precise location or proximity to others for certain tasks (e.g. to suggest other nearby Members for you to connect with, or notify your connections that you are at a professional event).</p>
		<p class="text_only">It is your choice whether to invite someone to our Platform, send a connection request, or allow another Member to become your connection. When you invite someone to connect with you, your invitation will include your name, photo, network and contact information. We will send invitation reminders to the person you invited.</p>
		<p class="text_only">Our Platform allow you to explore careers, evaluate educational opportunities, and seek out, and be found for, career opportunities. We will use your data to recommend connections, show you and others who work at a company, function or location or have certain skills/hobbies. Keeping your profile accurate and up-to-date may help you better connect to others and to opportunities through our Platform.</p>

		<h4 class="text_only1">Marketing</h4>
		<p class="text_only">We promote our Platform to you and others.</p>
		<p class="text_only">We use data and content about Members for invitations and communications promoting membership and network growth, engagement and our Platform.</p>

		<h4 class="text_only1">How can you exercise your rights provided under the GDPR?</h4>
		<p class="text_only">Under the General Data Protection Regulation, you have the right to access, rectify, port and erase your data. Learn more about these rights, and find out how you can exercise your rights by emailing General@elevather.com. You also have the right to object to and restrict certain processing of your data. This includes:</p>
		<p class="text_only">The right to object to our processing of your data for direct marketing, which you can exercise by using the "unsubscribe" link in such marketing communications; and</p>
		<p class="text_only">The right to object to our processing of your data where we are performing a task in the public interest or pursuing our legitimate interests or those of a third party.</p>

		<h4 class="text_only1">Account Closure and data retention</h4>
		<p class="text_only">We keep some of your data even after you close your account.</p>
		<p class="text_only">If you choose to close your account, your personal data will generally stop being visible to others on our Platform within 24 hours. When you delete your account, we delete things you have posted, such as your photos and status updates, and you won't be able to recover that information later. Information that others have shared about you isn't part of your account and won't be deleted.</p>
		<p class="text_only">We retain your personal data even after you have closed your account if reasonably necessary to comply with our legal obligations (including law enforcement requests), meet regulatory requirements, resolve disputes, maintain security, prevent fraud and abuse, enforce our User Agreement, or fulfil your request to “unsubscribe” from further messages from us. We will retain de-personalized information after your account has been closed.</p>
		<p class="text_only">Information you have shared with will remain visible after you closed your account or deleted the information from your own profile or mailbox, and we do not control data that other Members copied out of our Platform. Your profile may continue to be displayed in the platform of others (e.g., search engine results) until they refresh their cache.</p>
		<p class="text_only">We may suspend or terminate your account or cease providing you with all or part of the Services at any time for any or no reason, including, but not limited to, if we reasonably believe: (i) you have violated these Terms or the ElevatHer Rules , (ii) you create risk or possible legal exposure for us; (iii) your account should be removed due to prolonged inactivity; or (iv) our provision of the Services to you is no longer commercially viable. We will make reasonable efforts to notify you by the email address associated with your account or the next time you attempt to access your account, depending on the circumstances. In all such cases, the Terms shall terminate, including, without limitation, your license to use the Services.</p>


		<h4 class="text_only1">Your account</h4>
		<p class="text_only">You will need to create an account to use some of our Services. You are responsible for safeguarding your account, so use a strong password and limit its use to this account. We cannot and will not be liable for any loss or damage arising from your failure to comply with the above.</p>
		<p class="text_only">We use your contact information, such as your email address or phone number, to authenticate your account and keep it - and our services - secure, and to help prevent spam, fraud, and abuse. We also use contact information to personalize our services, enable certain account features (for example, for login verification), and to send you information about our services. If you provide us with your phone number, you agree to receive text messages from ElevatHer to that number as your country’s laws allow. ElevatHer also uses your contact information to market to you as your country’s laws allow, and to help others find your account if your settings permit, including through third-party services and client applications. You can use your settings for email and mobile notifications to control notifications you receive from ElevatHer. You can also unsubscribe from a notification by following the instructions contained within the notification.</p>
		<p class="text_only">You can control most communications from the Services. We may need to provide you with certain communications, such as service announcements and administrative messages. These communications are considered part of the Services and your account, and you may not be able to opt-out from receiving them. If you added your phone number and/ or email address to your account and you later change or deactivate that phone number, you must update your account information to help prevent us from communicating with anyone who acquires your old number.</p>

		<h4 class="text_only1">Security</h4>
		<p class="text_only">We monitor for and try to prevent security breaches. Please use the security features available through our Platform.</p>
		<p class="text_only">We implement security safeguards designed to protect your data, such as HTTPS. We regularly monitor our systems for possible vulnerabilities and attacks. However, we cannot warrant the security of any information that you send us. There is no guarantee that data may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.</p>

		<h4 class="text_only1">Law, Harm, and the Public Interest</h4>
		<p class="text_only">Notwithstanding anything to the contrary in this Privacy Statement or controls we may otherwise offer to you, we may preserve, use, or disclose your personal data if we believe that it is reasonably necessary to comply with a law, regulation, legal process, or governmental request; to protect the safety of any person; to protect the safety or integrity of our platform, including to help prevent spam, abuse, or malicious actors on our services, or to explain why we have removed content or accounts from our services; to address fraud, security, or technical issues; or to protect our rights or property or the rights or property of those who use our services. However, nothing in this Privacy Statement is intended to limit any legal defenses or objections that you may have to a third party’s, including a government’s, request to disclose your personal data.</p>

		<h4 class="text_only1">Change in Control or Sale</h4>
		<p class="text_only">We may share your data when our business is sold to others, but it must continue to be used in accordance with this Privacy Statement.</p>
		<p class="text_only">We can also share your personal data as part of a sale, merger or change in control, or in preparation for any of these events. Any other entity which buys us or part of our business will have the right to continue to use your data, but only in the manner set out in this Privacy Statement unless you agree otherwise.</p>

		<h4 class="text_only1">Cross-Border Data Transfers</h4>
		<p class="text_only">We process data both inside and outside of the U.K and rely on legally-provided mechanisms to lawfully transfer data across borders. Our data centre is in Amsterdam. Countries where we process data may have laws which are different, and potentially not as protective, as the laws of your own country.</p>

		<h4 class="text_only1">Lawful Bases for Processing</h4>
		<p class="text_only">We rely on your consent to collect, use and share data about you. You have choices about our use of your data.</p>
		<p class="text_only">At any time, you can withdraw consent you have provided by going to settings.</p>
		<p class="text_only">Where we rely on your consent to process personal data, you have the right to withdraw or decline your consent at any time. If you have any questions about the lawful bases upon which we collect and use your personal data, please contact General@elevather.com</p>

		<h4 class="text_only1">Complaints</h4>
		<p class="text_only">If you have questions or complaints regarding this  Privacy Statement, please contact General@elevather.com You have the right to lodge a complaint with the data protection supervisory authority. In the UK, the Information Commissioners Office (ICO) is the regulatory body that oversees data protection compliance.</p>
	</div>

	<div *ngIf="guide">
		<h4 class="text_only1">Guidelines</h4>
		<p class="text_only">These Guidelines and our Terms and Conditions are designed to ensure every
		user has a safe and enjoyable experience on ElevatHer. Failure to adhere to
		these guidelines may result in losing access to our platform.
		Please note even though this is a corporate networking platform we highly
		recommend you take the below precaution when meeting anyone from our
		site.</p>
		<p class="text_only">1. Meet in a public place. Always!</p>
		<p class="text_only">2. Tell somebody close to you where you’re going. Let them know when
		and where, and that you’ll contact them within a certain amount of
		time.</p>
		<p class="text_only">3. Do your due diligence. Ask for their last name, look them up, do your
		homework</p>
		<p class="text_only">4. Don’t give out private information about yourself. It’s smart to keep a
		few details to yourself on a first meeting. Don’t share things like your
		home or office address.</p>
		<p class="text_only">5. Take the time for a pre-screen. Offer to have a FaceTime or phone call
		date prior to meeting.</p>
		<p class="text_only">6. Always feel free to politely leave. In every social situation, you should
		always be kind and compassionate. If you don’t feel comfortable, it’s
		always important for you to put yourself first.</p>
		<p class="text_only">7. Enlist the help of people around. Watch your surroundings and find an
		advocate nearby. Have the waiter help get you out of the situation by
		saying you have an urgent call. If it’s something more serious, you can
		always have someone call the police or help you get a ride home.</p>
		<p class="text_only">Upload only your own photos</p>
		<p class="text_only">We take copyrights very seriously. If you don't own the rights to a photo please don't post it.
		Please respect other people's beliefs, interests and property while on
		ElevatHer. ElevatHer takes a strong stance against hate speech, rude or
		abusive behavior, bullying, and misogyny. Additionally we encourage all of our
		users to report anyone who does not follow these behavioral guidelines. We
		expect all of our users to respect each other.</p>

		<p class="text_only">Send original messages to other users</p>
		<p class="text_only">We strongly advise against copying and pasting the same message to every
		connection. We encourage our users to read profiles, learn about other
		people’s interests, and send an appropriate, relevant message to each
		connection. We promise this will increase your chances of engaging in
		interesting conversations.</p>

		<p class="text_only">Don't pretend you're someone you're not
		As previously stated, do not post photos that are not of you.
		Our photo guidelines:</p>
		<p class="text_only">- ElevatHer is for networking and business connections.</p>
		<p class="text_only">- No photos in bikinis/swimwear</p>
		<p class="text_only">- No pictures in underwear.</p>
		<p class="text_only">- Face must be clearly visible.</p>
		<p class="text_only">- Watermarks are okay.</p>
		<p class="text_only">- No soliciting, this includes coupon codes &amp; sales links.</p>
		<p class="text_only">- No personal contact information in photos or bio.</p>
		<p class="text_only">Don&#39;t do anything illegal on our site
		Illegal activity will not be tolerated on ElevatHer. This may result in being
		banned from the site, and/or being reported to the authorities.
		ElevatHer isn&#39;t for selling things. If you try to use it as a marketplace, you&#39;ll be
		banned.</p>
		<p class="text_only">If you don&#39;t follow these guidelines, you&#39;ll receive a warning (unless our team
		decides to block without warning at our discretion). If you ignore this warning,
		you risk losing your account. These guidelines are designed to make ElevatHer
		a friendly and safe place for all our users.
		</p>
	</div>

	<div *ngIf="faq">
		<ion-list no-padding>
			<ion-item text-wrap (click)="toggleGroup(1)" class="box">
				<ion-row [ngClass]="isGroupShown(1) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b>What is ElevatHer?</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(1) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(1)" style="padding-top: 2%;">
					<p>ElevatHer is a networking platform for women in finance and technology. Log in to unleash the opportunities to build a powerful network and explore an untapped support system waiting to be used.</p>
				</div>
			</ion-item>
			<ion-item text-wrap (click)="toggleGroup(2)" class="box">
				<ion-row [ngClass]="isGroupShown(2) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b>How do I signup/register?</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(2) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(2)" style="padding-top: 2%;">
					<p>To signup use the Signup button on the home screen. You'll be redirected to a page where you have to enter your basic information such as name, last name, email address, password etc. After finishing that you'll get a verification email, you can click that to verify your identity.</p>
				</div>
			</ion-item>
			<ion-item text-wrap (click)="toggleGroup(3)" class="box">
				<ion-row [ngClass]="isGroupShown(3) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b>How do I login?</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(3) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(3)" style="padding-top: 2%;">
					<p>Use the information filled while signing up (email & password) on the login page and click the Login button.</p>
				</div>
			</ion-item>
			<ion-item text-wrap (click)="toggleGroup(4)" class="box">
				<ion-row [ngClass]="isGroupShown(4) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b>How do I connect with someone?</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(4) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(4)" style="padding-top: 2%;">
					<p>In the suggestion page, you'll see different profiles that you can click on and if you want to talk more with the user, you can click on Connect option. After that, the person on the opposite side will get will get a notification. Once they accept you as a connection, you'll be able to chat with that user.</p>
				</div>
			</ion-item>
			<ion-item text-wrap (click)="toggleGroup(5)" class="box">
				<ion-row [ngClass]="isGroupShown(5) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b>How do I message a connection?</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(5) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(5)" style="padding-top: 2%;">
					<p>You can only message your connections. To message someone, tap on the send message option on connection's profile page.</p>
				</div>
			</ion-item>
			<ion-item text-wrap (click)="toggleGroup(6)" class="box">
				<ion-row [ngClass]="isGroupShown(6) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b>How do I block someone?</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(6) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(6)" style="padding-top: 2%;">
					<p>You can block option on top  of the chat window to block any user.</p>
				</div>
			</ion-item>
			<ion-item text-wrap (click)="toggleGroup(7)" class="box">
				<ion-row [ngClass]="isGroupShown(7) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b>Is my data synced among different platforms?</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(7) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(7)" style="padding-top: 2%;">
					<p>ElevatHer is available for mobile and web. All the platforms are synced among each other.</p>
				</div>
			</ion-item>
			<ion-item text-wrap (click)="toggleGroup(8)" class="box">
				<ion-row [ngClass]="isGroupShown(8) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b>Is this only for women?</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(8) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(8)" style="padding-top: 2%;">
					<p>Yes, ElevatHer is a platform only for women in finance and tech.</p>
				</div>
			</ion-item>
			<ion-item text-wrap (click)="toggleGroup(9)" class="box">
				<ion-row [ngClass]="isGroupShown(9) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b>What information do I need to fill out?</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(9) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(9)" style="padding-top: 2%;">
					<p>We only need your basic information such name, email, industry, current job title, hobbies etc.</p>
				</div>
			</ion-item>
			<ion-item text-wrap (click)="toggleGroup(10)" class="box">
				<ion-row [ngClass]="isGroupShown(10) ? 'color' : 'no_color'">
					<ion-col col-10>
						<b>What if I want to delete my account/profile data?</b>
					</ion-col>
					<ion-col col-2 style="padding-left: 6%;">
						<ion-icon color="success" style="margin-top: 1% !important;" item-right [name]="isGroupShown(10) ? 'remove-circle' : 'add-circle'"></ion-icon>
					</ion-col>
				</ion-row>
				<div *ngIf="isGroupShown(10)" style="padding-top: 2%;">
					<p>You have full control over your data and you can delete it whenever you want. If you want to close your account / delete your data, you can go to your profile and then tap on Deactivate my account option. That will delete your entire data within 24hrs.</p>
				</div>
			</ion-item>
		</ion-list>
	</div>

	<div *ngIf="cookies">
		<h5 class="text_center">Cookies Policy</h5>
		<p class="text_center">Effective 6th June 2019 </p>
		<p class="text_only">At ElevatHer LTD, we believe in being clear and open about how we collect and use data related to you. In the spirit of transparency, this Statement provides detailed information about how and when we use cookies.</p>

		<h5 class="text_only1">Does ElevatHer use cookies?</h5>
		<p class="text_only">Yes. We use cookies and other technologies to ensure everyone who uses the platform has the best possible experience. Cookies also help us keep your account safe. By continuing to visit or use our platform, you are agreeing to the use of cookies and similar technologies for the purposes we describe in this Statement.</p>
		
		<h5 class="text_only1">What is a cookie?</h5>
		<p class="text_only">A cookie is a small file placed onto your device that enables ElevatHer features and functionality. For example, cookies enable us to identify your device, secure your access to ElevatHer and our site generally, and even help us know if someone attempts to access your account from a different device. Cookies also enable you to easily share content on ElevatHer.</p>

		<h5 class="text_only1">When does ElevatHer place cookies?</h5>
		<p class="text_only">We use cookies on our sites and mobile applications. Any browser visiting these sites will receive cookies from us. We also place cookies in your browser when you visit non- ElevatHer sites that host our plugins (for example, ElevatHer “Share” button) or tags.</p>

		<h5 class="text_only1">What types of cookies does ElevatHer use?</h5>
		<p class="text_only">We use two types: persistent cookies and session cookies. A persistent cookie helps us recognize you as an existing user, so it is easier to return to ElevatHer or interact with our platform without signing in again. After you sign in, a persistent cookie stays in your browser and will be read by ElevatHer when you return to our site. Session cookies only last for as long as the session (usually the current visit to a website or a browser session).</p>

		<h5 class="text_only1">What are cookies used for?</h5>
		<p class="text_only">Cookies can be used to recognize you when you visit ElevatHer, remember your preferences, and give you a personalized experience that’s in line with your settings. Cookies also make your interactions with ElevatHer faster and more secure. Additionally, cookies allow us to bring you advertising both on and off the ElevatHer sites, and bring customized features to you through ElevatHer plugins such as our “Share” button.</p>

		<h5 class="text_only1">Categories of Use Description</h5>
		<p class="text_only">Authentication - If you’re signed in to ElevatHer, cookies help us show you the right information and personalize your experience.</p>
		<p class="text_only">Security - We use cookies to enable and support our security features, and to help us detect malicious activity and violations of our User Agreement.</p>
		<p class="text_only">Preferences, features and platform - Cookies can tell us which language you prefer and what your communications preferences are. They can help you fill out forms on ElevatHer more easily. They also provide you with features, insights, and customized content in conjunction with our plugins. You can learn more about plugins in our Privacy Statement.</p>
		<p class="text_only">Performance, Analytics and Research - Cookies help us learn how well our site and plugins perform in different locations. We also use cookies to understand, improve, and research products, features, and platform, including when you access ElevatHer from other websites, applications, or devices such as your work computer or your mobile device.</p>

		<h5 class="text_only1">Controlling cookies</h5>
		<p class="text_only">Most browsers allow you to control cookies through their settings preferences. However, if you limit the ability of websites to set cookies, you may worsen your overall user experience, since it will no longer be personalized to you. It may also stop you from saving customized settings like login information.</p>

		<h5 class="text_only1">What to do if you don’t want cookies to be set or want them to be removed?</h5>
		<p class="text_only">If you do not want to receive cookies, you can also change your browser settings on your computer or other device you’re using to access our platform. Please note that the ElevatHer site will not work properly without cookies.</p>
	</div>

	<div *ngIf="del_data">
		<h4 class="text_only1">Delete all your data</h4>
		<p class="text_only">We understand how important it is to ensure privacy to a user. To make sure a user is controlling his/her data, we always allow you to delete your entire data from the server.</p>
		<p class="text_only">By requesting delete your data, you will loose all your connections, picture and any profile information. This is an irreversible action and we have no control over it. Please proceed with caution. Click "Delete my data" if you still want your data to be deleted from the server.</p>
		<p class="text_only"><i>Note - this is an automated process and takes 12-24hrs for the server to wipe off your data.</i></p>
		<ion-row>
			<ion-col col-6>
				<button ion-button text-wrap (click)="del()" class="button_active"><ion-icon name="trash"></ion-icon>&nbsp;Delete your data</button>
			</ion-col>
			<ion-col col-6>
				<button ion-button (click)="closeModal()" class="button_active"><ion-icon name="close"></ion-icon>&nbsp;Cancel</button>
			</ion-col>
		</ion-row>
	</div>

	<div *ngIf="terms">
		<h5 class="text_center">User Agreement</h5>
		<p class="text_center">Effective 6th June 2019 </p>
		<p class="text_only">Our mission is to connect professional women to allow them to be more productive and successful. Our platform is designed to enabling you and other to meet, exchange ideas, learn, and make decisions in a network of trusted relationships.</p>
		<p class="text_only">Table of Contents:</p>
		<p class="text_only">1.	Introduction</p>
		<p class="text_only">2.	Obligations</p>
		<p class="text_only">3.	Rights and Limits</p>
		<p class="text_only">4.	Disclaimer and Limit of Liability</p>
		<p class="text_only">5.	Termination</p>
		<p class="text_only">6.	Governing Law and Dispute Resolution</p>
		<p class="text_only">7.	General Terms</p>
		<p class="text_only">8.	“Dos and Don’ts”</p>
		<p class="text_only">9.	Complaints Regarding Content</p>
		<p class="text_only">10. How To Contact Us</p>

		<h5 class="text_only1"><i>1. Introduction</i></h5>
		<p class="text_only">Your use of our Platform is governed by this User Agreement. Your use of our Platform is also subject to our Cookie Policy and our Privacy Statement, which covers how we collect, use, share, and store your personal information.</p>
		<p class="text_only">You agree that by clicking  “Sign Up” or similar, registering, accessing or using our platform (described below), you are agreeing to enter into a legally binding contract with ElevatHer (even if you are using our Platform on behalf of a company). If you do not agree to this contract (“Contract” or “User Agreement”), do not click “Sign up” (or similar) and do not access or otherwise use any of our Platform. If you wish to terminate this contract, at any time you can do so by closing your account and no longer accessing or using our Platform.</p>

		<p class="text_only1">Platform</p>
		<p class="text_only">This Contract applies to ElevatHer site, app, communications and other platform that state that they are offered under this Contract (“Platform”), including the offsite collection of data for those Platform, such as our ads and the “Apply with ElevatHer” and “Share with ElevatHer” plugins. Registered users of our Platform are “Members” and unregistered users are “non - members”. This Contract applies to both.</p>

		<p class="text_only1">ElevatHer</p>
		<p class="text_only">You are entering into this Contract with ElevatHer (also referred to as “we” and “us”).</p>
		<p class="text_only">This Contract applies to Members and Non members.</p>
		<p class="text_only">As a non-member or Member of our Platform, the collection, use and sharing of your personal data is subject to this Privacy Statement (which includes our Cookie Policy and other documents referenced in this Privacy Statement) and updates.</p>

		<p class="text_only1">Members and non members</p>
		<p class="text_only">When you register and join the ElevatHer Service or become a registered, you become a Member. If you have chosen not to register for our Platform, you may access certain features as a “non-member.”</p>

		<p class="text_only1">Change</p>
		<p class="text_only">We may make changes to the Contract.</p>
		<p class="text_only">We may modify this Contract, our Privacy Statement and our Cookies Policies from time to time. If we make material changes to it, we will provide you notice through our Platform, or by other means, to provide you the opportunity to review the changes before they become effective. We agree that changes cannot be retroactive. If you object to any changes, you may close your account. Your continued use of our Platform after we publish or send a notice about our changes to these terms means that you are consenting to the updated terms.</p>

		<h5 class="text_only1"><i>2. Obligations</i></h5>

		<p class="text_only1">Service Eligibility</p>
		<p class="text_only">The Platform is not for use by anyone under the age of 18.</p>
		<p class="text_only">To use the Platform, you agree that:</p>
		<p class="text_only">(1) you must be the minimum age of 18 or older;</p> 
		<p class="text_only">(2) you will only have one ElevatHer account , which must be in your real name; and </p>
		<p class="text_only">(3) you are not already restricted by ElevatHer from using the Platform. Creating an account with false information is a violation of our terms, including accounts registered on behalf of others or persons under the age of 18.</p>

		<p class="text_only1">Your Account</p>
		<p class="text_only">You will keep your password safe and secure.</p>
		<p class="text_only">You will not share an account with anyone else and will follow our rules and the law.</p>
		<p class="text_only">Members are account holders. You agree to:</p>
		<p class="text_only">(1) choose a strong and secure password;</p> 
		<p class="text_only">(2) keep your password secure and confidential; </p>
		<p class="text_only">(3) not transfer any part of your account (e.g., connections) and</p>
		<p class="text_only">(4) comply with the law and our list of Dos and Don’ts. You are responsible for anything that happens through your account unless you close it or report misuse.</p>
		<p class="text_only">As between you and others (including your employer), your account belongs to you. However, if the Platform were purchased by another party for you to use, the party paying for such Service has the right to control access to and get reports on your use of such paid Service; however, they do not have rights to your personal account.</p>

		<p class="text_only1">Notices and Messages</p>
		<p class="text_only">We will send notices and messages to you through our website, app, and contact information. If your contact information is out of date, you may miss out on important notices. The notices and messages are to update the app if there is a new version or to inform you of any new policies we have or to alert you to new organisations being added so that users can select and join those groups.</p>
		<p class="text_only">You agree that we will provide notices and messages to you in the following ways:</p>
		<p class="text_only">(1) within the Service, or </p>
		<p class="text_only">(2) sent to the contact information you provided us (e.g., email, mobile number, physical address). You agree to keep your contact information up to date.</p>

		<p class="text_only1">Sharing</p>
		<p class="text_only">Our Platform allow messaging and sharing of information in many ways, such as your profile and direct messaging. Information and content that you share or post may be seen by other Members and non members. Where we have made settings available, we will honour the choices you make about who can see content or information (e.g., message content to your addressees, sharing content only to ElevatHer connections, restricting your profile visibility from search engines, or opting not to notify others of your ElevatHer profile update).</p>
		<p class="text_only">We are not obligated to publish any information or content on our Service and can remove it in our sole discretion, with or without notice.</p>

		<h5 class="text_only1"><i>3. Rights and Limits</i></h5>

		<p class="text_only1">Your License to ElevatHer</p>
		<p class="text_only">You own all of the content, feedback, and personal information you provide to us, but you also grant us a non-exclusive license to it.</p>
		<p class="text_only">We will honour the choices you make about who gets to see your information and content.</p>
		<p class="text_only">As between you and ElevatHer, you own the content and information that you submit or post to the Platform, and you are only granting ElevatHer the below:-</p>
		<p class="text_only">A worldwide, transferable and sub licensable right to use, copy, modify, distribute, publish, and process, information and content that you provide through our Platform and the platform of others, without any further consent, notice and/or compensation to you or others. These rights are limited in the following ways:</p>
		<p class="text_only">1.	You can end this license for specific content by deleting such content from the Platform, or generally by closing your account, except (a) to the extent you shared it with others as part of the Service and they copied, re-shared it or stored it and (b) for the reasonable time it takes to remove from backup and other systems.</p>
		<p class="text_only">2.	We will obtain your consent if we want to give others the right to publish your content beyond the Platform. However, if you choose to share your post as "publicIncluding any “Public +” we will enable a feature that allows other Members to embed that public post onto third-party platform, and we enable search engines to make that public content findable though their platform.</p>
		<p class="text_only">3.	While we may edit and make format changes to your content (such as translating it, modifying the size, layout or file type or removing metadata), we will not modify the meaning of your expression.</p>
		<p class="text_only">4.	Because you own your content and information and we only have non-exclusive rights to it, you may choose to make it available to others.</p>
		<p class="text_only">You and ElevatHer agree that if content includes personal data, it is subject to our Privacy Statement.</p>
		<p class="text_only">You and ElevatHer agree that we may access, store, process and use any information and personal data that you provide in accordance with the terms of the Privacy Statement and your choices (including settings).</p>
		<p class="text_only">By submitting suggestions or other feedback regarding our Platform to ElevatHer, you agree that ElevatHer may use and share such feedback for any purpose identified in our Privacy Statement, without compensation to you.</p>
		<p class="text_only">You promise to only provide information and content that you have the right to share, and that your ElevatHer profile will be truthful.</p>
		<p class="text_only">You agree to only provide content or information that does not violate the law nor anyone’s rights (including intellectual property rights). ElevatHer may be required by law to remove certain information or content in certain countries.</p>

		<p class="text_only1">Service Availability</p>
		<p class="text_only">We may change, suspend or end any Service, or change and modify prices prospectively in our discretion. To the extent allowed under law, these changes may be effective upon notice provided to you.</p>
		<p class="text_only">We may change or discontinue any of our Platform. We do not promise to store or keep showing any information and content that you have posted.</p>
		<p class="text_only">ElevatHer is not a storage service. You agree that we have no obligation to store, maintain or provide you with a copy of any content or information that you or others provide, except to the extent required by applicable law and as noted in our Privacy Statement.</p>

		<p class="text_only1">Other Content, Sites and Apps</p>
		<p class="text_only">Your use of third party content and information posted on our Platform, is at your own risk.</p>
		<p class="text_only">Third parties may offer their own products and platform through our Platform, and we are not responsible for those third-party activities or websites.</p>
		<p class="text_only">By using the Platform, you may encounter content or information that might be inaccurate, incomplete, delayed, misleading, illegal, offensive or otherwise harmful. ElevatHer generally does not review content provided by our Members or others. Where notified, Elevather will take down illegal, offensive, harmful or misleading content. You agree that we are not responsible for third party (including other Members’) content or information. We cannot always prevent this misuse of our Platform, and you agree that we are not responsible for any such misuse.</p>
		<p class="text_only">You are responsible for deciding if you want to access or use third-party apps or sites that link from our ElevatHer. If you allow a third-party app or site to authenticate you or connect with your ElevatHer account, that app or site can access information on ElevatHer related to you and your connections. Third-party apps and sites have their own legal terms and privacy policies, and you may be giving others permission to use your information in ways we would not. Except to the limited extent it may be required by applicable law, ElevatHer is not responsible for these other sites and apps – use these at your own risk. Please see our Privacy Statement.</p>

		<p class="text_only1">Limits</p>
		<p class="text_only">We have the right to limit how you connect and interact on our Platform.</p>
		<p class="text_only">ElevatHer reserves the right to limit your use of the Platform, including the number of your connections and your ability to contact other Members. ElevatHer reserves the right to restrict, suspend, or terminate your account if ElevatHer believes that you may be in breach of this User Agreement or law or are misusing the Platform (e.g., violating any of the Dos and Don’ts or Professional Community Policies).</p>

		<p class="text_only1">Intellectual Property Rights</p>
		<p class="text_only">ElevatHer reserves all of its intellectual property rights to the Platform. Using the Platform does not give you any ownership in our Platform or to the content or information made available through our Platform. Trademarks and logos used in connection with the Platform are the trademarks of their respective owners. ElevatHer logo and trademarks, service marks, graphics, and logos used for our Platform are trademarks or registered trademarks of ElevatHer.</p>

		<p class="text_only1">Automated Processing</p>
		<p class="text_only">We use data and information about you to make relevant suggestions to you and others.</p>
		<p class="text_only">We will use the information and data that you provide and that we have about Members to make recommendations for connections, content and features that may be useful to you. Keeping your profile accurate and up-to-date helps us to make these recommendations more accurate and relevant.</p>

		<h5 class="text_only1"><i>4. Disclaimer and Limit of Liability</i></h5>

		<p class="text_only1">No Warranty</p>
		<p class="text_only">This is our disclaimer of legal liability for the quality, safety, or reliability of our Platform.</p>
		<p class="text_only">TO THE EXTENT ALLOWED UNDER LAW, ELEVATHER (AND THOSE THAT ELEVATHER WORKS WITH TO PROVIDE THE PLATFORM)</p>
		<p class="text_only">(A) DISCLAIM ALL IMPLIED WARRANTIES AND REPRESENTATIONS (E.G. WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY OF DATA, AND NONINFRINGEMENT);</p>
		<p class="text_only">(B) DO NOT GUARANTEE THAT THE PLATFORM WILL FUNCTION WITHOUT INTERRUPTION OR ERRORS, AND</p>
		<p class="text_only">(C) PROVIDE THE SERVICE (INCLUDING CONTENT AND INFORMATION) ON AN “AS IS” AND “AS AVAILABLE” BASIS.</p>
		<p class="text_only">SOME LAWS DO NOT ALLOW CERTAIN DISCLAIMERS, SO SOME OR ALL OF THESE DISCLAIMERS MAY NOT APPLY TO YOU.</p>
		<p class="text_only">Your access to and use of the Services or any Content are at your own risk. You understand and agree that the Services are provided to you on an “AS IS” and “AS AVAILABLE” basis. Without limiting the foregoing, to the maximum extent permitted under applicable law, THE ELEVATHER ENTITIES DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. The ElevatHer Entities make no warranty or representation and disclaim all responsibility and liability for:</p>
		<p class="text_only">(i) the completeness, accuracy, availability, timeliness, security or reliability of the Services or any Content;</p>
		<p class="text_only">(ii) any harm to your computer system, loss of data, or other harm that results from your access to or use of the Services or any Content; </p>
		<p class="text_only">(iii) the deletion of, or the failure to store or to transmit, any Content and other communications maintained by the Services; and</p>
		<p class="text_only">(iv) whether the Services will meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether oral or written, obtained from the ElevatHer Entities or through the Services, will create any warranty or representation not expressly made herein.</p>

		<p class="text_only1">Exclusion of Liability</p>
		<p class="text_only">These are the limits of legal liability we may have to you.</p>
		<p class="text_only">TO THE EXTENT PERMITTED UNDER LAW (AND UNLESS ELEVATHER HAS ENTERED INTO A SEPARATE WRITTEN AGREEMENT THAT OVERRIDES THIS CONTRACT), ELEVATHER (AND THOSE THAT ELEVATHER WORKS WITH TO PROVIDE THE PLATFORM) SHALL NOT BE LIABLE TO YOU OR OTHERS FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF DATA, OPPORTUNITIES, REPUTATION, PROFITS OR REVENUES, RELATED TO THE PLATFORM (E.G. OFFENSIVE OR DEFAMATORY STATEMENTS, DOWN TIME OR LOSS, USE OF, OR CHANGES TO, YOUR INFORMATION OR CONTENT).</p>
		<p class="text_only">THIS LIMITATION OF LIABILITY SHALL APPLY TO ALL CLAIMS OF LIABILITY (E.G. WARRANTY, TORT, NEGLIGENCE, CONTRACT, LAW) AND EVEN IF ELEVATHER OR ITS AFFILIATES HAS BEEN TOLD OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF THESE REMEDIES FAIL THEIR ESSENTIAL PURPOSE.</p>
		<p class="text_only">SOME LAWS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY, SO THESE LIMITS MAY NOT APPLY TO YOU.</p>

		<h5 class="text_only1"><i>5. Termination</i></h5>
		<p class="text_only">We can each end this Contract anytime we want.</p>
		<p class="text_only">Both you and ElevatHer may terminate this Contract at any time with notice to the other. On termination, you lose the right to access or use the Platform. The following shall survive termination:</p>
		<p class="text_only">•	Our rights to use and disclose your feedback;</p>
		<p class="text_only">•	Members and/or non-members rights to further re-share content and information you shared through the Service to the extent copied or re-shared prior to termination;</p>
		<p class="text_only">•	Any amounts owed by either party prior to termination remain owed after termination.</p>

		<h5 class="text_only1"><i>6. Governing Law and Dispute Resolution</i></h5>
		<p class="text_only">In the unlikely event we end up in a legal dispute, this Agreement is governed by English law. ElevatHer and you submit to the exclusive jurisdiction of the English courts.</p>

		<h5 class="text_only1"><i>7. General Terms</i></h5>
		<p class="text_only">Here are some important details about the Contract.</p>
		<p class="text_only">If a court with authority over this Contract finds any part of it unenforceable, you and we agree that the court should modify the terms to make that part enforceable while still achieving its intent. If the court cannot do that, you and we agree to ask the court to remove that unenforceable part and still enforce the rest of this Contract.</p>
		<p class="text_only">This Contract (including additional terms that may be provided by us when you engage with a feature of the Platform) is the only agreement between us regarding the Platform and supersedes all prior agreements for the Platform.</p>
		<p class="text_only">If we don't act to enforce a breach of this Contract, that does not mean that ElevatHer has waived its right to enforce this Contract. You may not assign or transfer this Contract (or your membership or use of Platform) to anyone without our consent. However, you agree that ElevatHer may assign this Contract to its affiliates or a party that buys it without your consent. There are no third-party beneficiaries to this Contract.</p>
		<p class="text_only">You agree that the only way to provide us legal notice is at the address: General@elevather.com</p>

		<h5 class="text_only1"><i>8. ElevatHer “Dos and Don’ts”</i></h5>
		<p class="text_only1">Dos</p>
		<p class="text_only">ElevatHer is a community of professionals. This list of “Dos and Don’ts” limit what you can and cannot do on our Platform.</p>
		<p class="text_only">You agree that you will:</p>
		<p class="text_only">1.	Comply with all applicable laws, including, without limitation, privacy laws, intellectual property laws, anti-spam laws, export control laws, tax laws, and regulatory requirements;</p>
		<p class="text_only">2.	Provide accurate information to us and keep it updated;</p>
		<p class="text_only">3.	Use your real name on your profile; and</p>
		<p class="text_only">4.	Use the Platform in a professional manner.</p>
		<p class="text_only1">Don’ts</p>
		<p class="text_only">You agree that you will not:</p>
		<p class="text_only">1.	Create a false identity on ElevatHer, misrepresent your identity, create a Member profile for anyone other than yourself (a real person), or use or attempt to use another’s account;</p>
		<p class="text_only">2.	Develop, support or use software, devices, scripts, robots, or any other means or processes (including crawlers, browser plugins and add-ons, or any other technology) to scrape the Platform or otherwise copy profiles and other data from the Platform;</p>
		<p class="text_only">3.	Override any security feature or bypass or circumvent any access controls or use limits of the Service (such as caps on keyword searches or profile views);</p>
		<p class="text_only">4.	Copy, use, disclose or distribute any information obtained from the Platform, whether directly or through third parties (such as search engines), without the consent of ElevatHer;</p>
		<p class="text_only">5.	Disclose information that you do not have the consent to disclose (such as confidential information of others (including your employer));</p>
		<p class="text_only">6.	Violate the intellectual property rights of others, including copyrights, patents, trademarks, trade secrets, or other proprietary rights. For example, do not copy or distribute (except through the available sharing functionality) the posts or other content of others without their permission, which they may give by posting under a Creative Commons license;</p>
		<p class="text_only">7.	Violate the intellectual property or other rights of ElevatHer, including, without limitation, (i) copying or distributing our learning videos or other materials or (ii) copying or distributing our technology, unless it is released under open source licenses; (iii) using the word “ElevatHer” or our logos in any business name, email, or URL except as provided in the Brand Guidelines;</p>
		<p class="text_only">8.	Post anything that contains software viruses, worms, or any other harmful code;</p>
		<p class="text_only">9. Reverse engineer, decompile, disassemble, decipher or otherwise attempt to derive the source code for the Platform or any related technology that is not open source;</p>
		<p class="text_only">10. Imply or state that you are affiliated with or endorsed by ElevatHer without our express consent (e.g., representing yourself as an accredited ElevatHer trainer)</p>
		<p class="text_only">11. Rent, lease, loan, trade, sell/re-sell or otherwise monetize the Platform or related data or access to the same, without ElevatHer consent;</p>
		<p class="text_only">12. Deep-link to our Platform for any purpose other than to promote your profile or a Group on our Platform, without ElevatHer consent;</p>
		<p class="text_only">13. Use bots or other automated methods to access the Platform, add or download contacts, send or redirect messages;</p>
		<p class="text_only">14. Monitor the Platform’ availability, performance or functionality for any competitive purpose;</p>
		<p class="text_only">15. Engage in “framing,” “mirroring,” or otherwise simulating the appearance or function of the Platform;</p>
		<p class="text_only">16. Overlay or otherwise modify the Platform or their appearance (such as by inserting elements into the Platform or removing, covering, or obscuring an advertisement included on the Platform);</p>
		<p class="text_only">17. Interfere with the operation of, or place an unreasonable load on, the Platform (e.g., spam, denial of service attack, viruses, gaming algorithms); and/or</p>

		<h5 class="text_only1"><i>10. How To Contact Us</i></h5>
		<p class="text_only">To get in touch please email General@elevather.com</p>
	</div>

</ion-content>
