page-connect {

body.keyboard-open .has-footer { 
    bottom: 0;
}

.basic {
	  border-radius: 2px !important;
    border: 0.5px solid black;
    padding-left: 4%;
}

.main-view{
    background: transparent;
  }

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .5;
    background-color: #333;
  }

.modal_content {
    position: absolute;
    top: calc(50% - (84%/2));
    left: 0;
    right: 0;
    width: 100%;
    height: 32%;
    padding: 10px;
    z-index: 100;
    margin: 0 auto;
    padding: 10px;
    color: #333;
    background: #7d0d3f;
    //background: -moz-linear-gradient(top, #fff 0%, #7d0d3f 100%);
    //background: -webkit-linear-gradient(top, #fff 0%, #7d0d3f 100%);
    //background: linear-gradient(to bottom, #fff 0%, #7d0d3f 100%);
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-table;
    overflow: visible;
  }

.item.item-block .item-inner {
  padding-right: 0px;
}

.item {
  padding-left: 0px;
}

.icon_s {
  color: white;
  zoom:3.0; 
  margin-top: 5%;
}

.button_st {
  width: 100%; 
  height: 100%;
  
}
}