<ion-header>
</ion-header>


<ion-content class="main-view">
  <div class="overlay"></div>
  <div class="modal_content">
    <h3 style="color: white;">Add a Comment to connect with {{ name }}</h3>
    <ion-item>
  		<ion-textarea class="basic" placeholder="Your answer" [(ngModel)]="answer"></ion-textarea>
  	</ion-item>
  	<ion-row>
  		<ion-col col-6><button class="button_st" ion-button clear [disabled]="disable" (click)="send()"><ion-icon name="checkmark-circle" class="icon_s"></ion-icon></button></ion-col>
  		<ion-col col-6><button class="button_st" ion-button clear (click)="closeModal()"><ion-icon name="close-circle" class="icon_s"></ion-icon></button></ion-col>
  	</ion-row>
  </div>
</ion-content>
