page-magazine {

.btn_r {
	position: absolute;
    display: block;
    top: 50%;
    right: 0%;
    color: black;
    zoom: 1.5;
}

.btn_l {
	position: absolute;
    display: block;
    top: 50%;
    left: 0%;
    color: black;
    zoom: 1.5;
}

.toolbar-background {
  background: #7d0d3f;
}

.btnPrev {
    background: #7d0d3f;
    color: #ffffff;
}

.btnNext {
    background: #7d0d3f;
    color: #ffffff;
}

.item-md.item-block {
    .item-inner {
        padding-right: 0;
    }
}

}

.swiper-container {
    height: auto;
}

.slides-md {
    pointer-events: none !important;
}