<ion-header>

  <ion-navbar hideBackButton>
    <ion-title style="text-align: center;"><span style="color: white;">Magazine</span></ion-title>
    <ion-buttons left>
	    <button ion-button navPop icon-only>
	        <ion-icon name="ios-arrow-back" style="color: white;"></ion-icon>
	    </button>
	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-slides #slides (ionSlideWillChange)="slideChanged($event)" effect="slide" style="padding: 20px 0; height: auto;">
		<ion-slide *ngFor="let item of arr">
			<pinch-zoom>
				<img [src]="item"/>
			</pinch-zoom>
		</ion-slide>
	</ion-slides>
	<ion-row align-items-center justify-content-center>
		<ion-col col-4 justify-content-center style="text-align: center;">
			<button ion-button class="btnPrev" (click)="prev1()"><ion-icon style="zoom: 1.5;" name="arrow-dropleft"></ion-icon></button>
		</ion-col>
		<ion-col col-4>
			<ion-item *ngIf="currentIndex" style="padding: 0; text-align: center;">
				<ion-label style="margin: 13px 8px 13px 8px;">
					{{currentIndex}} / {{arr.length}}
				</ion-label>
			</ion-item>
		</ion-col>
		<ion-col col-4 justify-content-center style="text-align: center;">
			<button ion-button class="btnNext" (click)="next1()"><ion-icon style="zoom: 1.5;" name="arrow-dropright"></ion-icon></button>
		</ion-col>
	</ion-row>
	<br/><br/><br/>
	<ion-row justify-content-between>
		<ion-col col-3>
			<button *ngIf="!clk" outline ion-button style="color: black; border-color: #7d0d3f;" (click)="clicked()"><ion-icon name="heart"></ion-icon></button>
			<button *ngIf="clk" outline ion-button style="color: #7d0d3f; border-color: #7d0d3f;" (click)="clicked()"><ion-icon name="heart"></ion-icon></button>
		</ion-col>
		<ion-col col-3 style="text-align: center;">
			<button (click)="openPdf()" style="color: white; background: #7d0d3f; display: inline-block;" ion-button><ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon></button>
		</ion-col>
		<!-- <ion-col col-3>
			<button style="color: white; background: #7d0d3f; float: left;" ion-button><ion-icon name="arrow-down"></ion-icon></button>
		</ion-col> -->
		<ion-col col-3 >
			<button clear ion-button style="color: #7d0d3f;"><ion-icon name="heart" style="color:#7d0d3f;"></ion-icon>&nbsp;1 like</button>
		</ion-col>
	</ion-row>

</ion-content>
