page-company {

.toolbar {
	padding-top: 20px;

}

.toolbar-background {
	background: #7d0d3f;
}

sup {
	top: -1.0rem !important;
}
.text {
	display: block;
	margin-bottom: 20px;
	h2 {
	  margin: 0;
	  font-size: 24px;
	}
}
ul {
	padding: 10px 0;
	margin: 0;
	li {
	  list-style: none;
	  padding: 0;
	  width: 100%;
	  font-size: 18px;
	  padding: 10px;
	  display: block;
	}
  }

}
