<ion-header>
  <ion-navbar hideBackButton>
	<div class="ic">
		<ion-buttons left>
			<button ion-button navPop icon-only>
				<ion-icon name="ios-arrow-back" style="color: white;"></ion-icon>
			</button>
		</ion-buttons>
	</div>
	<div class="text">
		<h2 style="text-align: center;"><span style="color: white;">{{ comm_name }}</span></h2>
	</div>
  </ion-navbar>
</ion-header>

<ion-content padding>

	<ul>
		<li *ngFor="let c of companies; let i=index;" (click)="company_in(c.cid, c.company, c.description, c.logo, c.admin)">
			<span>
				{{ c.company }}
				<sup>{{ request[i] }}</sup>
			</span>
		</li>
	</ul>

</ion-content>
