<ion-content>
	<!--<button ion-fixed ion-button (click)="scroll_page_up()" class="scroll_b"><ion-icon name="arrow-up"></ion-icon></button>-->
		<button ion-fixed ion-button class="fixedButton" (click)="openEvents()"><ion-icon name="close" style="zoom: 2.0;"></ion-icon></button>
		<ion-card padding style="padding-top: 5%;">
			<p style="color: #7d0d3f; font-size: 11px;"><ion-icon name="calendar"></ion-icon>&nbsp;{{ event.start_date }}, {{ event.start_time }}&nbsp; &nbsp;<ion-icon name="pin"></ion-icon>&nbsp;{{ event.search_address }}</p><br/>
			<h4><b>{{ event.event_title }}</b></h4>
			<img [src]="event.event_img" style="margin-right: 3%; width: 50%"/><br/>

			<p text-justify>{{ event.summary }}</p>

			<ion-row>
				<ion-col col-6>
					<button ion-button small outline (click)="openLink()">Register</button>
				</ion-col>
				<ion-col col-6 *ngIf="!going">
					<button ion-button small outline (click)="attending()" style="min-width: 100%; width: 100%;">Attending?</button>
				</ion-col>
				<ion-col col-6 *ngIf="going">
                    <button ion-button small outline (click)="notAttending()" style="min-width: 100%; width: 100%; background: #7d0d3f; color: white;">I am attending</button>
				</ion-col>
			</ion-row><br/>

			<h5 *ngIf="nouser"><b>No Attendees</b></h5>
			<h5 *ngIf="!nouser"><b>See who else is going</b></h5><br/>
			<ion-row *ngIf="!nouser">
				<ion-col col-3 *ngFor="let user of users">
					<a (click)="viewProfile(user.id, user.friend)"><ion-avatar><img [src]="user.img" style="width: 70%; border-radius: 50%;" /><ion-icon *ngIf="user.friend=='yes'" name="checkmark-circle" style="color: #7d0d3f; position: absolute; bottom: 72%; left: 50%;"></ion-icon></ion-avatar></a>
					<p style="font-size: 9px;">{{ user.firstname }}</p>
				</ion-col>
			</ion-row>
		</ion-card>
</ion-content>
