page-event-detail {

.card-md {
  margin: 0;
  width: 100%;
}

.card-md p {
  font-size: 1.3rem;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: white !important;
}

.scroll-content {
  padding: 3% !important; 
}

.button {
  border-color: #7d0d3f; 
  color: #7d0d3f;
  text-transform: none;
  width: 100%;
}

.fixedButton {
  width: 10%;
  background: #7d0d3f;
  color: white;
  height: 7%;
  margin-left: 87%;
  margin-top: 4%;
}

.scroll_b {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  opacity: 0.9;
  background: white;
  color: #7d0d3f;
  border: solid 1px #7d0d3f;
  bottom: 5%;
  right: 5%;
  display: block;
  position: absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

}
