<ion-header>
    <ion-navbar style="background-color: #7d0d3f;">
      <ion-title style="padding-right: 2% !important; padding-left: 0%; text-align: center;"><span style="color: white;"><ion-icon name="people"></ion-icon>&nbsp;Suggested For You</span><p text-wrap style="color: white; font-size: 11px; margin: 0;">Here are your personalised connections</p></ion-title>
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu" style="color: white;"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
    <ion-buttons>
      <button outline (click)="setCareer()" [ngClass]="'career' ? 'button_active' : 'button_c'" style="border-color: #7d0d3f; width: 31%; margin-left: 2%;" ion-button>Career</button>
      <button outline color="dark" (click)="setHobby()" [ngClass]="'hobby' ? 'button_active' : 'button_c'" style="border-color: #7d0d3f; width: 30%;" ion-button>Hobbies</button>
      <button outline color="dark" (click)="setProximity()" [ngClass]="'proximity' ? 'button_active' : 'button_c'" style="border-color: #7d0d3f; width: 30%;" ion-button>Proximity</button>
    </ion-buttons>

  </ion-header>

  <ion-content padding>

    <div class="filter" *ngIf="!warning">
      <a (click)="openFilter()">
        <p style="color: white; font-size: 17px; margin: 2%; text-align: center;">FILTER</p>
      </a>
    </div>

    <button ion-fixed ion-button *ngIf="!noinfo&&!warning" (click)="scroll_page_up()" class="scroll_b"><ion-icon name="arrow-up"></ion-icon></button>

    <div *ngIf="noinfo">
      <h3 style="color: #7d0d3f; margin-left: 2%; margin-top: 1%;">No results found. Try filtering users to see more results. </h3>
    </div>

    <ng-container *ngIf="information">
      <div *ngFor="let info of information | sort: 'firstname' : false; let i=index">
        <ion-card *ngIf="!noinfo && info.firstname" class="slide-in">
          <ion-item style="margin-bottom: 0px;">
            <ion-avatar item-start>
              <a (click)="openProfile(info.id)"><img [src]="info.img" onError="this.src='../../../assets/imgs/profile_pic.png';"></a>
            </ion-avatar>
            <h2><b>{{ info.firstname }} {{ info.lastname }}</b></h2>
            <p text-wrap>{{ info.company_name }}</p>
            <p text-wrap>{{ info.job_title }}</p>
            <p text-wrap><b>{{ info.icequestion }}</b></p>
            <p text-wrap>{{ info.iceanswer }}</p>
          </ion-item>
          <ion-row>
             <ion-col>
              <button *ngIf="!request[i]&&!sent_requests[i]" ion-button round (click)="openConnect(info.firstname, info.id)" style="margin-left:5%; width:96%;" class="button_active"><ion-icon name="add-circle"></ion-icon>&nbsp;Connect</button>
              <button *ngIf="request[i]" ion-button round style="margin-left:5%; width:96%;" class="button_active">Requested</button>
              <button *ngIf="sent_requests[i]" ion-button round style="margin-left:5%; width:96%;" (click)="presentPopover($event, info.user_id)" class="button_active">Pending</button>
            </ion-col>
            <ion-col>
              <button ion-button round (click)="openProfile(info.id)" style="width:90%;" class="button_active"><ion-icon name="person"></ion-icon>&nbsp;Profile</button>
            </ion-col>
          </ion-row>
        </ion-card>
      </div>
    </ng-container>

    <div style="margin: 2% 2% 2% 2%; height: 30%; background: #efeded; padding-top: 1%;" *ngIf="warning&&career" class="slide-in">
      <p style="text-align: center; font-size: 18px; font-weight: bold;">Insufficient Profile Data</p>
      <p style="text-align: center;">Please fill in all the details to fetch more user profiles.</p>
      <p style="text-align: center;" *ngIf="show_questions"><button ion-button round style="background: #7d0d3f;" (click)="add_cdetails()">Proceed</button></p>
      <p style="text-align: center;" *ngIf="!show_questions"><button ion-button round style="background: #7d0d3f;" (click)="add_cdetailsOnly()">Proceed</button></p>
    </div>

    <div style="margin: 2% 2% 2% 2%; height: 30%; background: #efeded; padding-top: 1%;" *ngIf="warning&&hobby" class="slide-in">
      <p style="text-align: center; font-size: 18px; font-weight: bold;">Insufficient Profile Data</p>
      <p style="text-align: center;">Please fill in all the details to fetch more user profiles.</p>
      <p style="text-align: center;"><button ion-button round style="background: #7d0d3f;" (click)="add_hdetails()">Proceed</button></p>
    </div>

    <div style="margin: 2% 2% 2% 2%; height: 30%; background: #efeded; padding-top: 1%;" *ngIf="warning&&proximity" class="slide-in">
        <p style="text-align: center; font-size: 18px; font-weight: bold;">Insufficient Profile Data</p>
        <p style="text-align: center;">Please fill in all the details to fetch more user profiles.</p>
        <p style="text-align: center;"><button ion-button round style="background: #7d0d3f;" (click)="add_cdetails()">Proceed</button></p>
    </div>

  </ion-content>
