page-profiles {

ion-card {
  	position: relative;
  	text-align: center;
}

ion-content {
  margin-top: 0%;
}

.scroll_b {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  opacity: 0.9;
  background: white;
  color: #7d0d3f;
  border: solid 1px #7d0d3f;
  bottom: 5%;
  right: 5%;
  display: block;
  position: absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
    position: sticky;
    z-index: 9;
    background: #7d0d3f;
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
    height: 6%;
    width: 38%;
    padding: 1% 0% 0% 0%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.button_c {
  background-color: white;
  color: #7d0d3f;
}

.button_active {
  background-color: #7d0d3f;
  color: white;
}

.button_active2 {
  background-color: #9f1654;
  color: white;
  width: 98%;
  font-size: 2.6rem;
  height: 30px;
}

.toolbar-background {
  background: #7d0d3f;
}

.card {
  margin: 0;
  width: 100%;
  margin-bottom: 4%;
}

.item ion-avatar img {
  height: 100px;
  width: 100px;
}

[text-color="my-custom-color"] {
    color: white;
}

.item ion-avatar[item-left], .item ion-thumbnail[item-left], .item ion-avatar[item-start], .item ion-thumbnail[item-start] {
    margin: 0px 6px 8px 0px;
}

.scroll-content {
  padding: 0px !important;
  padding-top: 0% !important;
}

.label h2{
  margin-top: 0px !important;
}

.label {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
  
}