page-events {

.toolbar-background {
  background: #7d0d3f;
}

.tabs .tabbar {
  background: #7d0d3f;
}

.tabs .tab-button {
  color: #f8a8a8;
}

.tabs .tab-button[aria-selected=true] {
  color: #ffffff;
  border-left: ridge white 2px;
  border-right: ridge white 2px;
  font-weight: bold;
  &:first-of-type {
    border-left: none;
  }
  &:last-of-type {
    border-right: none;
  }
}

.text {
  display: -webkit-box;
}

.ic {
  width: 13%;
  float: left;
}

.title_cl {
  margin-left: auto; 
  margin-right: auto; 
  display: block; 
  width: 176px;
  color: white;
}

}
