<ion-header>

  <ion-navbar>
  	<div>
      <div class="ic">
        <button ion-button menuToggle>
          <ion-icon name="menu" style="color: white;"></ion-icon>
        </button>
      </div>
      <div class="text">
        <ion-title><span class="title_cl"><ion-icon name="calendar"></ion-icon>&nbsp;Events</span></ion-title>
      </div>
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-tabs selectedIndex="0" tabsPlacement="top">
    <ion-tab [root]="local" tabTitle="Local Events"></ion-tab>
    <ion-tab [root]="global" tabTitle="Global Events"></ion-tab>
  </ion-tabs>

</ion-content>
