<ion-header>
</ion-header>


<ion-content class="main-view">
  <div class="overlay"></div>
  <div class="modal_content">
    <button clear ion-button class="button_close" (click)="closeModal()"><ion-icon style="zoom: 1.4;" name="close-circle"></ion-icon></button>
    <h3 style="color: white; margin-top: 1%;">Do you want to report the user?</h3>
    <ion-item>
  		<ion-textarea class="basic" placeholder="Write a message for the admin" [(ngModel)]="answer"></ion-textarea>
  	</ion-item>
  	<ion-row>
  		<ion-col col-6><button class="button_c" ion-button (click)="block()">Skip</button></ion-col>
  		<ion-col col-6><button class="button_c" ion-button (click)="send()">Send</button></ion-col>
  	</ion-row>
  </div>
</ion-content>
