page-connections {

.toolbar-background {
	background: #7d0d3f;
}

.scroll_b {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  opacity: 0.9;
  background: white;
  color: #7d0d3f;
  border: solid 1px #7d0d3f;
  bottom: 5%;
  right: 5%;
  display: block;
  position: absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_c {
  background-color: #7d0d3f;
  color: white;
  width: 97%;
}

.button_c1 {
  background-color: white;
  color: #7d0d3f;
}

.button_active {
  background-color: #7d0d3f;
  color: white;
}

.card {
  margin: 0;
  width: 100%;
}

.item ion-avatar img {
  height: 70px;
  width: 70px;
}

.new {
  background: #f7e4e4;
}

.old {
  background-color: white;
}

.new_icon {
  color: #7d0d3f;
  position: absolute;
  z-index: 9;
  left: 7%;
  font-size: 8vw;
}

.pop {
  position: absolute;
  left: 87%;
  z-index: 1;
  color: black;
}

.text {
  display: -webkit-box;
}

.ic {
  width: 13%;
  float: left;
}

.title_cl {
  margin-left: auto; 
  margin-right: auto; 
  display: block; 
  width: 176px;
  color: white;
}

.label {
  margin-bottom: 0 !important;
}

.abc_ios {
  width: 68%;
  left: 19%;
  position: relative;
  z-index: 9999;
  margin-top: 90px !important;
  overflow-y: scroll;
  max-height: 60%;
  border: solid 1px;
}

.abc_md {
  width: 64%;
  left: 21%;
  position: relative;
  z-index: 9999;
  margin-top: 51px !important;
  overflow-y: scroll;
  max-height: 60%;
  border: solid 1px;
}

}
