<ion-header>
  <ion-navbar>
		<div>
      <div class="ic">
        <button *ngIf="!search" ion-button menuToggle>
          <ion-icon name="menu" style="color: white;"></ion-icon>
        </button>
        <button *ngIf="search" ion-button clear (click)="get_connections()" style="width: 0%; float: left;">
          <ion-icon name="close" style="color: white; zoom: 2.0;"></ion-icon>
        </button>
      </div>
      <div class="text" *ngIf="!search">
        <ion-title>
          <span class="title_cl"><ion-icon name="contacts"></ion-icon>&nbsp;Connections
            <a (click)="srch()"><ion-icon name="search" style="color: white; zoom: 1.0; margin-left: 10%;"></ion-icon></a>
          </span>
        </ion-title>
      </div>
    </div>
    <ion-row *ngIf="search" style="float: right; width: 85%;">
      <ion-col col-10 style="padding: 0;">
        <ion-searchbar  showCancelButton="false"*ngIf="search" [(ngModel)]="myInput" (ionInput)="setFilteredItems()" (ionCancel)="noItems()" style="float: right; width: 92%;background: white;"></ion-searchbar>
      </ion-col>
      <ion-col col-2>
        <button ion-button *ngIf="search" (click)="search_key()" style="color: #7d0d3f; background: white; margin: 0; height: 100%;"><ion-icon name="search"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-navbar>
  <ion-buttons>
    <button outline (click)="set_current('yes')" [ngClass]="current ? 'button_active' : 'button_c1'" style="width: 31%; border-color: #7d0d3f; margin-left: 2%;" ion-button>Current</button>
    <button outline (click)="set_current('no')" [ngClass]="pending ? 'button_active' : 'button_c1'" style="width: 30%; border-color: #7d0d3f;" ion-button>Pending</button>
    <button outline (click)="set_current('request')" [ngClass]="requested ? 'button_active' : 'button_c1'" style="width: 30%; border-color: #7d0d3f;" ion-button>Requested</button>
  </ion-buttons>
</ion-header>

<div [ngClass]="is_ios ? 'abc_ios' : 'abc_md'" *ngIf="showdiv">
  <ion-item *ngFor="let item of items">
    <a style="color: #7d0d3f;" (click)="openProfile(item.friend_id)" text-wrap><b>{{item.firstname}} {{item.lastname}}</b></a>
  </ion-item>
</div>

<ion-content padding>

  <button ion-fixed ion-button (click)="scroll_page_up()" class="scroll_b"><ion-icon name="arrow-up"></ion-icon></button>

  <div *ngIf="nouser">
    <h3 *ngIf="current" style="color: #7d0d3f; text-align: center; margin-top: 10%;">No Connections</h3>
    <h3 *ngIf="pending" style="color: #7d0d3f; text-align: center; margin-top: 10%;">No pending requests</h3>
    <h3 *ngIf="requested" style="color: #7d0d3f; text-align: center; margin-top: 10%;">No requests</h3>
  </div>

  <div *ngFor="let user of users; let j=index">
    <div *ngIf="user!=null">
      <ion-card *ngIf="!nouser" [ngClass]="user.new=='1'? 'new' : 'old'">
        <button ion-button icon-only clear *ngIf="current&&user.id!='809'" class="pop" (click)="presentPopover($event, user.id, user.firstname, user.block)">
          <ion-icon name="md-more"></ion-icon>
        </button>
        <button ion-button icon-only clear *ngIf="pending" class="pop" (click)="presentPopover1($event, user.id, user.firstname)">
          <ion-icon name="md-more"></ion-icon>
        </button>
        <ion-item [ngClass]="user.new=='1'? 'new' : 'old'">
          <ion-avatar item-start>
            <a (click)="view(user.id)"><img [src]="user.img" onError="this.src='../../../assets/imgs/profile_pic.png';"></a>
          </ion-avatar>
          <a (click)="view(user.id)"><h2 text-wrap style="margin-top: 2%; color: black;"><b>{{ user.firstname }} {{ user.lastname }}</b></h2></a>
          <h4 text-wrap>{{ user.company_name }}</h4>
          <h3>{{ user.job_title }}</h3>
          <p text-wrap><b>{{ user.icequestion }}</b></p>
          <p text-wrap>{{ user.iceanswer }}</p>
        </ion-item>
        <ion-row *ngIf="current">
    			<ion-col col-6>
    				<button ion-button round class="button_c" (click)="view(user.id)">View Profile</button>
    			</ion-col>
    			<ion-col col-6>
    				<button ion-button round class="button_c" (click)="message(user.friend_id, user.firstname, user.lastname, user.thread_id)">Message</button>
    			</ion-col>
    		</ion-row>
        <ion-row *ngIf="pending">
          <ion-col col-6>
            <button ion-button round class="button_c" (click)="accept(user.id)">Accept</button>
          </ion-col>
          <ion-col col-6>
            <button ion-button round class="button_c" (click)="reject(user.id)">Reject</button>
          </ion-col>
        </ion-row>
        <button *ngIf="requested" ion-button round class="button_c" (click)="openProfile(user.id)">View profile</button>
      </ion-card><br/>
    </div>
  </div>

</ion-content>
