// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in 'theme/variables.scss'.
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.alert-ios .alert-radio-label{ white-space: pre-line;}
.alert-md .alert-radio-label{ white-space: pre-line;}
.alert-wp .alert-radio-label{ white-space: pre-line;}

ion-menu{
 ion-content{
   /* Vector */
  //  background-color: #7D0D3F !important;
  //  background-image: url('');
   background-size: cover;
   background-position: center;

   .scroll-menu {
     overflow-y: auto;
   }
  .main-menu {
    font-size: 18px;
    font-weight: 500;
    .item {
      padding: 5px 0 5px 30px;
    }
    button {
      text-align: left;
      &:first-child, &:last-child {
        border: none !important;
      }
      .item-inner {
        background-image: none !important;
      }
    }
  }
 }
}



.button_style {
  background: transparent;
  color: white;
  text-align: center;
}

.button_style1 {
  background: rgba($color: #AF1057, $alpha: .4);
  color: white;
  text-align: center;
  
}

@-webkit-keyframes glowing {
  0% { background-color: #7d0d3f; -webkit-box-shadow: 0 0 3px #7d0d3f; }
  50% { background-color: #9c0e4d; -webkit-box-shadow: 0 0 40px #9c0e4d; }
  100% { background-color: #630a32; -webkit-box-shadow: 0 0 3px #630a32; }
}

.ion-logo-whatsapp:before {
   color: green;
}

.para {
  text-align: center;
  color: white;
  font-size: 13px;
}

.color1 {
  color: white;
}

.menu-header {
  padding: 40px 15px 20px 30px;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  .img-holder-main {
    display: block;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 20px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  span {
    display: block;
    color: #FFFFFF;
    opacity: 0.5;
    font-size: 16px;
    line-height: 1;
    margin-bottom: 5px;
  }
  h4 {
    color: #FFFFFF;
    margin: 0;
    font-size: 28px;
    line-height: 1;
  }
}