<ion-content class="main-view">
    <div class="overlay"></div>
    <div class="modal_content" *ngIf="show">
        <div>
            <div class="info">
                <div class="img-holder" *ngIf="comp.image">
                    <img src="{{comp.image}}" alt="community img">
                </div>
                <h3>{{comp.title}}</h3>
            </div>
            <div class="description">
                <p>{{comp.description}}</p>
            </div>
            <ion-row >
                <ion-col *ngIf="canJoin" col-5><span>Requested</span></ion-col>
                <ion-col *ngIf="!canJoin" col-5><button class="button_st" ion-button (click)="sendCreateRequest()"><ion-icon name="checkmark-circle" class="icon_s"></ion-icon>Join</button></ion-col>
                <ion-col col-5><button class="button_st" ion-button (click)="closeModal()"><ion-icon name="md-close-circle" class="icon_s"></ion-icon>Close</button></ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>
      