.main-view {
    background-color: rgba($color: #7d0d3f, $alpha: .7);
    .scroll-content {
        display: flex;
        align-items: center;
        justify-content: center;
        .modal_content {
            width: 100%;
            padding: 30px 15px;
            color: #ffffff;
            h3 {
                margin-bottom: 20px;
            }
            .row {
                justify-content: space-between;
                button {
                    width: 100%;
                    display: block;
                    margin: 0;
                    background-color: #7d0d3f;
                    .button-inner {
                        display: flex;
                        align-items: center;
                        align-content: center;
                        line-height: 1;
                        ion-icon {
                            font-size: 1.4em;
                            margin-right: 10px;
                        }
                    }
                }
            }
            .info {
                display: flex;
                align-items: center;
                padding: 0 5px;
                .img-holder {
                    max-width: 70px;
                    border-radius: 100%;
                    margin-right: 15px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .description {
                padding: 0 5px;
                margin-bottom: 20px;
                font-size: 16px;
                p {
                    margin: 0;
                }
            }
        }
    }
}
.col {
    align-items: center;
    align-content: center;
    display: flex;
}
.requested {
    font-size: 18px;
}