page-add-career {

.toolbar-background {
  background: #7d0d3f;
}

.degree {
  height: 7%;
  background: #7d0d3f;
  padding-top: 5%;
  padding-left: 5%;
  color: white;
  min-height: 9%;
}

.scroll-content {
  padding: 2% !important;
}

#rounded {
  border-radius: 0px !important;
  border: 1px solid lightgrey; 
  margin-bottom: 5%;
}

.card {
  margin: 0 !important;
  width: 100% !important;
}

.item.item-block .item-inner {
  padding-right: 0 !important;
}

.item {
  padding-left: 2% !important;
}

.select_c {
  max-width: 90% !important;
  padding-left: 4% !important;
  width: 100%;
}

.button_c {
  background-color: #7d0d3f;
  color: white;
  margin-left: 37%;
  margin-top: 7%;
}

.radio-ios .radio-checked .radio-inner {
  border-color: #a8caea;
  height: 9px;
}

.radio-ios .radio-checked {
  border-radius: 50%;
  width: 21px;
  height: 21px;
  border-width: 1px;
  border-style: solid;
  border-color: #488aff;
  background-color: #488aff;
}

}
