<ion-header>

  <ion-navbar hideBackButton>
    <ion-title style="text-align: center;"><span style="color: white;">{{ community }}</span></ion-title>
    <ion-buttons left>
	    <button ion-button navPop icon-only>
	        <ion-icon name="ios-arrow-back" style="color: white;"></ion-icon>
	    </button>
	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding [ngClass]="{empty: empty}">
	
	<h2 *ngIf="empty">Be the first one to post</h2>
	<button ion-fixed ion-button *ngIf="!empty" (click)="scroll_page_up()" class="scroll_b"><ion-icon name="arrow-down"></ion-icon></button>
	<ng-container *ngIf="!empty">
	<ion-list>
		<ion-item *ngFor="let message of messages; let i=index">
			<div class="message" [ngClass]="message.replies && message.replies !== null && message.replies !== undefined ? 'with-replies' : ''">
				<div class="main-message">
					<ion-avatar item-left>
						<img *ngIf="message.anonymous != 0"  src="../../assets/imgs/profile_pic.png" alt="anonymous">
						<a *ngIf="message.anonymous == 0" (click)="openProfile(message.user_id, message.user.firstname)"><img [src]="message.user.img" onError="this.src='../../assets/imgs/profile_pic.png';" /></a>
					</ion-avatar>
					<div class="info-holder">
						<div class="top-info" *ngIf="uid != message.user_id">
							<span *ngIf="message.anonymous != 0" class="name">Anonymous</span>
							<a *ngIf="message.anonymous == 0" class="name" (click)="openProfile(message.user_id, message.user.firstname)"><b>{{ message.user.firstname }}</b></a>
							<span>{{ message.created_at }}</span>
						</div>
						<div class="top-info" *ngIf="uid == message.user_id">
							<b class="name">You</b> 
							<div class="right-item">
								<button (click)="delMessage(message.id)">delete</button>
								<button (click)="editMessage(message.id, message.text)">edit</button>
								<span>{{ message.created_at }}</span>
							</div>
						</div>
						<div class="attach-img" *ngIf="message.attachments && message.attachments != null && message.attachments != undefined">
							<img src="{{message.attachments}}" alt="attach">
						</div>
						<p text-wrap>{{ message.text }}</p>
						<span class="create-reply" (click)="replyOnClick(message.id, message.text, i)"><ion-icon name="ios-undo"></ion-icon>Reply</span>
					</div>
				</div>
				<ng-container *ngIf="message.replies && message.replies !== null && message.replies !== undefined">
					<div class="reply-message" *ngFor="let reply of message.replies">
						<div class="info-holder">
							<div class="top-info" *ngIf="uid != reply.user_id">
								<a class="name"><b>{{ reply.user.firstname }}</b></a>
								<div class="right-item">
									<span>{{ reply.created_at }}</span>
								</div>
							</div>
							<div class="top-info" *ngIf="uid == reply.user_id">
								<b class="name">You</b> 
								<div class="right-item">
									<button (click)="delReply(reply.id , i)">delete</button>
									<button (click)="editReply(reply.id, reply.text, i)">edit</button>
									<span>{{ reply.created_at }}</span>
								</div>
							</div>
							<div class="attach-img" *ngIf="reply.attachments && reply.attachments != null && reply.attachments != undefined">
								<img src="{{reply.attachments}}" alt="attach">
							</div>
							<p text-wrap>{{ reply.text }}</p>
						</div>
					</div>
				</ng-container>
			</div>
			<!-- <ion-row>
				<ion-col col-3>
				</ion-col>
				<ion-col col-6>
					<a (click)="collapse_p(i, q.id)"><p style="text-align: center; font-size: 10px;" *ngIf="q.answers==1&&coll[i]">{{ len[i] }} reply - Collapse <ion-icon name="add-circle"></ion-icon></p></a>
					<a (click)="collapse_p(i, q.id)"><p style="text-align: center; font-size: 10px;" *ngIf="q.answers>1&&coll[i]">{{ len[i] }} replies - Collapse <ion-icon name="add-circle"></ion-icon></p></a>
					<a (click)="hide_p(i, q.id)"><p style="text-align: center; font-size: 10px;" *ngIf="q.answers>=1&&!coll[i]">Hide <ion-icon name="remove-circle"></ion-icon></p></a>
				</ion-col>
				<ion-col col-3>
					<a (click)="set_ans(i)"><p *ngIf="!show_post[i]" style="font-size: 11px; margin-left: 40%;"><ion-icon name="arrow-dropright"></ion-icon>&nbsp;Reply</p></a>
					<a (click)="set_ans(i)"><p *ngIf="show_post[i]" style="font-size: 11px; margin-left: 40%;"><ion-icon name="arrow-dropdown"></ion-icon>&nbsp;Reply</p></a>
				</ion-col>
			</ion-row> -->
	
			<!-- <div *ngIf="show_more[i]" style="margin-left: 17%; margin-top: 3%;">
				<div style="border-left: solid 2px lightgray; margin-top: 3%;" *ngFor="let a of more_ans[i].answer; let j=index">
					<p text-wrap text-justify style="color: grey; padding-left: 4%;">{{ a.ans }}</p>
					<h6 *ngIf="a.userid!=id" style="color: #7d0d3f; padding-left: 3%; margin-bottom: 8%;"><b>{{ a.name }}</b></h6>
					<h6 *ngIf="a.userid==id" style="color: #7d0d3f; padding-left: 3%; margin-bottom: 8%;"><b>You</b></h6>
				</div>
			</div> -->
	
			<!-- <div *ngIf="show_post[i]" style="margin-left: 17%; margin-top: 3%;">
				<ion-grid>
					<ion-row>
						<ion-col col-9 style="border: solid 1px lightgray;">
							<button ion-button clear style="float: left; width: 17%; border-color: #7d0d3f;" icon-only (click)="toggled1 = !toggled1" [(emojiPickerIf)]="toggled1" [emojiPickerDirection]="'top'"
					  (emojiPickerSelect)="handleSelection1($event)">
							  <ion-icon name="md-happy" style="color: #7d0d3f;"></ion-icon>
							</button>
							<textarea ion-textarea *ngIf="show_post[i]" placeholder="Add comment" style="width: 80%; border: none; border-bottom: solid 1px lightgray; font-size: 11px; padding-top: 7%;" name="post_a" [(ngModel)]="post_a"></textarea>
						</ion-col>
						<ion-col col-3>
							  <button clear icon-only style="float: left; width: 20%;" ion-button><ion-icon style="color: #7d0d3f;" name="attach"></ion-icon></button>
							  <button style="color: #7d0d3f; width: 25%;" ion-button icon-only clear (click)="presentPopover($event)">
							  <ion-icon name="md-more"></ion-icon>
							</button>
							<button ion-button clear icon-only style="width: 45%;" (click)="add_answer(i, q.answers, q.id)"><ion-icon style="color:#7d0d3f;" name="send"></ion-icon></button>
						</ion-col>
					</ion-row>
				</ion-grid>
				
			</div><br/> -->
	
		</ion-item>
	</ion-list>
</ng-container>

</ion-content>

<ion-footer>
  <ion-grid>
	<ion-row *ngIf="replyBtn">
		<ion-col class="reply-chat-message" col-12>
			<button class="close-reply" (click)="closeReply()">
				<ion-icon name="md-close-circle"></ion-icon>
			</button>
			<span><ion-icon name="ios-undo"></ion-icon>{{replyMsg}}</span>
		</ion-col>
	</ion-row>
    <ion-row>
      <ion-col class="controls" col-12>
		<div class="img-holder" (click)="toggleAnonymous()" [ngClass]="anonymous ? 'anonymous' : ''">
			<img src="{{img}}" alt="user img" onError="this.src='../../../assets/imgs/profile_pic.png';">
			<span><ion-icon name="person"></ion-icon></span>
		</div>
		<ion-textarea #input type="text" autocorrect="on" rows="2" autosize placeholder="Write a message..." [(ngModel)]="post_q" (ngModelChange)="postInputChanged($event)"></ion-textarea>
		
		<button  ion-button clear icon-only (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'top'"
			(emojiPickerSelect)="handleSelection($event)">
			<ion-icon name="md-happy"></ion-icon>
		</button>
      	<button class="attach-btn" clear (click)="getImage()" [ngClass]="{'attach' : imgBase != null, 'disable' : showEdit}" icon-only ion-button><ion-icon  name="attach"></ion-icon></button>
        <button *ngIf="!showEdit" [ngClass]="post_q == '' && imgBase === null ? 'disable' : ''" ion-button clear icon-only (click)="!replyBtn ? sendMessage() : sendReply()"><ion-icon name="send"></ion-icon></button>
        <button *ngIf="showEdit" [ngClass]="post_q == '' && imgBase === null ? 'disable' : ''" ion-button clear icon-only (click)="!showEditReply ? sendEditMessage() : sendEditReply()"><ion-icon name="create"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
