page-single-comm {
  .toolbar-background {
    background: #7d0d3f;
  }

  .scroll-content {
    padding: 0 !important;
  }

  .fixedButton {
    width: 10%;
    background: #7d0d3f;
    color: white;
    height: 7%;
    margin-left: 90%;
    margin-top: 0%;
  }

  .fixedButton1 {
    width: 10%;
    background: #7d0d3f;
    color: white;
    height: 7%;
    margin-left: 0%;
    margin-top: 0%;
    opacity: 0.8;
  }

  .scroll_b {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    opacity: 0.9;
    background: white;
    color: #7d0d3f;
    border: solid 1px #7d0d3f;
    bottom: 5%;
    right: 5%;
    display: block;
    position: absolute;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a{
    color: #666666;
  }
}
.item-block .item-inner {
  border: none !important;
}

ion-item {
  margin-bottom: 10px !important;
  &:first-child {
    border-top: none !important;
  }
  &:last-child {
    border-bottom: none !important;
  }
}

.main-message {
margin-bottom: 25px;
}

.main-message, .reply-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  ion-avatar {
    min-width: 50px;
    img {
      width: 50px;
      height: 50px;
    }
  }
  .info-holder {
    word-break: break-all;
    width: 100%;
    padding-top: 5px;
    .top-info {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 8px;
      span {
        font-size: 14px;
        line-height: 140%;
        color: #000000;
        opacity: 0.5;
      }
      button {
        padding: 0;
        font-size: 14px;
        background-color: transparent;
        color: #7D0D3F;
      }
    }
  }
  .name {
    white-space: normal;
    font-size: 18px;
    color: #7D0D3F;
    opacity: 0.8;
    display: block;
    width: 50%;
    word-break: break-word;
  }
  p {
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    opacity: 0.8;
    margin-bottom: 10px;
    word-break: break-word;
  }
}

ion-footer {
  background-color: #7D0D3F;
  color: #ffffff;
  button {
    color: #ffffff !important;
    &.disable {
      pointer-events: none;
      opacity: .5;
    }
  }
  .text-input{
    color: #ffffff;
    &::placeholder {
      color: rgba(#ffffff, .3);
    }
  }
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 10px !important;
  }
}

.img-holder {
  max-width: 36px;
  height: auto;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 10px;
  position: relative;
  span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color .3s, border-color .3s;
    opacity: 1;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    justify-content: center;
    font-size: 20px;
    ion-icon {
      opacity: 0;
      transition: opacity .3s;
    }
  }
  &.anonymous {
    span {
      border-color: #ffffff;
      background-color: #7D0D3F;
      ion-icon {
        opacity: 1;
      }
    }
    
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.empty {
  .scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 22px;
      line-height: 140%;
      color: #000000;
      opacity: 0.2;
    }
  }
}
.footer {
  .grid {
    .reply-chat-message {
      position: relative;
      padding: 10px 15px;
      border-bottom: 1px solid rgba(#ffffff, .3);
      span {
        display: block;
        width: 100%;
        ion-icon {
          margin-right: 10px;
        }
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 10px 15px;
        line-height: 1;
        border-radius: 15px;
        background-color: rgba(#ffffff, .3)
      }
      .close-reply {
        position: absolute;
        right: 5px;
        top: -10px;
        padding: 0;
        margin: 0;
        background: #ffffff;
        line-height: 1;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        ion-icon {
          color: #7D0D3F;
          font-size: 24px;
        }
      }
    }
  }
}

.create-reply {
  color: #7D0D3F;
  opacity: .7;
  font-size: 14px;
  ion-icon {
    font-size: 12px;
    margin-right: 5px;
  }
}

.reply-message {
  .info-holder {
    padding-left: 66px;
  }
}
.message {
  &.with-replies{
    position: relative;
    &:after {
      content: '';
      position: absolute;
      width: 5px;
      height: 100%;
      background: #973D65;
      opacity: 0.1;
      border-radius: 10px;
      top: 0;
      left: 24px;
      z-index: 0;
    }
  }
}

ion-avatar {
  z-index: 2;
  margin-top: 0 !important;
}

.attach-btn {
  &.attach {
    opacity: .4;
  }
}

.attach-img {
  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
  }
}