<ion-content class="main-view">
        <div class="overlay"></div>
        <div class="modal_content">
          <div>
            <h3 style="color: white;">Edit channel</h3>
            <ion-item>
                  <ion-input class="basic" placeholder="Change channel name" (ngModelChange)="inputChange($event)" [(ngModel)]="title"></ion-input>
              </ion-item>
              <ion-row>
                  <ion-col col-5><button class="button_st" ion-button (click)="sendEditRequest()"><ion-icon name="checkmark-circle" class="icon_s"></ion-icon>Edit</button></ion-col>
                  <ion-col col-5><button class="button_st" ion-button (click)="closeModal()"><ion-icon name="md-close-circle" class="icon_s"></ion-icon>Close</button></ion-col>
              </ion-row>
          </div>
        </div>
      </ion-content>
      