page-blog {

#container { 
  border: 0.5px solid lightgrey;
  width: 100%;
  padding: 2% 2% 2% 2%;
}

#comment_c {
  padding-left: 2%;
  background-color: #d3d3d394;
  margin-bottom: 0;
  height: 0%;
  border: 0.5px solid lightgrey;
}

#rounded {
  border-radius: 2px !important;
  border: 0.5px solid black; 
}

.full {
  width: 100%;
  margin-top: 4%;
  z-index:-1;
}

.shareicon {
  position: absolute;
  left: 82%;
  top: 10%;
  padding: 3%;
}

.button_c {
  height: 25%;
  width: 12%;
  background-color: black;
}

.toolbar-background {
  background: #7d0d3f;
}

.back-button.show-back-button {
  color: white !important;
}

.scroll_b {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  opacity: 0.9;
  background: white;
  color: #7d0d3f;
  border: solid 1px #7d0d3f;
  bottom: 5%;
  right: 5%;
  display: block;
  position: absolute;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

}
