 <ion-header>

  <ion-navbar hideBackButton>
    <ion-title style="text-align: center;"><span style="color: white;">{{ name }}</span></ion-title>
    <ion-buttons left>
	    <button ion-button navPop icon-only>
	        <ion-icon name="ios-arrow-back" style="color: white;"></ion-icon>
	    </button>
	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

	<div *ngIf="!newsletter">
	<button ion-fixed ion-button (click)="scroll_page_up()" class="scroll_b"><ion-icon name="arrow-up"></ion-icon></button>
	<ion-card style="padding: 4% 2% 2% 2%;">
		<h4><b>{{ blog.title }}</b></h4>

		<div class="full">
			<a (click)="open_browser()"><img [src]="blog.media" style="width: 100%; margin-bottom: 4%;"></a>
			<div class="shareicon">
				<button ion-button clear (click)="share()" class="button_c"><ion-icon name="share-alt" style="color:white;"></ion-icon></button>
			</div>
		</div>
	
		<p text-justify [innerHTML] = "blog.title_description"></p>
		<p *ngIf="video!=''"><a (click)="open_browser()">View More</a></p>
		<br/>	

		<div id="comment_c"><h4><b>Comments</b></h4></div>
		<div id="container">
		<h5>Add comment</h5>
		<ion-item id="rounded">
			<ion-textarea [(ngModel)]="comment"></ion-textarea>
		</ion-item>
		<button ion-button small style="background-color: #7d0d3f; color: white;" (click)="addComment()">Submit</button>
		</div><br/><br/>

		<h5 *ngIf="!empty"><b>Comments</b></h5>
		<ion-list>
			<ion-item *ngFor="let cmt of cmts">
				<ion-avatar item-start><img src="{{ cmt.img }}"></ion-avatar>
				<h6><b>{{ cmt.comment_name }}</b></h6>
				<p text-wrap>{{ cmt.comment_body }}</p>
			</ion-item>
		</ion-list>
	</ion-card>
	</div>

	<div *ngIf="newsletter" style="padding: 5%;">
		<p text-justify [innerHTML]="detail"></p>
	</div>

</ion-content>
